:root {
    font-size: 20px;
}
div.header {
    display: flex;    
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
}
span {
    text-transform: uppercase;
}
div.header__logo {
    padding-top: 10px;
}

div.header__search-1 {
    margin-top: 25px;
    display: flex;
}
div.header__search-1>input { /*Поле вводу для пошуку*/
    width: 500px;
    height: 50px;
    border: 2px solid #323232;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: Montserrat;    
    font-weight: 500;
    font-size: 0.8rem; 
}
div.header__btn {
    display: flex;
    justify-content: flex-end;      
}
div.header__btn-items>input { /*Розміри кнопок хедера*/
    color: #ffffff;
    text-align: center;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 0.8rem;
    width: 100px;
    height: 50px;
    border-radius: 5px;      
    margin-top: 25px;
    box-shadow: 0 0 2px black;
    border: none;
    cursor: pointer;
}
.btn-1>input{
    background-color: #EF781A;
}
.btn-2>input {
    background-color: #00D008;
    margin-left: 30px;
}
div.header__line { /*Лінія, яка відділяє хедер від основної частини сторінки*/
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 25px;
}
div.main { /*Розміри сновної частини сторінки*/
    width: 80%;
    margin: 0 auto;
}
div.main__item-1 { /*Поле реклами, поділене на дві частини -для тексту і картинки*/
    background-color: #FFD086;
    border-radius: 10px;
    margin-top: 35px;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 30px;
}
div.main__item-1-text1 >h1 { /*Х-ки заголовку тексту*/
    font-family: Montserrat,sans-serif;
    font-size: 1.8rem;
    font-weight: 800;
    color: black;
    padding-top: 110px;
    padding-left: 60px;
}
div.main__item-1-text1 >h3 { /*Х-ки основного тексту реклами*/
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: black;
    padding-top: 25px;
    padding-left: 60px;
}
div.main__item-1-img img { /*РОзміри блоку сторінки*/
    width: 80%;
}
div.main__restaurant { /*Підзаголовок меню "Ресторан" + поле пошуку*/
    display: flex;
    justify-content: space-between;
}
h2 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.2rem;
    padding-top: 15px;    
    color: black;
}
div.main__restaurant-search >input { /*Поле пошуку*/
    border: none;
    width: 500px;
    height: 50px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 30px;
    font-family: Montserrat;
    font-size: 0.9rem;
    font-weight: 500;
    color: #A1A1A1;
}
div.cards {/* Х-ки карток, відступи між колонками і рядами*/
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
    gap: 30px;
    border-radius: 10px;
    margin-top: 35px;
    margin-bottom: 35px;
}
div.cards div {
    width: 100%;
    
}
div.cards >div {
    height: 290px;
    
}
div.cards__items-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.cards__items{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
}
#img-1 {
    background-image: url("../img/pic.png");
    background-size: 100%;
    background-repeat: no-repeat
}
#img-2 {
    background-image: url("../img/pic 2.png");
    background-size: 100%;
    background-repeat: no-repeat
}
#img-3 {
    background-image: url("../img/pic 3.png");
    background-size: 100%;
    background-repeat: no-repeat
}
#img-4 {
    background-image: url("../img/pic 4.png");
    background-size: 100%;
    background-repeat: no-repeat
}
#img-5 {
    background-image: url("../img/pic 5.png");
    background-size: 100%;
    background-repeat: no-repeat
}
#img-6 {
    background-image: url("../img/pic 6.png");
    background-size: 100%;
    background-repeat: no-repeat
}
#img-7 {
    background-image: url("../img/pic 7.png");
    background-size: 100%;
    background-repeat: no-repeat
}
#img-8 {
    background-image: url("../img/pic 8.png");
    background-size: 100%;
    background-repeat: no-repeat
}
#img-9 {
    background-image: url("../img/pic 9.png");
    background-size: 100%;
    background-repeat: no-repeat
}
#img-10 {
    background-image: url("../img/pic 10.png");
    background-size: 100%;
    background-repeat: no-repeat
}

#img-11 {
    background-image: url("../img/pic 11.png");
    background-size: 100%;
    background-repeat: no-repeat
}
#img-12 {
    background-image: url("../img/pic 12.png");
    background-size: 100%;
    background-repeat: no-repeat
}
#img-13 {
    background-image: url("../img/pic 13.png");
    background-size: 100%;
    background-repeat: no-repeat
}
#img-14 {
    background-image: url("../img/pic 15.png");
    background-size: 100%;
    background-repeat: no-repeat
}

#img-15 {
    background-image: url("../img/pic 16.png");
    background-size: 100%;
    background-repeat: no-repeat
}
#img-16 {
    background-image: url("../img/pic 17.png");
    background-size: 100%;
    background-repeat: no-repeat
}
#img-17 {
    background-image: url("../img/pic 18.png");
    background-size: 100%;
    background-repeat: no-repeat
}

div.card__inner{ /*Детальна інфо про роботу ресторану*/
    width: 100%;
    height: 92px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px #000000;
    border-radius: 0px 0px 10px 10px;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-gap: 5px;
}  
div.card__inner h3:first-of-type { /*Об'єднання колонок інфи*/
    grid-column-start: 1;
    grid-column-end: 3;
}  
div.card__inner h3 {
    padding-left: 10px;
    margin-top: 10px;
}
.time {   
    margin-bottom: 10px;
    margin-left: 10px;
}
.deliv {   
    margin-bottom: 10px;
    margin-left: 15px;
    
}
.card__prop {
    margin-top: 10px;
    margin-left: 11px;   
    font-family: Montserrat;
    font-weight: 800;
    font-size: 0.6rem;
    text-align: center;
    border-radius: 5px;
    color: #ffffff;
}

#prop-1 {
    width: 140px;
    height: 40px;
    background-color: #FE7D34;
}   

#prop-2 {   
    width: 167px;
    height: 56px;
    background-color: #FF0C0C;
    }
#prop-3 {  
     width: 236px;
    height: 40px;
    background-color: #FF0C0C;
}
.container { /*Second header*/
    width: 80%;
    margin: 0 auto;
}
.header__second {
    background-color: #F8F4FC;
}

div.nav {       
    display: flex;    
    justify-content: space-between;   
    flex-direction: row;
    font-weight: 700;
    font-family: Montserrat;
    color: #354657;
    font-size: 0.8rem;
    font-family: Raleway;
}
.logo {
    width: 20%;
}
ul.nav__images {
    width: 20%;
    list-style: none;
    display: flex;
    flex-direction: row;
    
}
ul.nav__images >li{
    padding-left: 15%;    
}
li >a  {
    text-decoration: none;
    color: #354657;
}
ul.nav__item-1 {
    width: 30%;
    list-style: none;
    display: flex;
    flex-direction: row;    
}
ul.nav__item-1 >li {
    padding-left: 20%;
}
ul.nav__item-3 {
    list-style: none;
    display: flex;
    flex-direction: row;
    color: #626262;
    font-family: Montserrat;
    font-weight: 400;    
    font-size: 0.6rem;    
}
ul.nav__item-3 >li {
    padding-left: 1%;
}
div.footer {
    background-color: #323232;
}
ul.nav__item-5 {     
        list-style: none;
        display: flex;
        flex-direction: row;
        color: #ffffff;
        font-family: Montserrat;
        font-weight: 400;    
        font-size: 0.6rem;    
    }
ul.nav__item-5 li >a {
    color: #ffffff;
    padding-right: 30px;
}
li.inderline{
    text-decoration: underline;
}