:root {
    font-size: 20px;
}
body {
    margin: 0 0 0 0;
    font-family: Raleway;
}
.header {
    background-color: #FFFFFF;
}

.container {
    width: 80%;
    margin: 0 auto;
}
div.nav__header-1, .footer{ 
    width: 100%;      
    display: flex;    
    justify-content: space-between;   
    flex-direction: row;
}
ul.nav__header-item-2 >li {
    font-weight: 700;
    color: #354657;
    font-size: 0.8rem;
    font-family: Raleway, sans-serif;
}
ul.nav__header-item-2 {
    width: 40%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;    
}
ul.nav__header-item-3 {
    width: 20%;
    list-style: none;
    display: flex;
    flex-direction: row; 
    padding-top: 20px;   
}
ul.nav__header-item-3 >li{
    padding-left: 15%;    
}
li >a  {
    text-decoration: none;
    color: #354657;
}
ul.nav__header-item-4 {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    }

.main {
    background-image: url(../img/24x11-1600x733-daily-habits-nutrition-kit\ 1\ 1.png);
    width: 100%;
    background-repeat: no-repeat;
    height: 600px;
}
.title {
    width: 700px;
    color: #ffffff;
    position: relative;
    -webkit-animation: title 2s ease-in-out 1;
    animation: title 2s ease-in-out 1;
    overflow: hidden;

}
@keyframes title {
    from {
        top: 0;
        left: -100%;
    }
    to {
        top: 0;
        left: 0;
    }
}
.title >h1{
    font-family: Raleway;
    font-weight: 800;
    font-size: 2.2rem;
    display: inline-block;
    margin-top: 0px;
    margin-top: 150px;
}
.title >h3{
    font-family: Raleway;
    font-weight: 400;
    font-size: 1.2rem;
    
    padding-top: 20px;
}
.btn-common {
padding-top: 40px;
}
.btn-common input {
    color: #ffffff;
    font-family: Raleway;
    font-weight: 700;
    font-size: 0.8rem;
    width: 206px;
    height: 54px;
    border-radius: 50px;
    background-color: #946FD3;
    border: none;
    cursor: pointer;
}
.advert {
    background-color: #F0E6FF;
    width: 100%;
    height: 269px;
}
span {
    text-transform: uppercase;
}
.proposition {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}
.item-2 {
    width: 53%;
}
.item-2 >h3 {
    color: #946FD3;
    font-family: Raleway;
    font-weight: 700;
    font-size: 1rem; 
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 15px;
}
.item-2 >h2 {
    color: #354657;
    font-family: Raleway;
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 0;
    
}
.item-1 {
    display: flex;
    position: relative;
       
}
.item-1 div {
    position: absolute;
} 
.img-1 {
    bottom: -50px;
    left: 0px;
    -webkit-animation: rotation 10s linear infinite;
    animation: rotation 10s linear infinite;
    
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.img-2 {
    top: -50px;
    left: 140px;
    -webkit-animation: rotations 10s linear infinite;
    animation: rotations 10s linear infinite;
}


@keyframes rotations {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
.title2 {
    color: #354657;
    font-family: Raleway;
    font-weight: 700;
    font-size: 1.3rem;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
div.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 400px;
}
div.cards >div {
    background-color: white;
    box-sizing: border-box;
}
div.card-2 {
    margin: 0 25px;
}
.card-title {
    color: #354657;
    font-family: Raleway;
    font-weight: 700;
    font-size: 1.1rem;
}
.card-text {
    color: #354657;
    font-family: Raleway;
    font-weight: 400;
    font-size: 0.8rem;
}
.card-body input {
    color: #946FD3    ;
    font-family: Raleway;
    font-weight: 700;
    font-size: 0.8rem;
    width: 206px;
    height: 54px;
    border-radius: 50px;
    background-color: #ffffff;
    border: 2px solid #946FD3;
    box-sizing: border-box;
    cursor: pointer;
}
div.cards >div:hover{
    background-color: #946FD3;
    box-sizing: border-box;
}

div.card-1:hover .card-title {
    color: #ffffff;
    font-family: Raleway;
    font-weight: 700;
    font-size: 1.1rem;
}
div.card-2:hover .card-title {
    color: #ffffff;
    font-family: Raleway;
    font-weight: 700;
    font-size: 1.1rem;
}
div.card-3:hover .card-title {
    color: #ffffff;
    font-family: Raleway;
    font-weight: 700;
    font-size: 1.1rem;
}
div.card-1:hover .card-text {
    color: #ffffff;
    font-family: Raleway;
    font-weight: 400;
    font-size: 0.8rem;
}
div.card-2:hover .card-text {
    color: #ffffff;
    font-family: Raleway;
    font-weight: 400;
    font-size: 0.8rem;
}
div.card-3:hover .card-text {
    color: #ffffff;
    font-family: Raleway;
    font-weight: 400;
    font-size: 0.8rem;
}
div.card-1:hover .card-body input {
    color: #ffffff    ;
    font-family: Raleway;
    font-weight: 700;
    font-size: 0.8rem;
    width: 206px;
    height: 54px;
    border-radius: 50px;
    background-color: #946FD3;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    cursor: pointer;
}
div.card-2:hover .card-body input {
    color: #ffffff    ;
    font-family: Raleway;
    font-weight: 700;
    font-size: 0.8rem;
    width: 206px;
    height: 54px;
    border-radius: 50px;
    background-color: #946FD3;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    cursor: pointer;
}
div.card-3:hover .card-body input {
    color: #ffffff    ;
    font-family: Raleway;
    font-weight: 700;
    font-size: 0.8rem;
    width: 206px;
    height: 54px;
    border-radius: 50px;
    background-color: #946FD3;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    cursor: pointer;
}
div.cards a{
    text-decoration: none;
}
ul.nav__footer-item-1 {
    width: 30%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
}
ul.nav__footer-item-1 >li {
    font-weight: 700;
    color: #354657;
    font-size: 0.8rem;
    font-family: Raleway, sans-serif;
}
ul.nav__footer-item-2 {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    }
ul.nav__footer-item-2 >li{
    padding-left: 15px;
}
li a:hover {
    text-decoration: none;
    color: #354657;
}
.line{
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 18px;
}