
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.registration {
    width: 480px;
    height: 1000px;
    background-color: black;
    box-sizing: border-box;        
    box-sizing: border-box;

        .title {
            text-decoration: uppercase;
            color: #F07C00;
            font-weight: 900;
            font-size: 1.8rem;
            text-align: center;
            padding-top: 42px;
            padding: 24px;
        }
        .elements {
            width: 440px;
            background-color: black;
            margin: 0 auto;
        }
        .elements >lable {
            color: white;
            font-weight: 500;
            font-size: 0.9rem;
            width: 100%;
        }
        input {
            padding-left: 10px; 
            cursor: pointer;
        }
        .elements >input {
            background-color: white;
            box-sizing: border-box;
            border-radius: 10px;
            width: 100%;
            height: 47px; 
                      
        }
        .elements input:hover {
            border: 2px solid #FF6D00;
        }
        .selector {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .selector select {
        background-color: white;
            box-sizing: border-box;
            border-radius: 10px;
            width: 136px;
            height: 47px;
            color: black;
            font-weight: 500;
            font-size: 0.9rem;
            text-align: center;
            cursor: pointer;
        }
        .selector select >option {            
            color: black;
            font-weight: 500;
            font-size: 0.9rem;
            text-align: center;
            
        }
        .selector select:hover {
            border: 2px solid #FF6D00;
        }
        .btn input {
            width: 440px;
            height: 80px;
            border-radius: 15px;
            background-color: #F07C00;
            color: white;
            font-weight: 700;
            font-size: 1.2rem;
            text-align: center;
            box-sizing: border-box;
            margin: 55px 20px;
        }

}