:root {
    font-size: 20px;
}
body {
    font-family: 'Assistant', sans-serif;
    margin: 0 0 0 0;
}
.bg-img {
    background-image: url("../image/Milan_Holidays_Hover.jpg");
    background-size: cover;    
    width: 100vw;
    height: 100vh;
    
    background-repeat: no-repeat;
 }
div.container {
    width: 80%;
    margin: 0 auto;
}
.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 100%;
    height: auto;
    margin: 0;
        }
.outer-1 { /*Блок для зміни кольору логотипа при наведенні*/
    position: relative;
    margin: 0;    
}
.outer-2 {
    position: relative;   
    margin: 0;  
}
.outer-3 {
    position: relative;    
    margin: 0; 
}
.inner-1 {
    position: absolute;
    visibility: hidden;
    top: 0px;
    margin: 0; 
}
.inner-2 {
    position: absolute;
    visibility: hidden;
    top: 0px;
    margin: 0; 
}
.inner-3 {
    position: absolute;
    visibility: hidden;
    top: 0px;
    margin: 0; 
}
.outer-1:hover .inner-1{
    visibility: visible;    
}
.outer-2:hover .inner-2{
    visibility: visible;  
}
.outer-3:hover .inner-3{
    visibility: visible;  
}
.logo__item-1 {
    width: 20%;
    padding-top: 2%;
    list-style: none;
}
.logo__item-2 {
    width: 20%;
    list-style: none;
    text-align: center;
    color: #ffffff;
    padding-top: 2%;
    font-size: 20px;
}
.logo__item-3 {
    width: 20%;
    list-style: none;
    text-align: center;
    padding-top: 2%;
    color: #ffffff;
    font-size: 20px;
}
.logo__item-2 >a{
    color: #ffffff;
    text-decoration: none; 
    font-size: 1rem;
    width: 20%;
    list-style: none;    
    padding-top: 2%;
}
.logo__item-3 >a {
    text-decoration: none;
    width: 15%;
    list-style: none;    
    padding-top: 2%;
    color: #ffffff;
    font-size: 20px;    
}
.logo__item-3:hover >a {
    color: #F26522;
}
.logo__item-2:hover >a {
    color: #F26522;
}
div.card:hover h2.new {
    color: #F26522;
}
.grid {
    display: grid;
    grid-template-columns: 50px 150px;
}
.grid div:first-child {
    grid-row: 1/3;
}
.main__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 60px;
    margin-top: 30px;
}
.main__items >div{
    width: 100%;
}
.card {
    box-sizing: border-box;
    position: relative;
    
}
.main__items-details {
    width: 99%;
    height: 63px;
    border: 1px solid black;
    background-color: #F26522;
    color: #ffffff;
    padding: 3px;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
    visibility: hidden;
    position: absolute;
    background-position: bottom;
    bottom: 99px;
}
div.img >img{
    width: 100%;   
    background-repeat: no-repeat;
    box-shadow: 0px 0px 8px black;
}

div.card h2 >a {
    color: #ffffff;
    text-decoration: none; 
    font-size: 1.2rem;
}
.card:hover .main__items-details {
    visibility: visible;
    
}
.card:hover h2 >a {
color: #F26522;
}
h4 {
    margin: 0;
}
span {
    font-size: 1.4rem;
}
.main__items h2 {
    text-align: center;
    padding-bottom: 5px;
}

.end {
    margin-bottom: 5%;
    text-align: center;
}
h3 >a {    
    text-decoration: none;
    color:#ffffff;
}
h3:hover >a {
    color: #F26522;
}