@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap");
* { /* '*' means that this styles touches all tags in a document*/
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after { /* here the parameter "box-sizing" is used with "border-box" that changes the width of a block and as a result we can easely count */
  box-sizing: border-box;
}

/* here these parameters delete lines of borders in some brousers: */
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/* here these parameters say to brousers that these tags are block one: */
nav, footer, header, aside {
  display: block;
}

/* here these parameters settles styles to all brousers that can't be changed by brousers themselves: */
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 30px;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* the font is settld to form's tags, because these tags don't inherit styles of the document */
input, button, textarea {
  font-family: inherit;
}

/* these parameters delete some brousers features and settle the needed */
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* these parameters delete some brousers features and settle the needed */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* Font : El Messiri*/
/* Font : Proxima Nova*/
@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/Mark Simonson - Proxima Nova Regular.eot");
  src: local("☺"), url("../fonts/Mark Simonson - Proxima Nova Regular.woff") format("woff"), url("../fonts/Mark Simonson - Proxima Nova Regular.ttf") format("truetype"), url("../fonts/Mark Simonson - Proxima Nova Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/Mark Simonson - Proxima Nova Semibold.eot");
  src: local("☺"), url("../fonts/Mark Simonson - Proxima Nova Semibold.woff") format("woff"), url("../fonts/Mark Simonson - Proxima Nova Semibold.ttf") format("truetype"), url("../fonts/Mark Simonson - Proxima Nova Semibold.svg") format("svg");
  font-weight: normal;
  font-style: 600;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/proximanova-bold.eot");
  src: local("☺"), url("../fonts/proximanova-bold.woff") format("woff"), url("../fonts/proximanova-bold.ttf") format("truetype"), url("../fonts/proximanova-bold.svg") format("svg");
  font-weight: normal;
  font-style: 700;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/proximanova-light.eot");
  src: local("☺"), url("../fonts/proximanova-light.woff") format("woff"), url("../fonts/proximanova-light.ttf") format("truetype"), url("../fonts/proximanova-light.svg") format("svg");
  font-weight: normal;
  font-style: 300;
}
/* 	COLOURS:*/
/* 	BACKGROUND COLOURS:*/
/* FONT : Proxima Nova*/
.info__textblock .textblock__title {
  font-family: "Proxima Nova";
  font-size: 1.5rem;
  line-height: 2.125rem;
  font-weight: 700;
}

.comments__card .card__title {
  font-family: "Proxima Nova";
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.cost__price .price__text {
  font-family: "Proxima Nova";
  font-size: 1.125rem;
  line-height: 1.5625rem;
  font-weight: 400;
}

.info__text {
  font-family: "Proxima Nova";
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 300;
}

.footer .rights__item, .header__item {
  font-family: "Proxima Nova";
  font-size: 0.875rem;
  line-height: 1.1875rem;
  font-weight: 400;
}

.comments__card:hover .card__text, .comments__card:hover .card__title {
  font-family: "Proxima Nova";
  font-size: 0.875rem;
  line-height: 1.225rem;
  font-weight: 400;
}

.footer__contacts .contacts__btn .btn__item, .header__btn .btn__item {
  font-family: "Proxima Nova";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 600;
}

.comments__card .card__text {
  font-family: "Proxima Nova";
  font-size: 0.625rem;
  line-height: 0.875rem;
  font-weight: 300;
}

/* FONT : El Messiri*/
.cost__subtilte, .info__subtitle, .comments__subtitle, .session__subtitle {
  font-family: "El Messiri";
  font-size: 2.625rem;
  line-height: 3.6875rem;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 790px) {
  .cost__subtilte, .info__subtitle, .comments__subtitle, .session__subtitle {
    font-size: 2rem;
    line-height: 3.0625rem;
  }
}

.footer__contacts .contacts__title, .session__carditem .carditem__title, .session__carditem-big .carditem__title, .aqua__texttitle {
  font-family: "El Messiri";
  font-size: 1.5rem;
  line-height: 2.125rem;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 790px) {
  .footer__contacts .contacts__title, .session__carditem .carditem__title, .session__carditem-big .carditem__title, .aqua__texttitle {
    font-size: 1.3125rem;
    line-height: 1.8125rem;
  }
}

.cost__text {
  font-family: "El Messiri";
  font-size: 1.3125rem;
  line-height: 1.8125rem;
  font-weight: 700;
  text-align: center;
}

.cost__price .price__cost {
  font-family: "El Messiri";
  font-size: 1.125rem;
  line-height: 1.5625rem;
  font-weight: 700;
  text-align: right;
}

/*BODY*/
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #162831;
}

.content {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1328px;
  margin: 0 auto;
  padding: 0px 16px 0px 16px;
}
@media (max-width: 768.98px) {
  .container {
    max-width: none;
  }
}

/* HEADER*/
.header {
  flex: 0 1 auto;
  /* HEADER 'burger' */
}
.header__menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px 30px 0px;
}
.header__logo {
  flex: 0 0 60px;
  display: flex;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
@media (max-width: 767.98px) {
  .header__logo {
    flex: 0 0 40px;
  }
}
.header__logo img {
  width: 100%;
  display: block;
}
.header__menu-list {
  flex: 0 1 50%;
}
.header__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .header__list {
    flex: 0 1 60%;
  }
}
.header__item {
  color: #fff;
}
@media (max-width: 767.98px) {
  .header__item {
    padding: 0px 4px 0px 4px;
  }
}
.header__item:hover {
  color: #018ABE;
}
.header__btn {
  flex: 0 1 22%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767.98px) {
  .header__btn {
    flex: 0 1 50%;
  }
}
.header__btn .btn__item {
  display: block;
  padding: 10px 16px 10px 16px;
  border-radius: 3px;
  color: #fff;
  background-color: #018ABE;
}
@media (max-width: 767.98px) {
  .header__btn .btn__item {
    padding: 8px 14px 8px 14px;
  }
}
.header__btn .btn__item:hover {
  color: #018ABE;
  background-color: hsl(0deg, 0%, 40%);
}
.header__burger {
  display: none;
}

/* HEADER 'burger' */
@media (max-width: 767.98px) {
  body.lock {
    overflow: hidden;
  }
  .content {
    padding: 60px 0px 0px 0px;
  }
  .header__menu {
    height: 50px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin: 0px 0px 0px 12px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: rgb(247, 209, 247);
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: rgb(247, 209, 247);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__menu-list {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #162831;
    z-index: 2;
    padding: 140px 16px 20px 30px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu-list.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    padding: 0px 0px 20px 0px;
  }
  .header__item {
    font-size: 22px;
    line-height: 28px;
  }
}
/*SECTION  .aqua*/
.aqua {
  flex: 0 1 auto;
  width: 100%;
}
.aqua__body {
  width: 100%;
  display: flex;
  position: relative;
  padding: 40px 0px 100px 0px;
}
@media (max-width: 767.98px) {
  .aqua__body {
    padding: 20px 0px 60px 0px;
  }
}
.aqua__textblock {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 75%);
}
@media (max-width: 990px) {
  .aqua__textblock {
    max-width: 500px;
    transform: translate(-50%, 55%);
  }
}
@media (max-width: 767.98px) {
  .aqua__textblock {
    width: 400px;
    position: absolute;
    text-align: center;
    padding: 0px 0px 50px 0px;
    transform: translate(-50%, 0);
  }
}
@media (max-width: 490px) {
  .aqua__textblock {
    width: 100%;
  }
}
.aqua__texttitle {
  color: #fff;
  text-align: center;
  display: inline-block;
  position: relative;
}
.aqua__texttitle::before {
  content: url(../Img/pictures/leaf-white-left.png);
  position: absolute;
  top: 0;
  left: 66px;
}
@media (max-width: 890px) {
  .aqua__texttitle::before {
    left: 30px;
  }
}
@media (max-width: 767.98px) {
  .aqua__texttitle::before {
    left: 25px;
  }
}
@media (max-width: 490px) {
  .aqua__texttitle::before {
    left: 30%;
    transform: translate(0, 40px);
  }
}
.aqua__texttitle::after {
  content: url(../Img/pictures/leaf-white-right.png);
  position: absolute;
  top: 0;
  right: 66px;
}
@media (max-width: 890px) {
  .aqua__texttitle::after {
    right: 30px;
  }
}
@media (max-width: 767.98px) {
  .aqua__texttitle::after {
    right: 25px;
  }
}
@media (max-width: 490px) {
  .aqua__texttitle::after {
    right: 30%;
    transform: translate(0, 40px);
  }
}
.aqua__title {
  font-family: "El Messiri";
  font-size: 4rem;
  line-height: 5.625rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  text-align: center;
}
@media (max-width: 990px) {
  .aqua__title {
    font-size: 3.25rem;
    line-height: 4.375rem;
  }
}
@media (max-width: 767.98px) {
  .aqua__title {
    font-size: 2.625rem;
    line-height: 3.25rem;
  }
}
@media (max-width: 490px) {
  .aqua__title {
    font-size: 2rem;
    line-height: 2.625rem;
    padding: 50px 0px 0px 0px;
  }
}
.aqua__img {
  flex: 0 1 auto;
  display: flex;
}
@media (max-width: 767.98px) {
  .aqua__img {
    padding: 150px 0px 0px 0px;
  }
}
@media (max-width: 490px) {
  .aqua__img {
    padding: 170px 0px 0px 0px;
  }
}
.aqua__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*SECTION  .session*/
.session {
  flex: 0 1 auto;
}
.session__subtitle {
  color: #fff;
  position: relative;
}
.session__subtitle::before {
  content: url(../Img/pictures/leaf-blue-left.png);
  position: absolute;
  left: 30%;
  top: 0;
}
@media (max-width: 1200px) {
  .session__subtitle::before {
    left: 27%;
  }
}
@media (max-width: 980px) {
  .session__subtitle::before {
    left: 24%;
  }
}
@media (max-width: 890px) {
  .session__subtitle::before {
    left: 21%;
  }
}
@media (max-width: 790px) {
  .session__subtitle::before {
    left: 18%;
  }
}
@media (max-width: 690px) {
  .session__subtitle::before {
    left: 10%;
  }
}
@media (max-width: 590px) {
  .session__subtitle::before {
    left: 16px;
  }
}
@media (max-width: 490px) {
  .session__subtitle::before {
    left: 30%;
    transform: translate(0, 40px);
  }
}
.session__subtitle::after {
  content: url(../Img/pictures/leaf-blue-right.png);
  position: absolute;
  right: 30%;
  top: 0;
}
@media (max-width: 1200px) {
  .session__subtitle::after {
    right: 27%;
  }
}
@media (max-width: 980px) {
  .session__subtitle::after {
    right: 24%;
  }
}
@media (max-width: 890px) {
  .session__subtitle::after {
    right: 21%;
  }
}
@media (max-width: 790px) {
  .session__subtitle::after {
    right: 18%;
  }
}
@media (max-width: 690px) {
  .session__subtitle::after {
    right: 10%;
  }
}
@media (max-width: 590px) {
  .session__subtitle::after {
    right: 16px;
  }
}
@media (max-width: 490px) {
  .session__subtitle::after {
    right: 30%;
    transform: translate(0, 40px);
  }
}
.session__body {
  padding: 100px 0px 150px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(416px, 1fr));
  gap: 24px;
}
@media (max-width: 767.98px) {
  .session__body {
    padding: 50px 0px 60px 0px;
  }
}
.session__carditem-big {
  grid-column-start: span 1;
  grid-row-start: span 2;
  position: relative;
  width: 99.666%;
  padding: 0px 0px 100% 0px;
}
@media (max-width: 890px) {
  .session__carditem-big {
    width: 100%;
    grid-column-start: span 1;
    grid-row-start: span 1;
    padding: 0px 0px 130% 0px;
  }
}
@media (max-width: 450px) {
  .session__carditem-big {
    width: 90vw;
    padding: 0px 0px 114% 0px;
  }
}
@media (max-width: 400px) {
  .session__carditem-big {
    padding: 0px 0px 111% 0px;
  }
}
@media (max-width: 380px) {
  .session__carditem-big {
    padding: 0px 0px 104% 0px;
  }
}
@media (max-width: 360px) {
  .session__carditem-big {
    padding: 0px 0px 101% 0px;
  }
}
.session__carditem-big .carditem__title {
  color: #fff;
  position: absolute;
  bottom: 30px;
  left: 40px;
  width: 350px;
  text-align: left;
}
@media (max-width: 450px) {
  .session__carditem-big .carditem__title {
    bottom: 10px;
    left: 20px;
    text-align: left;
  }
}
@media (max-width: 390px) {
  .session__carditem-big .carditem__title {
    bottom: 54px;
  }
}
.session__carditem-big .carditem__title .carditem__title:hover {
  color: hsl(0deg, 0%, 40%);
}
.session__carditem-big img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  position: absolute;
}
.session__carditem {
  grid-column-start: span 1;
  grid-row-start: span 1;
  display: flex;
  position: relative;
  width: 100%;
  padding: 0px 0px 62% 0px;
}
@media (max-width: 450px) {
  .session__carditem {
    width: 90vw;
    padding: 0px 0px 54% 0px;
  }
}
@media (max-width: 390px) {
  .session__carditem {
    padding: 0px 0px 48% 0px;
  }
}
.session__carditem .carditem__title {
  color: #fff;
  position: absolute;
  bottom: 30px;
  left: 40px;
  width: 350px;
  text-align: left;
}
@media (max-width: 450px) {
  .session__carditem .carditem__title {
    bottom: 10px;
    left: 20px;
  }
}
@media (max-width: 390px) {
  .session__carditem .carditem__title {
    bottom: 34px;
    width: 250px;
  }
}
.session__carditem .carditem__title .carditem__title:hover {
  color: hsl(0deg, 0%, 40%);
}
.session__carditem img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  position: absolute;
}

/*SECTION  .comments*/
.comments {
  flex: 0 1 auto;
}
.comments__subtitle {
  color: #fff;
  position: relative;
}
.comments__subtitle::before {
  content: url(../Img/pictures/leaf-blue-left.png);
  position: absolute;
  left: 38%;
  top: 0;
}
@media (max-width: 1200px) {
  .comments__subtitle::before {
    left: 36%;
  }
}
@media (max-width: 980px) {
  .comments__subtitle::before {
    left: 32%;
  }
}
@media (max-width: 890px) {
  .comments__subtitle::before {
    left: 29%;
  }
}
@media (max-width: 690px) {
  .comments__subtitle::before {
    left: 20%;
  }
}
@media (max-width: 490px) {
  .comments__subtitle::before {
    left: 30%;
    transform: translate(0, 40px);
  }
}
.comments__subtitle::after {
  content: url(../Img/pictures/leaf-blue-right.png);
  position: absolute;
  right: 38%;
  top: 0;
}
@media (max-width: 1200px) {
  .comments__subtitle::after {
    right: 36%;
  }
}
@media (max-width: 980px) {
  .comments__subtitle::after {
    right: 32%;
  }
}
@media (max-width: 890px) {
  .comments__subtitle::after {
    right: 29%;
  }
}
@media (max-width: 690px) {
  .comments__subtitle::after {
    right: 20%;
  }
}
@media (max-width: 490px) {
  .comments__subtitle::after {
    right: 30%;
    transform: translate(0, 40px);
  }
}
.comments__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px 150px 0px;
}
@media (max-width: 690px) {
  .comments__body {
    padding: 50px 0px 60px 0px;
  }
}
.comments__cards {
  display: flex;
  flex-direction: row;
}
.comments__card {
  width: 500px;
  min-height: 244px;
  border-radius: 10px;
  background-color: hsla(197deg, 99%, 37%, 0.4);
  margin: 0px 16px 0px 16px;
  padding: 40px 45px 0px 45px;
  transition: all linear 0.4s;
}
@media (max-width: 690px) {
  .comments__card {
    width: 80vw;
    margin: 0px 16px 0px 16px;
    padding: 20px 25px 0px 25px;
  }
}
.comments__card .card__title {
  color: hsl(0deg, 0%, 40%);
  padding: 0px 0px 15px 0px;
}
@media (max-width: 767.98px) {
  .comments__card .card__title {
    padding: 0px 0px 0px 0px;
  }
}
@media (max-width: 490px) {
  .comments__card .card__title {
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 0.875rem;
    line-height: 1.225rem;
    font-weight: 400;
  }
}
.comments__card .card__text {
  color: hsl(0deg, 0%, 40%);
  padding: 10px 0px 0px 0px;
}
@media (max-width: 490px) {
  .comments__card .card__text {
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 600;
  }
}
.comments__card:hover {
  min-height: 270px;
  transform: scale(1.2);
  background-color: #018ABE;
  margin: 0px;
  padding: 25px 30px 0px 25px;
}
@media (max-width: 460px) {
  .comments__card:hover {
    transform: none;
  }
}
.comments__card:hover .card__text, .comments__card:hover .card__title {
  color: #fff;
}
.comments .swipe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.comments .swipe .swipe__items {
  width: 124px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px 0px 0px 0px;
}
@media (max-width: 790px) {
  .comments .swipe .swipe__items {
    width: 98px;
    padding: 40px 0px 0px 0px;
  }
}
.comments .swipe .swipe__items .swipe__item {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background-color: hsl(0deg, 0%, 40%);
}
@media (max-width: 790px) {
  .comments .swipe .swipe__items .swipe__item {
    height: 12px;
    width: 12px;
  }
}
.comments .swipe .swipe__items li:first-child a {
  background-color: #fff;
}
.comments .swipe .swipe__items .swipe__item:hover {
  background-color: #fff;
}

/*SECTION  .info*/
.info {
  flex: 0 1 auto;
  width: 100%;
}
.info__container {
  max-width: 1056px;
  margin: 0 auto;
}
.info__subtitle {
  color: #fff;
}
.info__subtitle::before {
  content: url(../Img/pictures/leaf-blue-left.png);
  position: absolute;
  left: 35%;
}
@media (max-width: 1200px) {
  .info__subtitle::before {
    left: 30%;
  }
}
@media (max-width: 980px) {
  .info__subtitle::before {
    left: 26%;
  }
}
@media (max-width: 890px) {
  .info__subtitle::before {
    left: 24%;
  }
}
@media (max-width: 690px) {
  .info__subtitle::before {
    left: 20%;
  }
}
@media (max-width: 490px) {
  .info__subtitle::before {
    left: 30%;
    transform: translate(0, 40px);
  }
}
.info__subtitle::after {
  content: url(../Img/pictures/leaf-blue-right.png);
  position: absolute;
  right: 35%;
}
@media (max-width: 1200px) {
  .info__subtitle::after {
    right: 30%;
  }
}
@media (max-width: 980px) {
  .info__subtitle::after {
    right: 26%;
  }
}
@media (max-width: 890px) {
  .info__subtitle::after {
    right: 24%;
  }
}
@media (max-width: 690px) {
  .info__subtitle::after {
    right: 20%;
  }
}
@media (max-width: 490px) {
  .info__subtitle::after {
    right: 30%;
    transform: translate(0, 40px);
  }
}
.info__cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 100px 16px 50px 16px;
}
@media (max-width: 980px) {
  .info__cards {
    padding: 50px 16px 50px 16px;
  }
}
.info__card {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 100px 0px;
}
@media (max-width: 767.98px) {
  .info__card {
    flex-direction: column;
    justify-content: start;
    padding: 0px 0px 50px 0px;
  }
}
.info__card .order-1 {
  order: 1;
  padding: 0px 16px 0px 0px;
}
@media (max-width: 767.98px) {
  .info__card .order-1 {
    padding: 0px 0px 20px 0px;
  }
}
.info__card .order-2 {
  order: 2;
}
.info__card .order-3 {
  order: 2;
  padding: 0px 0px 0px 16px;
}
@media (max-width: 767.98px) {
  .info__card .order-3 {
    order: 3;
    padding: 0px 0px 20px 0px;
  }
}
.info__card .order-4 {
  order: 1;
}
@media (max-width: 767.98px) {
  .info__card .order-4 {
    order: 4;
  }
}
.info__textblock {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}
.info__textblock .textblock__title {
  color: #fff;
  padding: 0px 0px 30px 0px;
}
@media (max-width: 767.98px) {
  .info__textblock .textblock__title {
    padding: 0px 0px 8px 0px;
  }
}
.info__text {
  color: #fff;
}
.info__img {
  flex: 0 1 50%;
  display: flex;
}
@media (max-width: 767.98px) {
  .info__img {
    flex: 0 1 auto;
    width: 100%;
  }
}
.info__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cost {
  flex: 0 1 auto;
}
.cost__container {
  max-width: 1056px;
  margin: 0 auto;
}
.cost__subtilte {
  color: #fff;
}
.cost__subtilte::before {
  content: url(../Img/pictures/leaf-blue-left.png);
  position: absolute;
  left: 30%;
}
@media (max-width: 1200px) {
  .cost__subtilte::before {
    left: 26%;
  }
}
@media (max-width: 980px) {
  .cost__subtilte::before {
    left: 22%;
  }
}
@media (max-width: 890px) {
  .cost__subtilte::before {
    left: 18%;
  }
}
@media (max-width: 690px) {
  .cost__subtilte::before {
    left: 14%;
  }
}
@media (max-width: 490px) {
  .cost__subtilte::before {
    left: 30%;
    transform: translate(0, 40px);
  }
}
.cost__subtilte::after {
  content: url(../Img/pictures/leaf-blue-right.png);
  position: absolute;
  right: 30%;
}
@media (max-width: 1200px) {
  .cost__subtilte::after {
    right: 26%;
  }
}
@media (max-width: 980px) {
  .cost__subtilte::after {
    right: 22%;
  }
}
@media (max-width: 890px) {
  .cost__subtilte::after {
    right: 18%;
  }
}
@media (max-width: 690px) {
  .cost__subtilte::after {
    right: 14%;
  }
}
@media (max-width: 490px) {
  .cost__subtilte::after {
    right: 30%;
    transform: translate(0, 40px);
  }
}
.cost__body {
  display: flex;
  flex-direction: row;
  padding: 100px 16px 150px 16px;
  align-items: center;
}
@media (max-width: 980px) {
  .cost__body {
    padding: 50px 16px 100px 16px;
  }
}
@media (max-width: 780px) {
  .cost__body {
    flex-direction: column;
    justify-content: start;
  }
}
.cost__price {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  padding: 0px 50px 0px 0px;
}
@media (max-width: 780px) {
  .cost__price {
    width: 100%;
    padding: 0px 0px 20px 0px;
  }
}
.cost__price .price__block {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 30px 50px;
  position: relative;
}
.cost__price .price__block::before {
  content: url(../Img/pictures/leaf-blue-left.png);
  position: absolute;
  top: 0;
  left: 0;
}
.cost__price .price__text {
  color: #fff;
}
.cost__price .price__cost {
  color: #fff;
}
.cost__img {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 780px) {
  .cost__img {
    flex: 0 1 auto;
    width: 100%;
  }
}
.cost__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cost__text {
  color: #fff;
  padding: 30px 0px 0px 0px;
}
.cost__text:hover {
  color: #018ABE;
}

.footer {
  flex: 0 1 auto;
}
.footer__body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
@media (max-width: 890px) {
  .footer__body {
    flex-direction: column;
  }
}
@media (max-width: 690px) {
  .footer__body {
    margin: 0px 0px -20px 0px;
  }
}
.footer__map {
  flex: 0 0 60%;
  display: flex;
}
@media (max-width: 890px) {
  .footer__map {
    padding: 0px 0px 20px 0px;
  }
}
.footer__map iframe {
  width: 100%;
  height: 604px;
  border-radius: 10px;
}
@media (max-width: 990px) {
  .footer__map iframe {
    height: 528px;
  }
}
@media (max-width: 890px) {
  .footer__map iframe {
    height: 304px;
  }
}
.footer__contacts {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 0px 0px 48px;
}
@media (max-width: 1200px) {
  .footer__contacts {
    padding: 0px 0px 0px 28px;
  }
}
@media (max-width: 890px) {
  .footer__contacts {
    flex-direction: row;
    padding: 0px 0px 0px 0px;
    margin: 0px -10px 0px -10px;
  }
}
@media (max-width: 690px) {
  .footer__contacts {
    flex-direction: column;
    margin: 0px;
  }
}
.footer__contacts .contacts__item {
  width: 100%;
  max-height: 290px;
  display: flex;
  flex-direction: column;
  background-color: #018ABE;
  border-radius: 10px;
  padding: 35px 45px 35px 45px;
  overflow: hidden;
}
@media (max-width: 990px) {
  .footer__contacts .contacts__item {
    padding: 20px 25px 20px 25px;
  }
}
@media (max-width: 890px) {
  .footer__contacts .contacts__item {
    margin: 0px 10px 0px 10px;
  }
}
@media (max-width: 690px) {
  .footer__contacts .contacts__item {
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 690px) {
  .footer__contacts .contacts__item {
    margin: 0px 0px 20px 0px;
  }
}
.footer__contacts .contacts__title {
  color: #fff;
  text-align: left;
}
.footer__contacts .contacts__list {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  padding: 10px 0px 10px 0px;
}
.footer__contacts .contacts__list .list__item {
  padding: 0px 0px 10px 50px;
}
@media (max-width: 490px) {
  .footer__contacts .contacts__list .list__item {
    margin: 0px 0px 0px 0px;
  }
}
.footer__contacts .contacts__list .item-1 {
  background: url(../Img/icons/place.png) 0 0 no-repeat;
}
.footer__contacts .contacts__list .item-2 {
  background: url(../Img/icons/metro.png) 0 0 no-repeat;
}
.footer__contacts .contacts__list .item-3 {
  background: url(../Img/icons/calendar.png) 0 0 no-repeat;
}
.footer__contacts .contacts__btn .btn__item {
  display: inline-block;
  color: hsl(197deg, 99%, 37%);
  padding: 10px 16px 10px 16px;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 3px;
}
.footer__contacts .contacts__btn .btn__item:hover {
  color: #fff;
  background-color: hsl(0deg, 0%, 40%);
}
.footer .contacts__rights {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 90px 16px 30px 16px;
}
@media (max-width: 890px) {
  .footer .contacts__rights {
    padding: 30px 16px 20px 16px;
  }
}
@media (max-width: 390px) {
  .footer .contacts__rights {
    flex-direction: column;
    align-items: flex-end;
  }
}
.footer .rights__item {
  color: #fff;
}