@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap");
* { /* '*' means that this styles touches all tags in a document*/
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after { /* here the parameter "box-sizing" is used with "border-box" that changes the width of a block and as a result we can easely count */
  box-sizing: border-box;
}

/* here these parameters delete lines of borders in some brousers: */
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/* here these parameters say to brousers that these tags are block one: */
nav, footer, header, aside {
  display: block;
}

/* here these parameters settles styles to all brousers that can't be changed by brousers themselves: */
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 30px;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* the font is settld to form's tags, because these tags don't inherit styles of the document */
input, button, textarea {
  font-family: inherit;
}

/* these parameters delete some brousers features and settle the needed */
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* these parameters delete some brousers features and settle the needed */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* Font : El Messiri*/
/* Font : Proxima Nova*/
@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/Mark Simonson - Proxima Nova Regular.eot");
  src: local("☺"), url("../fonts/Mark Simonson - Proxima Nova Regular.woff") format("woff"), url("../fonts/Mark Simonson - Proxima Nova Regular.ttf") format("truetype"), url("../fonts/Mark Simonson - Proxima Nova Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/Mark Simonson - Proxima Nova Semibold.eot");
  src: local("☺"), url("../fonts/Mark Simonson - Proxima Nova Semibold.woff") format("woff"), url("../fonts/Mark Simonson - Proxima Nova Semibold.ttf") format("truetype"), url("../fonts/Mark Simonson - Proxima Nova Semibold.svg") format("svg");
  font-weight: normal;
  font-style: 600;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/proximanova-bold.eot");
  src: local("☺"), url("../fonts/proximanova-bold.woff") format("woff"), url("../fonts/proximanova-bold.ttf") format("truetype"), url("../fonts/proximanova-bold.svg") format("svg");
  font-weight: normal;
  font-style: 700;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/proximanova-light.eot");
  src: local("☺"), url("../fonts/proximanova-light.woff") format("woff"), url("../fonts/proximanova-light.ttf") format("truetype"), url("../fonts/proximanova-light.svg") format("svg");
  font-weight: normal;
  font-style: 300;
}
/* 	COLOURS:*/
/* 	BACKGROUND COLOURS:*/
/* FONT : Proxima Nova*/
.footer .rights__item, .header__item {
  font-family: "Proxima Nova";
  font-size: 0.875rem;
  line-height: 1.1875rem;
  font-weight: 400;
}

.header__btn .btn__item {
  font-family: "Proxima Nova";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 600;
}

/* FONT : El Messiri*/
.news__subtitle {
  font-family: "El Messiri";
  font-size: 2.625rem;
  line-height: 3.6875rem;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 790px) {
  .news__subtitle {
    font-size: 2rem;
    line-height: 3.0625rem;
  }
}

.news__item .card__subtitle {
  font-family: "El Messiri";
  font-size: 1.3125rem;
  line-height: 1.8125rem;
  font-weight: 700;
  text-align: center;
}

/*BODY*/
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #162831;
}

.content {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1328px;
  margin: 0 auto;
}

/* HEADER*/
.header {
  flex: 0 1 auto;
}
.header__menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 16px 30px 16px;
}
.header____logo {
  flex: 0 1 25%;
  display: flex;
  justify-self: flex-start;
  position: relative;
}
.header____logo .logo__link {
  flex: 0 0 60px;
  display: flex;
}
.header____logo .logo__link .logo__link img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.header__list {
  flex: 0 1 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.header__menu {
  width: 100%;
}
.header__menu::after {
  content: "";
  width: 100%;
  border-bottom: 1px solid hsl(0deg, 0%, 40%);
  top: 116px;
  left: 0;
  position: absolute;
}
.header__item {
  color: #fff;
}
.header__item:hover {
  color: #018ABE;
}
.header__btn {
  flex: 0 1 25%;
  display: flex;
  justify-content: flex-end;
}
.header__btn .btn__item {
  display: block;
  padding: 10px 16px 10px 16px;
  border-radius: 3px;
  color: #fff;
  background-color: #018ABE;
}
.header__btn .btn__item:hover {
  color: #018ABE;
  background-color: hsl(0deg, 0%, 40%);
}

/* SECTION .news*/
.news {
  flex: 0 1 auto;
}
.news__body {
  width: 100%;
  padding: 60px 16px 0px 16px;
}
@media (max-width: 1200px) {
  .news__body {
    padding: 40px 16px 0px 16px;
  }
}
.news__subtitle {
  color: #fff;
  position: relative;
}
.news__subtitle::before {
  content: url(../Img/pictures/leaf-blue-left.png);
  position: absolute;
  left: 35%;
  top: 0;
}
@media (max-width: 1200px) {
  .news__subtitle::before {
    left: 34%;
  }
}
@media (max-width: 980px) {
  .news__subtitle::before {
    left: 32%;
  }
}
@media (max-width: 890px) {
  .news__subtitle::before {
    left: 30%;
  }
}
@media (max-width: 790px) {
  .news__subtitle::before {
    left: 28%;
  }
}
@media (max-width: 690px) {
  .news__subtitle::before {
    left: 28%;
  }
}
@media (max-width: 590px) {
  .news__subtitle::before {
    left: 20%;
  }
}
@media (max-width: 490px) {
  .news__subtitle::before {
    left: 10%;
  }
}
.news__subtitle::after {
  content: url(../Img/pictures/leaf-blue-right.png);
  position: absolute;
  right: 35%;
  top: 0;
}
@media (max-width: 1200px) {
  .news__subtitle::after {
    right: 34%;
  }
}
@media (max-width: 980px) {
  .news__subtitle::after {
    right: 32%;
  }
}
@media (max-width: 890px) {
  .news__subtitle::after {
    right: 30%;
  }
}
@media (max-width: 790px) {
  .news__subtitle::after {
    right: 28%;
  }
}
@media (max-width: 690px) {
  .news__subtitle::after {
    right: 28%;
  }
}
@media (max-width: 590px) {
  .news__subtitle::after {
    right: 20%;
  }
}
@media (max-width: 490px) {
  .news__subtitle::after {
    right: 10%;
  }
}
.news__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 0px 120px 0px;
  margin: 0px -12px 0px -12px;
}
@media (max-width: 790px) {
  .news__cards {
    flex-direction: column;
    padding: 20px 0px 20px 0px;
  }
}
.news__item {
  flex: 0 1 33.333%;
  display: flex;
  margin: 0px 12px 24px 12px;
  position: relative;
}
.news__item .card__subtitle {
  position: absolute;
  bottom: 30px;
  left: 35px;
  color: #fff;
}
.news__item .card__subtitle:hover {
  color: hsl(0deg, 0%, 40%);
}
.news__item img {
  width: 100%;
  max-height: 258px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  flex: 0 1 auto;
}
.footer .contacts__rights {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px 30px 16px;
  position: relative;
}
@media (max-width: 890px) {
  .footer .contacts__rights {
    padding: 30px 16px 20px 16px;
  }
}
.footer .contacts__rights::before {
  content: "";
  width: 100%;
  border-bottom: 1px solid hsl(0deg, 0%, 40%);
  top: 0;
  left: 0;
  position: absolute;
}
.footer .rights__item {
  color: #fff;
}