:root {
    font-size: 20px;
}
body {
    font-family: 'Raleway', sans-serif;
}
.header {
    background-color:  #F4EFFA;;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.nav__header-1, .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    color: #354657;
}

.nav__header-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 0.6rem;
    color: #626262;
}
.nav__header-item-2 li * {
    text-decoration: none; 
    color: #354657;   
}
.nav__header-item-4 li * {
    text-decoration: none; 
    color: #626262;;
}
ul.nav__header-item-2  {
    width: 40%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;       
}
.nav__header-item-3 {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 10%;
    justify-content: space-between;
}
.nav__header-item-4 li {
    padding-right: 15px;
}
ul.nav__header-item-4 {
    width: 40%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
}
.line {
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 18px;
}
.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card > .card__title {
    font-weight: 700;
    font-size: 1.5;
    margin: 0.5rem 0;
    color: #354657;
    font-family: 'Raleway', sans-serif;
}
.card > .card__description {
    font-weight: 400;
    font-size: 0.8rem;
    margin: 1rem 0;
    color: #354657;
    font-family: 'Raleway', sans-serif;
}
.card__btn a{
    display: inline-block;
    padding: 1rem;
    width: 206px;    
    border-radius: 50%;
    border: 2px solid #946FD3;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    margin-bottom: 60px;
}
.nav__footer-item-1 {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 30%;
}
.nav__footer-item-2 a{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-between;
}