body{
    font-size: 20px;
    margin: 0;
    
}
.box {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #131313;
}
.text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1rem;
    color: #ffffff;
}
.text_2 {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 36px;
    text-align: center;
}
.text_7 {
    font-size: 0.8rem;
    line-height: 19px;
    align-self: center;
}
.bg_img {
    width: 100%;
    height: 44rem;
    background-image: url(../img/wall.png);
    background-repeat: no-repeat;
    background-position: 50% 10%;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.logo {
    margin: 0;
    padding: 5rem 0 2rem 43%;
    align-self: center;
}
.registr {
    margin: 0px auto;
    width: 300px;
    height: 400px;
    box-sizing: border-box; 
    padding: 1rem; 
}

p.registration input {
    width: 264px;
    height: 46px;
    border: 1px solid #4F4F4F;
    border-radius: 150px;
    background-color: #131313;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 17px;
    color: #4F4F4F;
    padding-left: 18px;
}
p.registration input:hover  {
    border: 1px solid #ffffff;
    color: #ffffff;
}
p.registration >input::placeholder :hover {
    color: #ffffff;
}
.btn {
    width: 264px;
    height: 46px;
    border-radius: 150px;
    border: 1px solid #1ACD4C;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    align-items: center;
    text-align: center;    
    text-transform: uppercase;    
}
.btn_registr{
    background-color: #1ACD4C;
    color: #131313;    
    transition: all .2s linear;
}
.btn_registr a  {
    width: 100%;
    text-decoration: none;
    color: #131313;
    cursor: pointer;
}
.btn_registr:hover {
    box-shadow: 0 0 0 1px #131313, 0 0 0 3px #1ACD4C;
    transform: scaleY(1.1);
    font-size: 0.8rem;
    cursor: pointer;
}
.text_btn {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 0.7rem;
    line-height: 16px;
}
.footer {
    width: 100%;
    height: 42px;
    text-align: center;
    align-self: center;
}