body{
    font-size: 20px;
    margin: 0;
    
}
.box {
    margin: 0;
    width: 100%;
    background-color: #131313;
}
.text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1rem;
    color: #ffffff;
}
.text_2 {
        font-weight: 900;
        font-size: 1.5rem;
        line-height: 36px;
        padding-top: 90px;
}
.text_3 {
    font-weight: 700;
    font-size: 0.7rem;
    line-height: 16px;
}
.text_4 {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 20px;
}
.text_5{
    font-size: 1.2rem;
    line-height: 30px;
    text-align: center;
}
.text_6 {
    font-size: 0.9rem;
    line-height: 22px;
    margin: 0;
}
.text_7 {
    font-size: 0.8rem;
    line-height: 19px;
    align-self: center;
}
span {
    color: #1ACD4C;
}
.bg_img {
    width: 100%;
    background-image: url(../img/wall.png);
    background-repeat: no-repeat;
    background-position: 50% -10%;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.header {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    overflow: auto;
    align-items: center;
}
li.space {
    padding-right: 5em;
}
li a {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}
li a:active {
    color: #272727;
}

li span{
    color: #272727;
}
.line {
margin: 0;
border: 1px solid #272727;
}

table {
    margin: 0 auto;
    width: 1146px;
    box-sizing: border-box;
    align-items: center;
    border-collapse: collapse;
}
tr {
    border: 1px solid #272727;
}
tr th {
    margin: 0;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    color: #727272;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 0.7rem;
    line-height: 16px;
    align-items: center;
    text-transform: uppercase;
}
tr td {
    margin: 0;
    height: 53px;
    background-color: #131313;
    
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 20px;
    align-items: center;
    padding-left: 25px;    
}
ul.nav {
    margin: 1rem auto;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    overflow: auto;
    align-items: center;
    padding-bottom: 90px;
}
li .arrow{
    width: 147px;
    border: 2px solid;
}
.footer {
    width: 100%;
    height: 42px;
    text-align: center;
    align-self: center;
}