body{
    font-size: 20px;
    margin: 0;
}
.box {
    margin: 0;
    width: 100%;
    background-color: #131313;
}
.bg_img{
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/bg_image.png);
    background-repeat: no-repeat;
    background-position: center;
}
.text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1rem;
    color: #ffffff;
}
.text_2 {
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 67px;
}
.text_3 {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 29px;
}
.text_4 {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 22px;
}
.text_5{
    font-size: 1.8rem;
    line-height: 44px;
}
.text_6 {
    font-weight: 700;
}
.text_7 {
    font-size: 0.8rem;
    line-height: 19px;
    align-self: center;
}
span {
    font-weight: 800;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.header {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    overflow: auto;
    align-items: center;
}
li.space {
    padding-right: 20em;
}
.btn {
    width: 264px;
    height: 46px;
    border-radius: 150px;
    border: 1px solid #1ACD4C;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    align-items: center;
    text-align: center;    
    text-transform: uppercase;
}
.text_btn {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 0.7rem;
    line-height: 16px;
}
.btn_header {
    width: 196px;
    height: 42px;
}
.btn_registr{
    background-color: #1ACD4C;
    color: #131313;    
    transition: all .2s linear;
}
.btn_call {
    background-color: #131313;
    color: #1ACD4C;
    transition: all .2s linear;
}
.btn a, .btn_header a {
    width: 100%;
    text-decoration: none;
    cursor: pointer;
}
.btn_registr a  {
    width: 100%;
    text-decoration: none;
    color: #131313;
    cursor: pointer;
}
.btn_call a {
    width: 100%;
    text-decoration: none;
    color: #1ACD4C;
    cursor: pointer;
}
.btn_call:hover{
    cursor: pointer;
    transform: scaleY(1.2);
    font-size: 0.8rem;    
   border: solid 3px;
}
.btn_registr:hover {
    box-shadow: 0 0 0 1px #131313, 0 0 0 3px #1ACD4C;
    transform: scaleY(1.1);
    font-size: 0.8rem;
    cursor: pointer;
}
.space_b {
    margin-right: 3px;
}
.space_l {
    margin-left: 3px;
}
.space_top {
    padding-top: 60px;
}
.banner {
    width: 570px;
    height: 500px;
    padding: 100px 0px 100px 0px;
    display: inline-block;
    position: relative;
    -webkit-animation: move 2s linear;
    animation: move 3s linear;
    overflow: hidden;
}
@keyframes move {
    from {
     top: 0;
     left: -100%;
    }
    to {
        top: 0;
        left: 0;
    }
}
.button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 200px;
}
.bg_img_item-1 {
    width: 100%;
background-image: url(../img/smoke_PNG55243.png);
background-repeat: no-repeat;
background-position: 0 0;
}
.bg_img_item-2 {
    width: 100%;
background-image: url(../img/wall.png);
background-repeat: no-repeat;
background-position: 50% 10%;
}
.bg_img_item-3 {
    width: 100%;
background-image: url(../img/smoke_PNG55243_2.png);
background-repeat: no-repeat;
background-position: 100% 20%;
}
.bg_img_item-4 {
    width: 100%;
background-image: url(../img/smoke_PNG55243_3.png);
background-repeat: no-repeat;
background-position: 50% 120%;
}
.movement {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.move {
    display: inline-block;
    width: 100%;
    -webkit-animation: akt 15s linear infinite;
    animation: akt 15s linear infinite;
    overflow: hidden;
    margin-left: -5px;
    padding-right: 18px;
}
@keyframes akt {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
}
}
@-webkit-keyframes akt {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
}
}
.rooms {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    overflow: hidden;
}
.rooms img:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.menu_cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding-top: 20px;
    box-sizing: border-box;
}

.card_1, .card_2, .card_3 {
    width: 348px;
    height: 484px;
    margin: 0;
    position: relative;
   transition: all 0.8s linear;
   box-sizing: border-box;
   cursor: pointer;
}
.back_card_1, .back_card_2, .back_card_3 {
    width: 348px;
    height: 484px;
    margin: 0;
    position: absolute;
    visibility: hidden;
    top: 0;
    transform: scaleX(-1);
}
.card_1:hover, .card_2:hover, .card_3:hover {
    transform: scaleX(-1);    
}
.card_1:hover .back_card_1, .card_2:hover .back_card_2, .card_3:hover .back_card_3 {
visibility: visible;
}
.menu_promo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    box-sizing: border-box;
}
.menu_promo-item-1, .menu_promo-item-2 {
    
    margin: 0;
    position: relative;
   box-sizing: border-box;
   cursor: pointer;
}

.promo_text {
    position: absolute;
    visibility: visible;
    padding-left: 20px;
    bottom: 0;
}
.contacts {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 40px;
    padding-bottom: 40px;
}
.contacts_items {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
}
.tel_number >h4, .address >h4 {
    margin: 0px;
}
.contacts_btn {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    
}
.tel_number >h3, .address >h3 {
    margin: 0;
}

.footer {
    margin: 0;
    width: 100%;
    height: 42px;
    text-align: center;
    align-self: center;
}