body{
    font-size: 20px;
    margin: 0;
    
}
.box {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #131313;
}
.text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1rem;
    color: #ffffff;
}
.text_2 {
        font-weight: 900;
        font-size: 1.5rem;
        line-height: 36px;
        text-align: center;
}
.text_3 {
    font-weight: 700;
    font-size: 0.7rem;
    line-height: 16px;
}
.text_4 {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 20px;
}
.text_5{
    font-size: 1.2rem;
    line-height: 30px;
    text-align: center;
}
.text_6 {
    font-size: 0.9rem;
    line-height: 22px;
    margin: 0;
}
.text_7 {
    font-size: 0.8rem;
    line-height: 19px;
    align-self: center;
}
span {
    color: #1ACD4C;
}
.bg_img {
    width: 100%;
    height: 38rem;
    background-image: url(../img/wall.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.header {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    overflow: auto;
    align-items: center;
}
li.space {
    padding-right: 5em;
}
li a {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}

li a:active {
    color: #272727;
}
li span{
    color: #272727;
}
.line {
margin: 0;
border: 1px solid #272727;
}

.booking {
    margin: 3rem auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    
}
.booking img {
    margin-left: 10rem;
}
.registr {    
    width: 300px;
    height: 400px;
    padding: 0 18px;  
    box-sizing: border-box;  
}
p.registration input {
    display: none;
}
p.registration input {
    display: inline-block;
    width: 264px;
    height: 46px;
    border: 1px solid #4F4F4F;
    border-radius: 150px;
    background-color: #131313;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 17px;
    color: #4F4F4F;
    padding-left: 10px;
}
p.registration input:hover  {
    border: 1px solid #ffffff;
    color: #ffffff;
}
p.registration >input::placeholder :hover {
    color: #ffffff;
}
.btn {
    width: 264px;
    height: 46px;
    border-radius: 150px;
    border: 1px solid #1ACD4C;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    align-items: center;
    text-align: center;    
    text-transform: uppercase;    
}
.btn_registr{
    background-color: #1ACD4C;
    color: #131313;    
    transition: all .2s linear;
}
.btn a {
    width: 100%;
    text-decoration: none;
    cursor: pointer;
}
.btn_registr a  {
    width: 100%;
    text-decoration: none;
    color: #131313;
    cursor: pointer;
}

.btn_registr:hover {
    box-shadow: 0 0 0 1px #131313, 0 0 0 3px #1ACD4C;
    transform: scaleY(1.1);
    font-size: 0.8rem;
    cursor: pointer;
}
.text_btn {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 0.7rem;
    line-height: 16px;
}
.statistics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p datalist option {
    background-color: #131313;
}
.statictics_item {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 160px;
    height: 46px;
}
.footer {
    width: 100%;
    height: 42px;
    text-align: center;
    align-self: center;
}