@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500&display=swap");
* { /* '*' means that this styles touches all tags in a document*/
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after { /* here the parameter "box-sizing" is used with "border-box" that changes the width of a block and as a result we can easely count */
  box-sizing: border-box;
}

/* here these parameters delete lines of borders in some brousers: */
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/* here these parameters say to brousers that these tags are block one: */
nav, footer, header, aside {
  display: block;
}

/* here these parameters settles styles to all brousers that can't be changed by brousers themselves: */
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 30px;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* the font is settld to form's tags, because these tags don't inherit styles of the document */
input, button, textarea {
  font-family: inherit;
}

/* these parameters delete some brousers features and settle the needed */
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* these parameters delete some brousers features and settle the needed */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* fonts used: Open Sans, Quicksand, Roboto*/
/* font colours*/
/* background colours*/
/* FONTS: */
/* ROBOTO*/
.get__ttitle, .ask .ttitle, .quotes__textblock .textblock__ttitle, .start__ttitle, .read__ttitle, .plan__ttitle, .increase__ttitle {
  font-family: "Roboto";
  font-size: 0.625rem;
  line-height: 0.75rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
  color: #3D4F9F;
  text-transform: uppercase;
}

.get__text, .start__block .block__text, .increase__text {
  font-family: "Roboto";
  font-size: 0.9375rem;
  line-height: 1.8125rem;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #8D96BD;
}

.sign__text, .ask__text, .quotes__text {
  font-family: "Roboto";
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03em;
}

/* QUICKSAND*/
.ask .subtitle, .start__subtitle, .read__subtitle {
  font-family: "Quicksand";
  font-size: 1.5rem;
  line-height: 0.093755rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
  color: #3D4F9F;
  text-align: center;
}

.plan__subtitle {
  font-family: "Quicksand";
  font-size: 2.5rem;
  line-height: 2.8125rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
  color: #3D4F9F;
}

.footer__info, .plan__text, .header__list .list__item {
  font-family: "Quicksand";
  font-size: 0.75rem;
  line-height: 0.9375rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  text-shadow: 0px 0px 5px #E6E6E6;
}

.sign__ttitle, .info__text-white, .info__text-blue {
  font-family: "Quicksand";
  font-size: 1.125rem;
  line-height: 1.4375rem;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.sign__btn-darkblue, .sign__input, .get__btn-blue, .plan .btn__item-white, .plan .btn__item-blue, .get__btn-white, .ask__btn, .start__block .block__btn .block__btn-blue, .start__block .block__btn .block__btn-white, .read__btn-red, .read__btn-blue, .header__btn {
  font-family: "Quicksand";
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 700;
  text-align: center;
}

.ask__item .item__body-active .item__title-active {
  font-family: "Quicksand";
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  letter-spacing: 0.03em;
  font-weight: 700;
}

.info__number-white, .info__number-blue {
  font-family: "Quicksand";
  font-size: 3rem;
  line-height: 5.1875rem;
  letter-spacing: 0.03em;
  font-weight: 500;
}

.quotes__textblock .textblock__subtitle, .start__block .block__title {
  font-family: "Quicksand";
  font-size: 2.25rem;
  font-weight: 400;
}

.ask__item .item__body-passive .item__title-passive {
  font-family: "Quicksand";
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  letter-spacing: 0.03em;
  font-weight: 500;
}

.get__subtitle {
  font-family: "Quicksand";
  font-size: 3rem;
  line-height: 3.75rem;
  font-weight: 300;
  text-align: center;
}

/* OPEN SANS*/
.read__cards .cards__item .cards__title {
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5625rem;
  text-align: center;
}

.read__or, .read__cards .cards__item .cards__text {
  font-family: "Open Sans";
  font-size: 0.6875rem;
  line-height: 1.1875rem;
  font-weight: 600;
  text-align: center;
}

.quotes__textblock .textblock__text {
  font-family: "Open Sans";
  font-size: 0.75rem;
  line-height: 1.4375rem;
  font-weight: 600;
  letter-spacing: 0.03em;
}

.get__btn-white, .ask__btn, .start__block .block__btn .block__btn-blue, .start__block .block__btn .block__btn-white, .read__btn-red, .read__btn-blue, .header__btn {
  padding: 13px 16px 13px 16px;
  border-radius: 2px;
}

/* BODY*/
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

/* MAIN PART*/
.main {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.swipe__block { /*main attributes for swipe items*/
  width: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.swipe__block .swipe__item {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #D1D6E3;
}
.swipe__block .swipe__item:first-child {
  background-color: #5283FF;
}
.swipe__block .swipe__item:hover {
  background-color: #8D96BD;
}
.swipe__block .swipe__item:active {
  background-color: #5283FF;
}

/* SECTOIN .header*/
.header {
  flex: 0 1 100%;
}
.header__container {
  max-width: 77.25rem;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
}
.header__body {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
.header__menu {
  flex: 0 1 63.333%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__logo {
  flex: 0 1 26px;
  padding: 0px 72px 0px 0px;
}
.header__logo .logo {
  display: block;
  background-color: #5E81FE;
  border-radius: 50%;
  width: 26px;
  height: 26px;
}
.header__list {
  flex: 0 1 63.333%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__list li:first-child a {
  color: #5E81FE;
}
.header__list .list__item {
  color: #697CA6;
}
.header__smedia {
  flex: 0 1 33.333%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__items {
  flex: 0 1 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 44px 0px 0px;
}
.header__items .link {
  display: block;
  padding: 15px 0px 0px 0px;
}
.header__btn {
  flex: 0 1 40%;
  display: block;
  background-color: #D2E1FF;
  color: #3A79FF;
}
.header__btn:hover {
  background-color: #4C85FF;
  color: #697CA6;
}

/* SECTOIN .increase*/
/* text block */
.increase {
  width: 100%;
  height: 35.625rem;
  flex: 1 1 auto;
  background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
  border-bottom: 1px solid #5F82FF;
  border-top: 1px solid #5F82FF;
  overflow: hidden;
  position: relative;
}
.increase .bg__items {
  min-height: 100%;
}
.increase__container {
  width: 38.75rem;
  top: 5.75rem;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  z-index: 4;
}
.increase__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.increase__ttitle {
  color: #3D4F9F;
}
.increase__title {
  font-family: "Quicksand";
  font-size: 3rem;
  font-weight: 300;
  line-height: 3.75rem;
  text-align: center;
  color: #3D4F9F;
  padding: 0px 0px 8px 0px;
}
.increase__title-bold {
  font-weight: 500;
}
.increase__text {
  color: #8D96BD;
  text-align: center;
  padding: 0px 0px 20px 0px;
}
.increase__btn {
  padding: 0px 0px 150px 0px;
}
.increase__btn a {
  box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
}
.increase__swipe {
  padding: 0px 0px 28px 0px;
}

/* background with clouds positioning*/
.bg__clouds {
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
}
.bg__clouds .cloud__item-left {
  position: absolute;
  top: 8.125rem;
  left: 0;
  display: flex;
  flex: 0 0 78px;
}
.bg__clouds .cloud__item-left img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
}
.bg__clouds .cloud__item-top {
  position: absolute;
  top: 3.125rem;
  left: 15.875rem;
  display: flex;
  flex: 0 0 48px;
}
.bg__clouds .cloud__item-top img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
}
.bg__clouds .clouds__group-1 {
  position: absolute;
  top: 17.875rem;
  left: 9.625rem;
  display: flex;
  z-index: 1;
  flex: 0 0 80px;
}
.bg__clouds .clouds__group-1 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bg__clouds .clouds__group-2 {
  position: absolute;
  top: 2.375rem;
  right: 5.5rem;
  display: flex;
  flex: 0 0 94px;
}
.bg__clouds .clouds__group-2 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bg__clouds .clouds__group-3 {
  position: absolute;
  top: 19.375rem;
  right: 10rem;
  display: flex;
  flex: 0 0 156px;
}
.bg__clouds .clouds__group-3 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bg__clouds .cloud__item-right {
  position: absolute;
  top: 19.25rem;
  right: 0;
  display: flex;
  flex: 0 0 56px;
}
.bg__clouds .cloud__item-right img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
}

/* background diagram positioning*/
.bg__diagram {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
}
.bg__diagram .diagram__item {
  display: flex;
  flex: 0 0 100%;
}
.bg__diagram img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* SECTOIN .customers*/
.customers {
  width: 100%;
  flex: 0 1 auto;
}
.customers .customers__container {
  max-width: 55.5rem;
  margin: 0 auto;
}
.customers__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 58px 0px 58px 0px;
}
.customers__link {
  flex: 0 0 auto;
  display: flex;
  flex: 0 1 116px;
  padding: 0px 6px 0px 6px;
}
.customers__link img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* SECTOIN .plan*/
.plan {
  flex: 0 1 auto;
  width: 100%;
  background-color: #F5F8FF;
}
@media (max-width: 992px) {
  .plan {
    height: 676px;
  }
}
.plan__container {
  max-width: 1124px;
  margin: 100px 22px 10px 270px;
}
@media (max-width: 1200px) {
  .plan__container {
    max-width: 970px;
    margin: 100px 22px 10px 170px;
  }
}
@media (max-width: 992px) {
  .plan__container {
    margin: 0 auto;
    max-width: 750px;
  }
}
.plan__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .plan__body {
    display: block;
    position: relative;
    margin: 80px 15px 20px 15px;
  }
}
.plan__img {
  flex: 0 0 700px;
  display: flex;
}
@media (max-width: 1200px) {
  .plan__img {
    flex: 0 0 560px;
  }
}
@media (max-width: 992px) {
  .plan__img {
    width: 560px;
    padding: 0px;
    position: absolute;
    top: 154px;
    right: 0;
    z-index: 1;
  }
}
.plan__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.plan__items {
  flex: 1 1 414px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 60px 0px 0px 0px;
}
@media (max-width: 992px) {
  .plan__items {
    padding: 0px;
    width: 414px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}
.plan__ttitle {
  color: #3D4F9F;
  text-align: left;
}
.plan__subtitle {
  color: #3D4F9F;
  text-align: left;
  padding: 26px 0px 26px 0px;
}
.plan__text {
  color: #8D96BD;
  padding: 0px 0px 47px 0px;
}
.plan__btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.plan .btn__item-blue {
  display: block;
  color: #fff;
  padding: 14px 26px 14px 26px;
  background-color: #4C85FF;
  box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
  border-radius: 5px 0px 0px 5px;
  position: relative;
}
.plan .btn__item-blue::after {
  content: url(../img/icons/Polygon.png);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-14px, -50%);
}
.plan .btn__item-white {
  display: block;
  font-weight: 500;
  color: #ADB4D2;
  padding: 13px 22px 13px 22px;
  border: 1px solid #D1D1E4;
  border-radius: 0px 5px 5px 0px;
}

/* SECTOIN .read*/
.read {
  flex: 0 1 auto;
  width: 100%;
}
.read__bg {
  max-width: 100%;
  position: relative;
  display: flex;
}
.read__cloud-bl {
  flex: 0 1 auto;
  top: 31.25rem;
  left: 7.875rem;
  position: absolute;
  z-index: 1;
}
.read__cloud-bl__cloud-bl img {
  -o-object-fit: cover;
     object-fit: cover;
  flex: 0 1 auto;
  width: 100%;
}
.read__cloud-tl {
  position: absolute;
  z-index: 1;
  display: flex;
  top: 6.75rem;
  left: 12.5rem;
}
.read__cloud-tl__cloud-tl img {
  -o-object-fit: cover;
     object-fit: cover;
  flex: 0 1 auto;
  width: 100%;
}
.read__cloud-tr {
  position: absolute;
  z-index: 1;
  display: flex;
  top: 4.5rem;
  right: 7.125rem;
}
.read__cloud-tr__cloud-tr img {
  -o-object-fit: cover;
     object-fit: cover;
  flex: 0 1 auto;
  width: 100%;
}
.read__container {
  max-width: 760px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.read__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 140px 0px 140px 0px;
}
.read__ttitle {
  text-align: center;
}
.read__subtitle {
  padding: 20px 0px 90px 0px;
}
.read__cards {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  justify-content: space-between;
  position: relative;
  margin: 0px -17px 0px -17px;
  flex-wrap: wrap;
}
.read__cards .cards__item {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 17px 0px 17px;
}
.read__cards .cards__item .cards__img {
  flex: 0 0 70px;
  position: relative;
  display: flex;
}
.read__cards .cards__item .cards__img .cards__img img {
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}
.read__cards .cards__item .cards__title {
  color: #4074F8;
  padding: 34px 0px 25px 0px;
}
.read__cards .cards__item .cards__text {
  color: #ADB3CB;
  flex: 1 1 auto;
}
.read__cards .card__line1, .read__cards .card__line2, .read__cards .card__line3 {
  display: block;
  position: absolute;
  width: 28px;
  border-bottom: 1px solid #DAE4FE;
}
.read__cards .card__line1 {
  top: 50%;
  left: 23%;
}
.read__cards .card__line2 {
  top: 50%;
  left: 49%;
}
.read__cards .card__line3 {
  top: 50%;
  left: 73%;
}
.read__btn {
  padding: 100px 0px 0px 0px;
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.read__btn-red, .read__btn-blue {
  display: block;
}
.read__btn-red {
  color: #D43F3F;
  background-color: #FFD7D7;
}
.read__btn-red:hover {
  background-color: #D43F3F;
  color: #FFD7D7;
}
.read__btn-blue {
  color: #3A79FF;
  background-color: #D2E1FF;
}
.read__btn-blue:hover {
  background-color: #4C85FF;
  color: #697CA6;
}
.read__or {
  display: inline-block;
  color: #ADB3CB;
  position: relative;
  text-transform: uppercase;
  padding: 0px 48px 0px 48px;
}
.read__or::before, .read__or::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #DAE4FE;
  width: 15px;
}
.read__or::before {
  top: 50%;
  left: 16px;
}
.read__or::after {
  top: 50%;
  right: 16px;
}

/* SECTOIN .start*/
.start {
  flex: 0 1 auto;
  width: 100%;
  background-color: #F5F8FF;
}
.start__container {
  max-width: 59.875rem;
  margin: 0 auto;
}
.start__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 104px 0px 100px 0px;
}
.start__ttitle {
  color: #3D4F9F;
}
.start__subtitle {
  color: #3D4F9F;
  padding: 20px 0px 92px 0px;
}
.start__block {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid #D8E3FE;
  box-shadow: 0px 15px 50px #EFF4FF;
  background-color: #fff;
  padding: 64px 34px 64px 34px;
  position: relative;
}
.start__block .block__img {
  flex: 0 1 50%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 12px 14px;
  background: linear-gradient(13.46deg, rgba(255, 199, 53, 0.44) 1.89%, rgba(255, 227, 154, 0.93) 1.9%, rgba(255, 159, 90, 0) 68.24%);
}
.start__block .block__img .img__item-big {
  position: relative;
  width: 300px;
  height: 300px;
  grid-column: span 1;
  grid-row: span 2;
}
.start__block .block__img .img__item-big img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  box-shadow: 0px 15px 100px #E5EBF8;
}
.start__block .block__img .img__item-top, .start__block .block__img .img__item-bottom {
  position: relative;
  width: 140px;
  height: 140px;
  grid-column: span 1;
  grid-row: span 1;
}
.start__block .block__img .img__item-top img, .start__block .block__img .img__item-bottom img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  box-shadow: 0px 15px 100px #E5EBF8;
}
.start__block .block__info {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 66px;
}
.start__block .block__title {
  color: #3D4F9F;
}
.start__block .block__text {
  color: #8D96BD;
  padding: 32px 0px 46px 0px;
}
.start__block .block__btn {
  display: flex;
  flex-direction: row;
}
.start__block .block__btn .block__btn-blue, .start__block .block__btn .block__btn-white {
  text-align: center;
}
.start__block .block__btn .block__btn-blue {
  margin: 0px 8px 0px 0px;
  color: #3A79FF;
  background-color: #D2E1FF;
}
.start__block .block__btn .block__btn-blue:hover {
  background-color: #4C85FF;
  color: #697CA6;
}
.start__block .block__btn .block__btn-white {
  color: #A6B6DA;
}
.start__block .block__btn .block__btn-white:hover {
  background-color: #D2E1FF;
  color: #A4ABC8;
}
.start .block__arrow-left, .start .block__arrow-right {
  position: absolute;
  top: 50%;
}
.start .block__arrow-left {
  left: 0;
  transform: translate(-75px, 0px);
}
@media (max-width: 992px) {
  .start .block__arrow-left {
    transform: translate(0px, 0px);
  }
}
.start .block__arrow-right {
  right: 0;
  transform: translate(75px, 0px);
}
@media (max-width: 992px) {
  .start .block__arrow-right {
    transform: translate(0px, 0px);
  }
}
.start__swipe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 104px 0px;
}

/* SECTOIN .info*/
.info {
  flex: 0 1 auto;
  width: 100%;
}
.info__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.info__body {
  flex: 1 1 auto;
  max-width: 16.25rem;
  flex-direction: column;
  display: flex;
}
.info__body-darkblue, .info__body-blue {
  flex: 1 1 50%;
  display: flex;
}
.info__body-darkblue {
  justify-content: flex-end;
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
  padding: 66px 90px 66px 0px;
}
.info__body-blue {
  padding: 66px 0px 66px 90px;
  justify-content: flex-start;
  background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
}
.info__img-blue, .info__img-white {
  flex: 0 1 auto;
  display: flex;
  position: relative;
}
.info__img-blue {
  align-self: flex-start;
}
.info__img-white {
  align-self: flex-end;
}
.info__img-blue img, .info__img-white img {
  max-height: 66px;
  flex: 0 1 66px;
  -o-object-fit: cover;
     object-fit: cover;
}
.info__number-white, .info__number-blue {
  flex: 0 1 auto;
  padding: 24px 0px 24px 0px;
}
.info__number-white, .info__text-white {
  text-align: right;
  color: #fff;
}
.info__number-blue, .info__text-blue {
  text-align: left;
  color: #5E80FF;
}

/* SECTOIN .info*/
.quotes {
  flex: 0 1 100%;
  position: relative;
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
}
.quotes__body {
  padding: 108px 0px 108px 276px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1200px) {
  .quotes__body {
    padding: 108px 0px 108px 120px;
  }
}
@media (max-width: 992px) {
  .quotes__body {
    padding: 108px 0px 108px 120px;
  }
}
.quotes__textblock {
  min-width: 20.875rem;
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  padding: 32px 0px 0px 0px;
}
.quotes__textblock .textblock__ttitle {
  color: #3D4F9F;
  text-align: left;
}
.quotes__textblock .textblock__subtitle {
  padding: 30px 0px 14px 0px;
  color: #3D4F9F;
  text-align: left;
  line-height: 2.8125rem;
}
.quotes__textblock .textblock__text {
  color: #A4ABC8;
  text-align: left;
}
.quotes__comments {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 132px;
}
@media (max-width: 992px) {
  .quotes__comments {
    padding: 0px 0px 0px 100px;
  }
}
.quotes__items {
  display: flex;
  flex-direction: row;
  margin: 0px -16px 0px -16px;
}
.quotes__item {
  width: 26.5rem;
  height: 11rem;
  margin: 0px 16px 0px 16px;
  background: #FFFFFF;
  border: 1px solid #D8E3FE;
  box-shadow: 0px 5px 50px #F3F5FA;
  display: flex;
  position: relative;
}
@media (max-width: 992px) {
  .quotes__item {
    width: 22.5rem;
    height: 10rem;
  }
}
.quotes__text {
  padding: 40px 70px 50px 70px;
  color: #676F95;
}
@media (max-width: 992px) {
  .quotes__text {
    padding: 20px 40px 30px 40px;
  }
}
.quotes__img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.quotes::after, .quotes::before {
  content: "";
  width: 100%;
  border: 1px solid #D8E3FE;
  position: absolute;
}
.quotes::after {
  top: 0;
  left: 0;
}
.quotes::after {
  bottom: 0;
  left: 0;
}
.quotes__swipe {
  max-width: 100%;
  padding: 70px 0px 0px 70px;
}
.quotes__swipe .swipe__block {
  width: 168px;
}
.quotes__swipe .swipe__block .swipe__item:first-child {
  background-color: #D1D1E4;
}
.quotes__swipe .swipe__block .swipe__item:nth-child(3) {
  background-color: #5283FF;
}

/* SECTOIN .ask*/
.ask {
  flex: 0 1 100%;
}
.ask__container {
  max-width: 46.5rem;
  margin: 0 auto;
}
.ask__body {
  padding: 176px 15px 176px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ask .ttitle {
  color: #3D4F9F;
}
.ask .subtitle {
  color: #3D4F9F;
  padding: 20px 0px 68px 0px;
}
.ask__block {
  width: 100%;
}
.ask__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.ask__item .item__body-passive {
  position: relative;
  padding: 0px 0px 0px 30px;
}
.ask__item .item__body-passive .item__title-passive {
  color: #8e96b7;
  padding: 12px 0px 17px 0px;
}
.ask__item .item__body-passive::before {
  content: url(../img/icons/Vector_bottom.png);
  position: absolute;
  top: 8px;
  left: 0;
}
.ask__item .item__body-active {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 30px;
}
.ask__item .item__body-active .item__title-active {
  color: #495274;
}
.ask__item .item__body-active::before {
  content: url(../img/icons/Vector_top.png);
  position: absolute;
  top: 8px;
  left: 0;
}
.ask__line {
  width: 100%;
  border-bottom: 1px solid #D8E3FE;
}
.ask__box {
  display: flex;
  flex-direction: row;
  padding: 16px 0px 52px 40px;
  align-items: center;
}
.ask__text {
  flex: 0 0 63.333%;
  color: #8D96BD;
  padding: 0px 62px 0px 0px;
}
.ask__btn {
  flex: 0 0 33.333%;
  background-color: #E8ECF4;
  color: #7382A3;
}
.ask__btn:hover {
  background-color: #5E81FE;
  color: #D2E1FF;
}

/* SECTOIN .get */
.get {
  flex: 0 1 100%;
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
}
.get__bg {
  width: 100%;
  z-index: 1;
  position: relative;
}
.get__clouds {
  width: 100%;
  position: relative;
}
.get__clouds .cloud__item-botleft {
  position: absolute;
  display: flex;
  top: 282px;
  left: 116px;
}
.get__clouds .cloud__item-botleft .cloud__item-botleft img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  flex: 0 1 auto;
}
.get__clouds .cloud__item-botright {
  position: absolute;
  display: flex;
  top: 9.375rem;
  right: 5.625rem;
}
.get__clouds .cloud__item-botright .cloud__item-botright img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  flex: 0 1 auto;
}
.get__clouds .cloud__item-dtop {
  position: absolute;
  display: flex;
  top: 2.625rem;
  left: 3.375rem;
}
.get__clouds .cloud__item-dtop .cloud__item-dtop img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  flex: 0 1 auto;
}
.get__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
  max-width: 44.5rem;
  padding: 90px 16px 90px 16px;
  margin: 0 auto;
}
.get__ttitle {
  color: #fff;
}
.get__subtitle {
  color: #fff;
  padding: 16px 0px 28px 0px;
}
.get__subtitle span {
  font-weight: 500;
}
.get__text {
  color: #fff;
  text-align: center;
}
.get__btn {
  display: flex;
  flex-direction: row;
  padding: 40px 0px 0px 0px;
}
.get__btn-white {
  display: block;
  color: #565F82;
  background-color: #fff;
  box-shadow: 0px 5px 15px #6480E8;
  border-radius: 2px 0px 0px 2px;
}
.get__btn-white:hover {
  background-color: #D2E1FF;
  color: #A4ABC8;
}
.get__btn-blue {
  display: block;
  color: #C7D3FF;
  padding: 13px 9px 13px 9px;
  border: 1px solid #A0B4FF;
  border-radius: 0px 2px 2px 0px;
}
.get__btn-blue:hover {
  background-color: #fff;
  color: #4C85FF;
  border: 2px solid #3D4F9F;
}

/* SECTOIN .sign */
.sign {
  flex: 0 1 100%;
  background: #FCFDFF;
  position: relative;
}
.sign__container {
  max-width: 55.5rem;
  margin: 0 auto;
}
.sign__body {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 118px 15px 118px 15px;
}
.sign__items {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
}
.sign__ttitle {
  color: #3D4F9F;
}
.sign__text {
  padding: 18px 0px 0px 0px;
  color: #8D96BD;
}
.sign__btn {
  flex: 0 0 60%;
  display: flex;
  flex-direction: row;
}
.sign__btn form {
  flex: 0 0 60%;
}
.sign__input {
  width: 17.5rem;
  height: 3.75rem;
  background: #EFEFF7;
  border-radius: 5px;
  color: #7A85AD;
  padding: 22px 0px 22px 24px;
  margin: 0px 14px 0px 0px;
  text-align: left;
}
.sign__input:focus {
  background-color: #D1D1E4;
}
.sign__btn-darkblue {
  flex: 0 0 40%;
  display: block;
  box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
  background: #4D6CE1;
  border-radius: 5px;
  color: #fff;
  padding: 22px 62px 22px 62px;
}
.sign__btn-darkblue:hover {
  background-color: #D2E1FF;
  color: #A4ABC8;
}

.sign::after, .sign::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #D8E3FE;
}

.sign::before {
  bottom: 0;
}

.sign::after {
  top: 0;
}

/* SECTOIN .footer */
.footer {
  flex: 0 1 auto;
}
.footer__container {
  width: 80%;
  margin: 0 auto;
}
.footer__body {
  display: flex;
  flex-direction: column;
  padding: 93px 0px 93px 0px;
}
.footer__info {
  color: #AEB8D0;
  padding: 0px 0px 0px 100px;
}