@import "_nullstyles";

@import url(https://fonts.googleapis.com/css?family=Lato:regular,700); // Lato font


body{
    font-family: Lato;
}

//========================================================================

        // FONTS:

// Lato 700

%tpl-lb-20{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

%tpl-lb-16{
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
}

%tpl-lb-14{
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
}

%tpl-lb-13{
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
}

%tpl-lb-12{
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
}

// Lato 400

%tpl-lr-14{
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

%tpl-lr-13{
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

%tpl-lr-12{
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
}

//========================================================================

        // MAIN COLOURS:

// font colours:

$c-w: hsla(0, 0%, 100%, 1);
$c-g: hsla(0, 0%, 57%, 1);
$c-gg: hsla(0, 0%, 71%, 1);
$c-dg: hsla(216, 3%, 38%, 1);
$c-bl: hsla(0, 0%, 0%, 1);
$c-b: hsla(219, 85%, 57%, 1);

// background colours:
$bgc-b: hsla(219, 85%, 57%, 1);
$bgc-bo: rgb(111, 160, 252);
$bgc-bl: hsla(0, 0%, 0%, 0.7);
$bgc-dg: hsla(216, 6%, 15%, 0.75);
$bgc-w: hsla(0, 0%, 100%, 0.8);
$bgc-w2: hsla(0, 0%, 100%, 0.2);
$bgc-lb: hsla(0, 0%, 0%, 0.24);
$bgc-lb1: hsla(0, 0%, 0%, 0.16);
$bgc-r: hsla(0, 98%, 64%, 1);

//=====================================================================

.wrapper{
    max-width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    background: url(../Img/img/background.png) 100%/cover fixed no-repeat;
}

//=====================================================================

.nav-bar {
    flex: 0 0 72px;
    min-height: 100%;
    background: $bgc-bl;
    &__menu {
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        .menu__dots{
            flex: 0 0 auto;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px 8px 15px 8px;
            .dots__item {
                display: block;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: rgb(211, 57, 57);
            }
            .dots__item-yellow {
                background-color: rgb(233, 167, 24);
            }
            .dots__item-green{
                background-color: rgb(53, 135, 53);
            }
        }
        .menu__links {
            flex: 1 1 42px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .menu__item-active{
                position: relative;
            }
            .menu__item-active::before{
                content: '';
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #8F8F8F;
                top: 30px;
                left: -17px;
                position: absolute;
            }
            .links__item{
                display: block;
                width: 42px;
                height: 42px;
                margin: 18px 0px 18px 0px;
                box-shadow: -2px 0px 16px rgba(0, 0, 0, 0.16);
            }
            .links__item-active{
                opacity: 1;
                position: relative;
            }
            
            .links__item-passive{
                opacity: 0.4;
            }
        }
        .menu__add {
            flex: 0 0 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px 0px 20px 0px;
            .add__item{
            box-shadow: -2px 0px 16px rgba(0, 0, 0, 0.16);
            }
        }
    }
}

//=====================================================================

.nav-list{
    flex: 0 0 268px;
    background-color: $bgc-dg;
    overflow: hidden;
    &__container {
        width: 240px;
        margin: 0 auto;
        min-height: 100%;
    }
    &__body {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 35px 0px 0px 0px;
        .nomad-list__body-active{
            display: flex;
            flex-direction: column;
            .nomad-list__treads{
                padding: 18px 0px 12px 0px;
                .nomad-list__chat {
                    @extend %tpl-lr-14;
                    color: $c-gg;
                    padding: 0px 0px 0px 30px;
                    background: url(../Img/icons/chat.png) 0 0 no-repeat;
                }
            }
            .nomad-list__channels, 
            .nomad-list__friends{
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                .channel__items, 
                .friends__items {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .channels__title, 
                    .channels__number, 
                    .friends__title, 
                    .friends__number{
                        @extend %tpl-lr-12;
                        color: $c-g;
                        text-transform: uppercase;
                    }
                    .channels__number, 
                    .friends__number{
                        text-align-last: right;
                    }
                }
                .channel__menu, 
                .friends__menu{
                    flex: 1 1 auto;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: 14px 0px 18px 0px;
                    .channel__item{
                        width: 100%;
                        height: 30px;
                        border-radius: 4px;
                        padding: 5px 0px 0px 14px;
                        color: $c-gg;
                        @extend %tpl-lr-14;
                    }
                    .channel__item:hover{
                        background-color: $bgc-w2;
                        color: $c-w;
                    }
                }
                .friends__items{
                    padding: 0px 0px 12px 0px;
                }
                .friends__menu{
                    max-height: 220px;
                    overflow-y: auto;
                    padding: 0;
                    .friends__item{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 0px 0px 20px 20px;
                        position: relative;
                        .friends__img{
                            flex: 0 0 32px;
                            width: 32px;
                            height: 32px;
                            border-radius: 4px;
                            overflow: hidden;
                            .friends__img img{
                                width: 100%;
                                display: block;
                                object-fit: contain;
                            }
                        }
                        .friends__name{
                            flex: 1 1 auto;
                            padding: 0px 0px 0px 20px;
                            @extend %tpl-lr-14;
                            color: $c-gg;
                        }
                    }
                    .friends__item::before, 
                    .friends__item-active::before{
                        content: '';
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        position: absolute;
                        top: 12px;
                        left: 0;                    
                        background-color: hsla(0, 0%, 40%, 1);
                    }
                    .friends__item-active::before{
                        background-color: hsla(90, 81%, 44%, 1);
                    }
            }    }
        }
    }
    &__items{
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
        .body__nomad-list {
            flex: 0 0 auto;             
            .nomad-list__title{
                @extend %tpl-lb-20;
                color: $c-w;
                padding: 0px 20px 0px 0px;
                position: relative;
            }
            .nomad-list__title::after{
                content: url(../Img/icons/arrow.png);
                top: -2px;
                right: 0;
                position: absolute;
            }
        }
        .body__settings{
            flex: 0 0 auto;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        .body__settings img{
            flex: 0 0 16px;
            display: block;
            width: 100%;
        }
    }   
}

//=====================================================================

.general__container{
    max-width: 822px;
    margin: 0 auto;
}
.general{
    flex: 1 1 auto;
    overflow: hidden;
    background-color: #fff;    
    min-height: 100%;
    &__body{
        max-width: 860px;
        margin: 0 auto;
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }
}
.general__box{ //to fix 'general__header'and 'general__message' above the main content
        width: 860px;
        height: 50px;
        margin: 0 auto;
        position: fixed;
        background-color: $bgc-w;
        z-index: 1;
}

.header__line::after, .message__line::before{
    content: '';    
    left: 0;
    width: 100%;
    border: 2px solid $bgc-lb;
    position: absolute;
}
.header__line::after{
    bottom: 0;
}
.message__line::before{
    top: 0;
}
//=====================================================================

.general__header {
    flex: 0 0 auto;
    padding: 18px 0px 0px 0px;
    .header__block{
        position: relative;
    }   
    .header__body{
        display: flex;
        flex-direction: row;
        align-items: center;        
        padding: 0px 0px 20px 0px;
    }
    .header__general{
        flex: 1 1 auto;
        .general__item{
            @extend %tpl-lb-20;
            color: $c-bl;
            padding: 0px 18px 0px 0px;
            background: url(../Img/icons/star.png) 90px 4px no-repeat;
        }
    }
    .header__users{
        @extend %tpl-lr-14;
        color: hsla(0, 0%, 64%, 1);
        position: relative;
        padding: 0px 0px 0px 20px; 
        background: url(../Img/icons/user.png) 0px 2px no-repeat;
    }
    .header__search{
        flex: 0 0 auto;
        width: 240px;
        margin: 0px 20px 0px 20px;
        .search__item{
            border: 0.5px solid $bgc-lb;
            border-radius: 4px;
            width: 240px;
            height: 32px;
            color: $c-g;
            @extend %tpl-lr-14;
            padding: 0px 16px 0px 16px;
            background: url(../Img/icons/search.png) 208px 8px no-repeat; 
            transition: background-color ease 0.3s;
        }   
        .search__item:focus{
            background-color: $bgc-w2;
        }
    }
    .header__bell{
        flex: 0 0 18px;
        display: flex;
        position: relative;
        .header__bell img{
            display: block;
            flex: 0 0 100%;
            width: 100%;                
        }
    }    
    .header__bell::after{
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $bgc-r;
        top: 0;
        right: 0;
        position: absolute;
    }
    .header__menu{
        flex: 0 0 auto;
        height: 28px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 0px 0px 0px 22px;
        .menu__dot{
            width: 4.5px;
            height: 4.5px;
            background-color: $bgc-lb;
            border-radius: 50%;
        }
    }
}    

//==========================================================================================================================================

.general__main {
    flex: 1 1 auto;
    margin: 50px 0px 0px 0px;
    .main__chat{
        width: 100%;
        padding: 20px 0px 0px 0px;  
        max-height: 610px;
        overflow: auto;      
        .chat__old-message,
        .chat__monday-message,
        .chat__yesterday-message,
        .chat__today-message {            
            display: flex;
            flex-direction: column;
            .chat__subtitle{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                padding: 0px 0px 10px 0px;
            }
            .chat__subtitle::before,
            .chat__subtitle::after{
                content: '';
                position: absolute;
                width: 340px;
                height: 1px;
                background-color: $bgc-lb1;
                top: 8px;
            }
            .chat__subtitle::before{
                left: 0;
            }
            .chat__subtitle::after{
                right: 0;
            }
            .chat__subtitle h4{
                @extend %tpl-lr-13;
                color: $c-g;
            }
        }
    }
}
.chat__user {
    display: flex;
    flex-direction: row;  
    padding: 0px 0px 10px 0px;  
    .user__img{
        flex: 0 0 32px;
        width: 32px;
        height: 32px;
        border-radius: 4px;
        display: flex;
        overflow: hidden;
        .user__img img{
            width: 100%;
            display: block;
            object-fit: cover;
        }
    } 
    .user__box {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding: 0px 0px 0px 22px;
        .user__info{
            flex: 1 1 auto;
            display: flex;
            flex-direction: row;
            .user__name{
                @extend %tpl-lb-14;
                color: $bgc-bl;
            }
            .user__time {
                padding: 0px 0px 0px 22px;
                @extend %tpl-lr-12;
                color: $c-g;
            }
        }
        .user__message {
            flex: 1 1 auto;
            display: flex;
            flex-direction: row;
            padding: 2px 0px 2px 0px;
            .user__text{
                @extend %tpl-lr-13;
                color: $c-bl;
            }    
            .text__emojis{
                position: relative;
            }
            .text__emojis::after{
                content: url(../Img/emojis/bus.png);
                top: -5px;
                right: -40px;
                position: absolute;
            }            
            .user__text span{
                color: $c-b;
            }
            .user__smile{
                position: relative;
            }
            .user__smile::after{
                content: url(../Img/emojis/glasses.png);
                position: absolute;
                top: -3px;
                right: -40px;
            }
        }
        .user__link{
            @extend %tpl-lr-13;
            color: $c-b;
            padding: 0px 5px 0px 0px;
        }
    }
    .user__photo{
        flex: 0 0 auto;
        width: 266px;
        height: 200px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        padding: 10px 0px 10px 0px;
        position: relative;
        .user__photo img{
            display: block;
            width: 100%;
            object-fit: cover;
        }
        .user__likes{
            width: 45px;
            height: 25px;
            border-radius: 5px;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
            background-color: #fff;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            position: absolute;
            bottom: -12px;
            right: 0;
            transform: translate(50%, 0);
            .likes__emojis{
                flex: 0 0 16px;
                display: flex;
                .likes__emojis img{
                    width: 100%;
                    display: block;
                    object-fit: cover;
                }
            }
            .likes__culc{
                @extend %tpl-lr-12;
                color: $c-bl;
            }
        }
    }
}

//==========================================================================================================================================


.general__message {
    flex: 0 0 auto;
    height: 72px;
    .message__block{
        position: relative;
    }
    .message__body{
        margin: 0px 0px 0px -10px;
        padding: 20px 0px 20px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;        
        .message__img{
            flex: 0 0 16px;
            margin: 0px 10px 0px 10px;
            .message__img img{
                width: 100%;
                display: block;
                object-fit: cover;
            }
        }
        .message__input{
            width: 762px;
            height: 42px;
            color: $c-g;
            @extend %tpl-lr-14;
            padding: 6px 6px 0px 6px;
            transition: background-color ease 0.3s;
        }
        textarea.message__input:focus{
            background-color: $bgc-w2;
}
    }
} 

//==========================================================================================================================================

.profile {
    flex: 0 0 200px;
    min-height: 100%;
    background-color: $c-gg;
    display: flex;
    &__body {  
        min-height: 100%;      
        display: flex;
        flex-direction: column;
        justify-content: start;               
    }
    &__photo{
        flex: 0 0 200px;
        display: flex;
    }    
    &__photo img{
        width: 100%;
        display: block;
        object-fit: cover;
    }
    &__container{
        width: 170px;
        margin: 0 auto;
    }
    &__info{
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;        
        .info__user{
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            padding: 20px 0px 20px 0px;
            .user__name{
                @extend %tpl-lb-16;
                color: $c-bl;
                padding: 0px 0px 4px 0px;
                position: relative;
            }
            .user__name::after{
                content: '';
                width: 8px;
                height: 8px;
                border-radius: 50%;
                position: absolute;
                top: 0;
                right: 70px;
                background-color: hsla(90, 81%, 44%, 1);
            }
            .user__prof, .info__title{
                @extend %tpl-lr-12;
                color: $c-dg;
            }
        }
        .info__contacts{
            flex: 0 0 auto;
            display: flex;
            flex-direction: column;
            .info__media{
                flex: 0 0 auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .info__link{
                    display: inline-block;
                    width: 22px;
                    height: 22px;
                }
                .info__link img{
                    width: 100%;
                    display: block;
                    object-fit: cover;
                }
            }
            .info__btn{
                flex: 0 0 auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 10px 0px 2px 0px;
                .btn__message, .btn__send{
                    background-color: $bgc-b;
                    border-radius: 4px;
                    display: block;
                    transition: background-color ease 0.3s;
                }
                .btn__message:hover, .btn__send:hover{
                    background-color: $bgc-bo;
                }
                .btn__message{
                    @extend %tpl-lb-13;
                    color: #fff;
                    padding: 6px 42px 6px 42px;
                }
                .btn__send{
                    height: 26px;
                    width: 26px;
                    position: relative;
                }
                .btn__send::after{
                    content: url(../Img/icons/Button.png);
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -5px);
                }
            }
            .info__lable{
                flex: 0 0 auto;
                display: flex;
                flex-direction: column;
                padding: 12px 0px 12px 0px;
                .info__title{
                    @extend %tpl-lr-12;
                    color: $c-dg;
                }
                .info__data{
                    @extend %tpl-lr-14;
                    color: $c-bl;
                }
            }
        }
    }
    &__exit{
        flex: 0 0 auto;
        width: 100%;
        .exit__arrow{
            display: flex;
            flex-direction: row-reverse;
            margin: 0px 0px 20px 0px;            
        }
        .exit__arrow img{
            flex: 0 0 10px;
            width: 100%;
            object-fit: cover;
            display: block;
        }
    }
}