:root {
    font-size: 20px;
}
body {
    margin: 0;
    font-family: Raleway;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.header {
    background-color: #F8F4FC;
}
li.underline {
    text-decoration: underline;
}
div.nav {       
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;   
    flex-direction: row;
    font-weight: 700;
    color: #354657;
    font-size: 0.8rem;
    font-family: Raleway;
}
.logo {
    width: 20%;
}
ul.nav__images {
    width: 20%;
    list-style: none;
    display: flex;
    flex-direction: row;
    
}
ul.nav__images >li{
    padding-left: 15%;    
}
li >a  {
    text-decoration: none;
    color: #354657;
}
ul.nav__item-1 {
    width: 30%;
    list-style: none;
    display: flex;
    flex-direction: row;    
}
ul.nav__item-1 >li {
    padding-left: 20%;
}
ul.nav__item-3 {
    list-style: none;
    display: flex;
    flex-direction: row;
    color: #626262;
    font-weight: 400;    
    font-size: 0.6rem;
    font-family: Raleway;
    padding-bottom: 10px;
}
ul.nav__item-3 >li {
    padding-left: 1%;
}
p.box >input {
    width: 344px;
    height: 38px;    
    border: 1px solid #B6B6B6;
    border-radius: 3px;
    box-sizing: border-box;
}
p.box input::placeholder{
    padding-left: 10px;
}
div.line {
    border-top: 1px solid #E2E2E2;
    padding-bottom: 40px;
    padding-top: 20px;
}
input#login1 {
    display: none;
}
input#login1 + label {    
    display: inline-block; 
    height: 10px;
    width: 10px;
    border: 1px solid #946FD3;
    border-radius: 50%;
}
input#login1:checked + label {
    background-color: #946FD3;
    }
input#login2 {
    display: none;
}
input#login2 + label {    
    display: inline-block; 
    height: 10px;
    width: 10px;
    border: 1px solid #946FD3;
    border-radius: 50%;
}
input#login2:checked + label {
    background-color: #946FD3;
    }
input#del1 {
    display: none;
}
input#del1 + label{
    display: inline-block; 
    height: 10px;
    width: 10px;
    border: 1px solid #946FD3;
    border-radius: 50%;
}
input#del1:checked + label {
    background-color: #946FD3; 
}
input#del2 {
    display: none;
}
input#del2 + label{
    display: inline-block; 
    height: 10px;
    width: 10px;
    border: 1px solid #946FD3;
    border-radius: 50%;
}
input#del2:checked + label {
    background-color: #946FD3; 
}
input#del3 {
    display: none;
}
input#del3 + label{
    display: inline-block; 
    height: 10px;
    width: 10px;
    border: 1px solid #946FD3;
    border-radius: 50%;
}
input#del3:checked + label {
    background-color: #946FD3; 
}
input#pay1 {
    display: none;
}
input#pay1 + label{
    display: inline-block; 
    height: 10px;
    width: 10px;
    border: 1px solid #946FD3;
    border-radius: 50%;
}
input#pay1:checked + label {
    background-color: #946FD3; 
}
input#pay2 {
    display: none;
}
input#pay2 + label{
    display: inline-block; 
    height: 10px;
    width: 10px;
    border: 1px solid #946FD3;
    border-radius: 50%;
}
input#pay2:checked + label {
    background-color: #946FD3; 
}
input#pay3 {
    display: none;
}
input#pay3 + label{
    display: inline-block; 
    height: 10px;
    width: 10px;
    border: 1px solid #946FD3;
    border-radius: 50%;
}
input#pay3:checked + label {
    background-color: #946FD3; 
}
input#one {
    display: none;
}
input#one + label{
    display: inline-block; 
    height: 10px;
    width: 10px;
    border: 1px solid #946FD3;
}
input#one:checked + label {
    background-color: #946FD3; 
    border: 1px solid #351174;
}
.section__2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, auto); 
    gap: 20px;
    padding-bottom: 40px;
}
.section__2 div:nth-child(3) {
    grid-row-start: 2;
    grid-row-end: 6;
}
.section__item-1 {
    width: 100%;
   
    background-color: #F0F2F5;
    
}
div.inline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
div.inline p+p {
    padding-left: 20px;
}
.section__item-2 {
    width: 100%;
    
    background-color: #F0F2F5;
  
}
h1 {
    color: #354657;
    font-weight: 700;    
    font-size: 1.5rem;
    font-family: Raleway;
}
.section__item-3 >h3 {   
    color: #354657;
    font-weight: 700;    
    font-size: 1rem;
    font-family: Raleway;
    padding-left: 30px;
}
form, h4 p {
    color: #354657;
    font-weight: 400;    
    font-size: 0.8rem;
    font-family: Raleway;
    padding-left: 20px;
}
span {
    text-transform: uppercase;
    color: #354657;
    font-weight: 700;    
    font-size: 0.8rem;
    font-family: Raleway;
    padding-left: 30px;

    text-align: center;
}
.section__item-3 {
    width: 100%;
    
    background-color: #F0F2F5;
  
}
.section__item-4 {
    width: 100%;
   
    background-color: #F0F2F5;
  
}
.section__item-goods {
    width: 100%;
    
    background-color: #F0F2F5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.section__item-price {
    width: 100%;
    height: 41px;    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
}
.section__item-price >img {
    padding-left: 50px;
    padding-right: 50px;
}
.section__item-5 p{
    color: #354657;
    font-weight: 700;    
    font-size: 1rem;
    font-family: Raleway;
    
}
.section__item-price p{
    color: #354657;
    font-weight: 400;    
    font-size: 0.8rem;
    font-family: Raleway;
}
.section__item-6 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #354657;
    font-weight: 700;    
    font-size: 0.8rem;
    font-family: Raleway;
}
div.select {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.section__item-6-1 {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 338px;
}

.section__item-6-2 {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 338px;
    height: 46px;
    background-color: #FAFAFA;
}
.section__item-6-3 {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 338px;
}
.section__item-7 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    
    background-color: #F0F2F5;    
}
.section__item-7 h3 {
    color: #354657;
    font-weight: 700;    
    font-size: 1rem;
    font-family: Raleway;
    padding-left: 30px;
}
p.check >input{
    width: 17px;
    height: 17px;
    border: 1px solid #946FD3;
    box-sizing: border-box;
    border-radius: 2px;
}
textarea {
    width: 98%;
    height: 86px;
    border: 1px solid #B6B6B6;
    border-radius: 3px;
    box-sizing: border-box;
}
textarea::placeholder{
    padding-left: 10px;
}
button {
    width: 206px;
    height: 54px;
    border-radius: 50px;
    margin-right: 30px;    
    background-color: #946FD3;
    align-self: flex-end;
    color: #ffffff;
    font-weight: 700;    
    font-size: 0.8rem;
    font-family: Raleway;
    text-align: center;
}
.nav__footer {
    display: flex;
    justify-content: space-between;   
    flex-direction: row;
}
ul.nav__images-2 {
    width: 32%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
ul.nav__images-2 >li {
    padding-left: 20px;
}

p.nmbr {
    margin: 0%;    
}
p.nmbr >input{
    border: 2px solid #E9E9E9;
    border-radius: 3px;
    box-sizing: border-box;
}

.text-3 {
    padding-bottom: 10px;
    display: inline-block;
}
.text-4 {
    padding-left: 10px;
}
