body{
    font-family: 'Montserrat';
    font-size: 22px;
}
.container {
    width: 50%;
    margin: 44px auto;
}
.block {
    width: 802px;
    height: 800px;
    border-radius: 30px;
    background-color: #F58020;
    box-shadow: 0px 4px 4px;
    box-sizing: border-box;
}
.title {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 1.3;
    color: #ffffff;
    padding: 32px 0px 0px 74px;
}

ul.district {
    width: 670px;
    height: 559px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 39px auto;
    box-sizing: border-box;
    padding-top: 16px;
    overflow: auto;
    
}

ul.district >li {
    width: 594px;
    height: 50px;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 0.6;
    align-self: center;
    list-style: none;
    cursor: pointer;
    margin: 3px auto;
    box-sizing: border-box;
   padding: 10px 0px 14px 23px;
   
}
ul.district >li:hover {
    background-color: #F58020;
    cursor: pointer;
    
}


