:root {
    font-size: 20px;
}
body {
    margin: 4%;
    font-family: 'Assistant', sans-serif;
}
h1 { /*Лого*/
    font-size: 4rem;
    font-family: 'Assistant', sans-serif;
    color: #000000;
}
h1 >a {
    text-decoration: none;
    color: #000000;
}
span { /*Лого*/
    color: #4bcaff;
}
ul.menu__items {
    background-color: #35444f;     
    list-style: none;
    padding-left: 0;    
    overflow: auto;
    margin: 0 auto;
    width: 100%;
   
}
ul.menu__items li {
    float: left;
    width: 25%;
    text-align: center;
    color: #ffffff; 
    font-family: 'Assistant', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
}

ul.menu__items li >a {    
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 1rem 0;
    
}
ul.menu__items li:hover {
    background-color: #222f3a;
    transform: all .3s;    
 }
div.container {
    width: 80%;
    margin: 0 auto;
}
div.container__items {
    overflow: auto;
    width: 100%;
    padding-top: 30px;
    }
div.container__items >div{
    border: 1px solid #35444f;  
    
    }
.container__item1 {
    width: 30%;
    float: left; 
}
ul.nav {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;
    font-family: 'Assistant', sans-serif;
}
.nav__items >a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #35444f;
    padding: 1rem;
    display: inline-block;
    width: 100%;
    font-family: 'Assistant', sans-serif;
}
.nav__items:hover > a {
    background-color: #dbdbdb;
    padding-left: 3rem;
    color: black;
    box-sizing: border-box;
    transform:all .3s;
}
.container__item2 {
    width: 67%;    
    float: right; 
}
.container__it-1 {
    padding-top: 20%;
    padding-left: 40%;
    padding-bottom: 20%;
    
}
p{
    color: #2C2C2C;
    width: 65%;
    margin-left: 35%;
    font-size: 0.9rem;
    font-family: 'Assistant', sans-serif;    
    font-weight: normal;
    box-sizing: border-box;
    
}
ul.footer__items{
    width: 100%;
    overflow: auto;
    background-color: #b4b7ba;
    margin-top: 3%;
    list-style: none;
   
}
ul.footer__items li {
    float: left;
    width: 15%;
    text-align: center;
    color: #0c1927;
    font-size: 1.2rem;
    font-weight: normal;
}
ul.footer__items li:hover >a {    
    color: #3181a6;
    font-family: 'Assistant', sans-serif;
}
ul.footer__items li *{
    color: #0c1927;
    font-size: 1.2rem;
    font-weight: normal;
    text-decoration: none;    
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 1rem 0;
}
