*{     /* '*' means that this styles touches all tags in a document*/
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{ /* here the parameter "box-sizing" is used with "border-box" that changes the width of a block and as a result we can easely count */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* here these parameters delete lines of borders in some brousers: */
:focus,:active{
    outline: none;
}
a:focus,a:active{
    outline: none;
} 
/* here these parameters say to brousers that these tags are block one: */
nav,footer,header,aside {
    display: block;
}

/* here these parameters settles styles to all brousers that can't be changed by brousers themselves: */
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 30px;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* the font is settld to form's tags, because these tags don't inherit styles of the document */
input,button,textarea{
    font-family: inherit;
}

/* these parameters delete some brousers features and settle the needed */
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

/* these parameters delete some brousers features and settle the needed */
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}