@import "_nullstyles";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500&display=swap'); /* fonts used: Open Sans, Quicksand, Roboto*/

/* font colours*/
$c-ot: #ADB3CB;
$c-bbtn: #ADB4D2;
$c-a4: #A4ABC8;
$c-r: #D43F3F;
$c-btn: #3A79FF;
$c-b: #3D4F9F;
$c-os: #4074F8;
$c-n: #5E80FF;
$c-bm: #5E81FE;
$c-db:#697CA6;
$c-lb:#8D96BD;

/* background colours*/
$bgl: #DAE4FE;
$br-btn: #D1D1E4;
$bgc-g: #D1D6E3;
$bgc-lblue: #D2E1FF;
$br-d8: #D8E3FE;
$bgr-gb: #F5F8FF;
$bgc-r: #FFD7D7;
$bgc-blue: #4C85FF;
$bgc-db: #5E81FE;
$br-b: #5F82FF;
$bgc-bg: #5283FF;

            /* FONTS: */

/* ROBOTO*/

%tpltext-title{
    font-family: 'Roboto';
    font-size: 0.625rem; //10px
    line-height: 0.75rem; //12px
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    color: $c-b;
    text-transform: uppercase;
}
%tpltext{
    font-family: 'Roboto';
    font-size: 0.9375rem;//15px
    line-height: 1.8125rem;//29px
    font-weight: 400;
    letter-spacing: 0.03em;
    color: $c-lb;
}
%tplr-text{
    font-family: 'Roboto';
    font-size: 0.875rem;//14px
    line-height: 1.5rem;//24px
    font-weight: 400;
    letter-spacing: 0.03em;
}

/* QUICKSAND*/

%tpltext-subtitle{
    font-family: 'Quicksand';
    font-size: 1.5rem; //24px
    line-height: 0.093755rem; //1.5px
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    color: $c-b;
    text-align: center;
}
%tplsubtitle{
    font-family: 'Quicksand';
    font-size: 2.5rem; //40px
    line-height: 2.8125rem; //45px
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    color: $c-b;
}
%tplqtext{
    font-family: 'Quicksand';
    font-size: 0.75rem; //12px
    line-height: 0.9375rem; //15px
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    text-shadow: 0px 0px 5px #E6E6E6;
}
%tplqtext-s{
    font-family: 'Quicksand';
    font-size: 1.125rem; //18px
    line-height: 1.4375rem; //23px
    font-weight: 700;
    letter-spacing: 0.03em;
}
%tplqtext-btn{
    font-family: 'Quicksand';
    font-size: 0.8125rem; //13px
    line-height: 1rem; //16px
    font-weight: 700;
    text-align: center;
}
%tplqtext-as{
    font-family: 'Quicksand';
    font-size: 0.9375rem;//15px
    line-height: 1.1875rem; //19px
    letter-spacing: 0.03em;
    font-weight: 700;
}
%tplqtext-n{
    font-family: 'Quicksand';
    font-size: 3rem;//48px
    line-height: 5.1875rem; //83px
    letter-spacing: 0.03em;
    font-weight: 500;
}
%tplq-title{
    font-family: 'Quicksand';
    font-size: 2.25rem;//36px
    font-weight: 400;
}
%tplqtext-a{
    font-family: 'Quicksand';
    font-size: 0.9375rem;//15px
    line-height: 1.1875rem; //19px
    letter-spacing: 0.03em;
    font-weight: 500;
}
%tplq-light{
    font-family: 'Quicksand';
    font-size: 3rem;//48px
    line-height: 3.75rem; //60px
    font-weight: 300;
    text-align: center;
}

/* OPEN SANS*/

%tplo-title{
    font-family: 'Open Sans';
    font-size: 0.875rem; //14px
    font-weight: 700;
    line-height: 1.5625rem; //25px
    text-align: center;
}
%tplo-text{
    font-family: 'Open Sans';
    font-size: 0.6875rem; //11px
    line-height: 1.1875rem; //19px
    font-weight: 600;
    text-align: center;
}
%tplos-text{
    font-family: 'Open Sans';
    font-size: 0.75rem; //12px
    line-height: 1.4375rem; //23px
    font-weight: 600;
    letter-spacing: 0.03em;
}

%tpl-btn{ 
    padding: 13px 16px 13px 16px;
    border-radius: 2px;
    @extend %tplqtext-btn;
}

/* BODY*/
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

    /* MAIN PART*/
.main{
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.swipe__block{ /*main attributes for swipe items*/
    width: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .swipe__item{
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $bgc-g;
    }
    .swipe__item:first-child{
        background-color: $bgc-bg;
    }
    .swipe__item:hover{
        background-color: $c-lb;
    }
    .swipe__item:active{
        background-color: $bgc-bg;
    }
}

    /* SECTOIN .header*/
.header{
    flex: 0 1 100%; 
    &__container{        
        max-width: 77.25rem;//1236px;       
        margin: 0 auto;
        padding: 0px 15px 0px 15px;
    }
    &__body{
        width: 100%;
        height: 5rem;//80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
    }
    &__menu{   
        flex: 0 1 63.333%;     
        display: flex;
        flex-direction: row;  
        align-items: center;      
    }
    &__logo{
        flex: 0 1 26px;
        padding: 0px 72px 0px 0px;
        .logo{
            display: block;
            background-color: $bgc-db;
            border-radius: 50%;
            width: 26px;
            height: 26px;
        }
    }
    &__list {
        flex: 0 1 63.333%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li:first-child a{
            color: $c-bm;
        }
        .list__item {
            @extend %tplqtext;
            color: $c-db;
        }
    }    
    &__smedia {
        flex: 0 1 33.333%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__items{
        flex: 0 1 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 44px 0px 0px;
        .link{
            display: block;
            padding: 15px 0px 0px 0px;
        }
    }
    &__btn {
        flex: 0 1 40%;
        display: block;
        background-color: $bgc-lblue;
        @extend %tpl-btn;
        color: $c-btn;
    }
    &__btn:hover{
        background-color: $bgc-blue;
        color: $c-db;
    }
}
        /* SECTOIN .increase*/
/* text block */
.increase {
    width: 100%;
    height: 35.625rem;//570px;
    flex: 1 1 auto;
    background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
    border-bottom: 1px solid $br-b;
    border-top: 1px solid $br-b;
    overflow: hidden;
    position: relative;
    .bg__items{
        min-height: 100%;
    } 
        // container for text
    &__container{
        width: 38.75rem; //620px;           
        top: 5.75rem;//92px;
        left: 50%;
        transform: translate(-50%, 0);  
        position: absolute;
        z-index: 4;
    } 
    &__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }    
    &__ttitle {
        @extend %tpltext-title;
        color: $c-b;
    }
    &__title {
        font-family: 'Quicksand';
        font-size: 3rem;
        font-weight: 300;
        line-height: 3.75rem;
        text-align: center;
        color: $c-b;
        padding: 0px 0px 8px 0px;
    }
    &__title-bold{
        font-weight: 500;
    }
    &__text {
        @extend %tpltext;
        color: $c-lb;
        text-align: center;
        padding: 0px 0px 20px 0px;
    }
    &__btn{        
        padding: 0px 0px 150px 0px; 
    }
    &__btn a{
        box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
    }
    &__swipe{        
        padding: 0px 0px 28px 0px;
    }
} 
    /* background with clouds positioning*/
.bg__clouds {
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    .cloud__item-left {
        position: absolute;
        top: 8.125rem;//130px;
        left: 0;
        display: flex;
        flex: 0 0 78px;
        & img{
            object-fit: cover;
            width: 100%;                
            box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
        }
    }
    .cloud__item-top {
        position: absolute;
        top: 3.125rem;//50px;
        left: 15.875rem;//254px;
        display: flex;
        flex: 0 0 48px;
        & img{
            object-fit: cover;
            width: 100%;                
            box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
        }
    }
    .clouds__group-1{
        position: absolute;
        top: 17.875rem;//286px;
        left: 9.625rem;//154px;
        display: flex;    
        z-index: 1;
        flex: 0 0 80px;
        & img{
            width: 100%;
            object-fit: cover;                
        }
    }
    .clouds__group-2{
        position: absolute;
        top: 2.375rem;//38px;
        right: 5.5rem;//88px;
        display: flex;
        flex: 0 0 94px;
        & img{
            width: 100%;
            object-fit: cover;
            
        }
    }
    .clouds__group-3{
        position: absolute;
        top: 19.375rem;//310px;
        right: 10rem;//160px;
        display: flex;
        flex: 0 0 156px;
        & img{
            width: 100%;
            object-fit: cover;                
        }
    }
    .cloud__item-right{
        position: absolute;
        top: 19.25rem;//308px;
        right: 0;
        display: flex;
        flex: 0 0 56px;
        & img{
            width: 100%;
            object-fit: cover;                
            box-shadow: 0px 5px 45px rgba(151, 175, 227, 0.1);
        }
    }
}
/* background diagram positioning*/
.bg__diagram{
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    .diagram__item{
        display: flex;
        flex: 0 0 100%;
    }
    & img{
        width: 100%;
        object-fit: cover;            
    }
} 

    /* SECTOIN .customers*/
.customers {
    width: 100%;
    flex: 0 1 auto;
    .customers__container {
        max-width: 55.5rem;//888px;
        margin: 0 auto;    
    }
    &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 58px 0px 58px 0px;
    }
    &__link {
        flex: 0 0 auto;
        display: flex;
        flex: 0 1 116px;
        padding: 0px 6px 0px 6px;
    }
    &__link img{
        width: 100%;            
        object-fit: cover;
    }
}

    /* SECTOIN .plan*/
.plan{
    flex: 0 1 auto;
    width: 100%;
    background-color: $bgr-gb;
    @media (max-width:992px) { 
        height: 676px;        
    }
    &__container{
        max-width: 1124px;
        margin: 100px 22px 10px 270px;
        @media (max-width:1200px) {
            max-width: 970px;
            margin: 100px 22px 10px 170px;
        }
        @media (max-width:992px) { 
            margin: 0 auto;
            max-width: 750px;
        } 
    }
    &__body {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        @media (max-width:992px) {              
            display: block;
            position: relative;
            margin: 80px 15px 20px 15px;
        }     
    }        
    // image positioning
    &__img{ 
        flex: 0 0 700px;
        display: flex;
        @media (max-width:1200px) {
            flex: 0 0 560px;
        }
        @media (max-width:992px) {
            width: 560px;
            padding: 0px;
            position: absolute;
            top: 154px;
            right: 0;
            z-index: 1;
        }
        & img{
            width: 100%;
            object-fit: cover;
        }
    }
    // text block
    &__items {
        flex: 1 1 414px;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        padding: 60px 0px 0px 0px;
        @media (max-width:992px) {  
            padding: 0px;
            width: 414px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }
    }
    &__ttitle {
        @extend %tpltext-title;
        color: $c-b;
        text-align: left;
    }
    &__subtitle {
        @extend %tplsubtitle;
        color: $c-b;
        text-align: left;
        padding: 26px 0px 26px 0px;  
    }
    &__text {
        @extend %tplqtext;
        color: $c-lb;
        padding: 0px 0px 47px 0px;
    }
    &__btn {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    // double-btn item
    .btn__item-blue {
        display: block;
        @extend %tplqtext-btn;
        color: #fff;
        padding: 14px 26px 14px 26px;
        background-color: $bgc-blue;
        box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
        border-radius: 5px 0px 0px 5px;
        position: relative;
        &::after{
            content: url(../img/icons/Polygon.png);
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-14px,-50%);
        }
    }
    .btn__item-white {
        display: block;
        @extend %tplqtext-btn;
        font-weight: 500;
        color: $c-bbtn;
        padding: 13px 22px 13px 22px;
        border: 1px solid $br-btn;
        border-radius: 0px 5px 5px 0px;
    }
}

    /* SECTOIN .read*/
.read {
    flex: 0 1 auto;
    width: 100%;
    &__bg {
        max-width: 100%;
        position: relative;
        display: flex;
    }
    &__cloud-bl { //clouds positioning
        flex: 0 1 auto;
        top: 31.25rem;//500px;
        left: 7.875rem;//126px;
        position: absolute;
        z-index: 1;
        &__cloud-bl img{
            object-fit: cover;
            flex: 0 1 auto;
            width: 100%;
        }
    }
    &__cloud-tl {  //clouds positioning
        position: absolute;
        z-index: 1;
        display: flex;
        top: 6.75rem;//140px;
        left: 12.5rem;//120px;
        &__cloud-tl img{
            object-fit: cover;
            flex: 0 1 auto;
            width: 100%;
        }
    }
    &__cloud-tr { //clouds positioning
        position: absolute;
        z-index: 1;
        display: flex;
        top: 4.5rem;//200px;
        right: 7.125rem;//114px;
        &__cloud-tr img{
            object-fit: cover;
            flex: 0 1 auto;
            width: 100%;
        }
    }
    &__container { //text container
        max-width: 760px;
        margin: 0 auto;        
        position: relative;
        z-index: 1;
    }
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 140px 0px 140px 0px;
    }
    &__ttitle {
        @extend %tpltext-title;
        text-align: center; 
    }
    &__subtitle {
        @extend %tpltext-subtitle;
        padding: 20px 0px 90px 0px;
    }
    &__cards { //box for cards as a part of '&__body'
        display: flex;
        flex-direction: row;
        flex: 0 1 auto;
        justify-content: space-between;
        position: relative;
        margin: 0px -17px 0px -17px;
        flex-wrap: wrap;
        .cards__item {
            flex: 0 0 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0px 17px 0px 17px;
            .cards__img {
                flex: 0 0 70px;
                position: relative;
                display: flex;            
                .cards__img img{
                    width: 100%;
                    position: absolute;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                }
            }
            .cards__title {
                @extend %tplo-title;
                color: $c-os;
                padding: 34px 0px 25px 0px;
            }
            .cards__text {
                @extend %tplo-text;
                color: $c-ot;
                flex: 1 1 auto;
            }
        }    
        // lines between cards
        .card__line1, .card__line2, .card__line3{
            display: block;
            position: absolute;
            width: 28px;
            border-bottom: 1px solid $bgl;
        }
        .card__line1{
            top: 50%;
            left: 23%;
        }
        .card__line2{
            top: 50%;
            left: 49%;
        }
        .card__line3{
            top: 50%;
            left: 73%;
        }
    }
    &__btn {
        padding: 100px 0px 0px 0px;
        flex: 0 1 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    &__btn-red, &__btn-blue{
        display: block;
        @extend %tpl-btn;
    }
    &__btn-red{
        color: $c-r;
        background-color: $bgc-r;
    }
    &__btn-red:hover{
        background-color: $c-r;
        color: $bgc-r;
    }
    &__btn-blue{
        color: $c-btn;
        background-color: $bgc-lblue;
    }
    &__btn-blue:hover{
        background-color: $bgc-blue;
        color: $c-db;
    }
    &__or {
        display: inline-block;
        @extend %tplo-text;
        color: $c-ot;
        position: relative;
        text-transform: uppercase;
        padding: 0px 48px 0px 48px;
    }
    // lines next to 'or'
    &__or::before, &__or::after{
        content: '';
        position: absolute;
        border-bottom: 1px solid $bgl;
        width: 15px;
    }
    &__or::before{
        top: 50%;
        left: 16px;
    }
    &__or::after{
        top: 50%;
        right: 16px;
    }
    
}

    /* SECTOIN .start*/
.start{
    flex: 0 1 auto;
    width: 100%;
    background-color: $bgr-gb;
    &__container{
        max-width: 59.875rem;//958px;
        margin: 0 auto;
    } 
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 104px 0px 100px 0px;
    }
    &__ttitle {
        @extend %tpltext-title;
        color: $c-b;
    }
    &__subtitle {
        @extend %tpltext-subtitle;
        color: $c-b;
        padding: 20px 0px 92px 0px;
    }
    &__block { // block with images and text
        width: 100%;
        display: flex;
        flex-direction: row;
        border: 1px solid #D8E3FE;
        box-shadow: 0px 15px 50px #EFF4FF;
        background-color: #fff;
        padding: 64px 34px 64px 34px;
        position: relative;
        .block__img {
            flex: 0 1 50%;
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 12px 14px;
            background: linear-gradient(13.46deg, rgba(255, 199, 53, 0.44) 1.89%, rgba(255, 227, 154, 0.93) 1.9%, rgba(255, 159, 90, 0) 68.24%);
            .img__item-big {
                position: relative;
                width: 300px;
                height: 300px;                
                grid-column: span 1;
                grid-row: span 2;
                & img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                    box-shadow: 0px 15px 100px #E5EBF8;
                }
            }
            .img__item-top, .img__item-bottom {
                position: relative;
                width: 140px;
                height: 140px;
                grid-column: span 1;
                grid-row: span 1; 
            }    
            .img__item-top img, .img__item-bottom img{
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                object-fit: cover;
                top: 0;
                left: 0;
                box-shadow: 0px 15px 100px #E5EBF8;
            }                  
        }
        .block__info { // text block
            flex: 0 1 50%;
            display: flex;
            flex-direction: column;
            padding: 0px 0px 0px 66px;
        }
        .block__title {
            @extend %tplq-title;
                color: $c-b;
        }
        .block__text{
            @extend %tpltext;
            color: $c-lb;
            padding: 32px 0px 46px 0px;
        }
        .block__btn {
            display: flex;
            flex-direction: row;            
            .block__btn-blue, .block__btn-white {            
                text-align: center;
                @extend %tpl-btn;            
            }
            .block__btn-blue{
                margin: 0px 8px 0px 0px;
                color: $c-btn;
                background-color: $bgc-lblue;
            }
            .block__btn-blue:hover{
                background-color: $bgc-blue;
                color: $c-db;
            }
            .block__btn-white {        
                color: #A6B6DA;
            }
            .block__btn-white:hover{
                background-color: $bgc-lblue;
                color: $c-a4;
            }
        }
    }
    .block__arrow-left, .block__arrow-right{ // arrow positioning
        position: absolute;
        top: 50%;
    }
    .block__arrow-left{
        left: 0;
        transform: translate(-75px, 0px);
        @media (max-width:992px) {              
            transform: translate(0px, 0px);
        }
    }
    .block__arrow-right{
        right: 0;
        transform: translate(75px, 0px);
        @media (max-width:992px) {              
            transform: translate(0px, 0px);
        }
    }
    &__swipe {
        display: flex;
        justify-content: center;
        align-items: center; 
        padding: 0px 0px 104px 0px;
    }
}

    /* SECTOIN .info*/
.info{
        flex: 0 1 auto;
        width: 100%;
        &__container {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &__body{
            flex: 1 1 auto;
            max-width: 16.25rem;//260px;
            flex-direction: column;
            display: flex; 
        }
        &__body-darkblue, &__body-blue{
            flex: 1 1 50%;
            display: flex;          
        }
        &__body-darkblue{
            justify-content: flex-end;
            background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
            padding: 66px 90px 66px 0px;
        }
        &__body-blue {           
            padding: 66px 0px 66px 90px;            
            justify-content: flex-start;
            background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
        }
        &__img-blue, &__img-white{
            flex: 0 1 auto;
            display: flex;
            position: relative;        
        }
        &__img-blue{
            align-self: flex-start;
        }
        &__img-white{
            align-self: flex-end;
        }
        &__img-blue img, &__img-white img{
            max-height: 66px;
            flex: 0 1 66px;
            object-fit: cover;
        }
        &__number-white, &__number-blue{
            flex: 0 1 auto;
            @extend %tplqtext-n;
            padding: 24px 0px 24px 0px;        
        }
        &__number-white, &__text-white{
            text-align: right;
            color: #fff;
        }
        &__text-white, &__text-blue {
            @extend %tplqtext-s;        
        }        
        &__number-blue, &__text-blue {
            text-align: left;
            color: $c-n;
        }    
}
    /* SECTOIN .info*/
.quotes{
    flex: 0 1 100%;
    position: relative;
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
    &__body{
        padding: 108px 0px 108px 276px;
        display: flex;
        flex-direction: row;
        @media (max-width:1200px) {              
            padding: 108px 0px 108px 120px;
        }
        @media (max-width:992px) {              
            padding: 108px 0px 108px 120px;
        }
    }
    &__textblock{
        min-width: 20.875rem;//334px;
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        padding: 32px 0px 0px 0px;
        .textblock__ttitle{
            @extend %tpltext-title;
            color: $c-b;
            text-align: left;
        }
        .textblock__subtitle{
            padding: 30px 0px 14px 0px;
            @extend %tplq-title;
            color: $c-b;
            text-align: left;
            line-height: 2.8125rem; //45px
        }
        .textblock__text{
            @extend %tplos-text;
            color: $c-a4;
            text-align: left;
        }
    }
    &__comments{
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        padding: 0px 0px 0px 132px;
        @media (max-width:992px) {              
            padding: 0px 0px 0px 100px;
        }
    }
    &__items{
        display: flex;
        flex-direction: row;
        margin: 0px -16px 0px -16px;
    }
    &__item{
        width: 26.5rem; //424px;
        height: 11rem;// 176px;
        margin: 0px 16px 0px 16px;
        background: #FFFFFF;
        border: 1px solid #D8E3FE;
        box-shadow: 0px 5px 50px #F3F5FA;
        display: flex;
        position: relative;
        @media (max-width:992px) {              
            width: 22.5rem;
            height: 10rem;
        }
    }    
    &__text{
        padding: 40px 70px 50px 70px;
        @extend %tplr-text;
        color: #676F95;
        @media (max-width:992px) {              
            padding: 20px 40px 30px 40px;
        }
    }
    &__img{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }
    &::after, &::before{
        content: '';
        width: 100%;
        border: 1px solid #D8E3FE;
        position: absolute;
    }
    &::after{
        top: 0;
        left: 0;
    }
    &::after{
        bottom: 0;
        left: 0;
    }
    &__swipe{
        max-width: 100%;
        padding: 70px 0px 0px 70px;
        .swipe__block{
            width: 168px;
            .swipe__item:first-child{
                background-color: $br-btn;
            }
            .swipe__item:nth-child(3){
                background-color: $bgc-bg;
            }
        }
    }
}

    /* SECTOIN .ask*/
.ask{
    flex: 0 1 100%;
    &__container{
        max-width: 46.5rem;//744px;
        margin: 0 auto;
    }    
    &__body {            
        padding: 176px 15px 176px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ttitle {
        @extend %tpltext-title;
        color: $c-b;
    }
    .subtitle {
        @extend %tpltext-subtitle;
        color: $c-b;
        padding: 20px 0px 68px 0px;
    }
    &__block {
        width: 100%;
    }
    &__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        .item__body-passive {
        //display: none;
            position: relative;
            padding: 0px 0px 0px 30px;
            .item__title-passive {
                @extend %tplqtext-a;
                color: #8e96b7;
                padding: 12px 0px 17px 0px;
            }
        }    
        .item__body-passive::before{
            content: url(../img/icons/Vector_bottom.png);
            position: absolute;
            top: 8px;
            left: 0;
        }
        .item__body-active {
            display: flex;
            flex-direction: column;
            padding: 0px 0px 0px 30px;
            .item__title-active{
                @extend %tplqtext-as;
                color: #495274;                
            }
        }
        .item__body-active::before{
            content: url(../img/icons/Vector_top.png);
            position: absolute;
            top: 8px;
            left: 0;
        }
    }    
    &__line{
        width: 100%;
        border-bottom: 1px solid $br-d8;
    }
    &__box{
        display: flex;
        flex-direction: row;
        padding: 16px 0px 52px 40px;
        align-items: center;
    }
    &__text {
        flex: 0 0 63.333%;
        @extend %tplr-text;
        color: $c-lb;
        padding: 0px 62px 0px 0px;
    }
    &__btn {
        flex: 0 0 33.333%;
        background-color: #E8ECF4;
        @extend %tpl-btn;
        color: #7382A3;
    }
    &__btn:hover{
        background-color: $c-bm;
        color: $bgc-lblue;;
    }
}

    /* SECTOIN .get */
.get{
    flex: 0 1 100%;
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);  
    &__bg {
        width: 100%;       
        z-index: 1;
        position: relative;
    }    
    &__clouds{ 
        width: 100%;
        position: relative;        
        .cloud__item-botleft{
            position: absolute;
            display: flex;
            top: 282px;
            left: 116px;
            .cloud__item-botleft img{
                width: 100%; 
                object-fit: cover;
                flex: 0 1 auto;
            }
        }
        .cloud__item-botright{
            position: absolute;
            display: flex;
            top: 9.375rem;//150px;
            right: 5.625rem;//90px;
            .cloud__item-botright img{
                width: 100%;
                object-fit: cover;
                flex: 0 1 auto;
            }
        }
        .cloud__item-dtop{
            position: absolute;
            display: flex;
            top: 2.625rem;//42px;
            left: 3.375rem;//54px;
            .cloud__item-dtop img{
                width: 100%;
                object-fit: cover;
                flex: 0 1 auto;
            }
        }
    } 
    &__body{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 2;
        max-width: 44.5rem;//712px;
        padding: 90px 16px 90px 16px;
        margin: 0 auto;
    }
    &__ttitle {
        @extend %tpltext-title;
        color: #fff;
    }
    &__subtitle {
        @extend %tplq-light;
        color: #fff;
        padding: 16px 0px 28px 0px;
        & span{
        font-weight: 500;
        }
    }
    &__text {
        @extend %tpltext;
        color: #fff;
        text-align: center;
    }
    &__btn {
        display: flex;
        flex-direction: row;
        padding: 40px 0px 0px 0px;
    }
    &__btn-white {
        display: block;
        color: #565F82;
        @extend %tpl-btn;
        background-color: #fff;
        box-shadow: 0px 5px 15px #6480E8;
        border-radius: 2px 0px 0px 2px;
    }
    &__btn-white:hover{
        background-color: $bgc-lblue;
        color: $c-a4;
    }
    &__btn-blue {
        display: block;
        @extend %tplqtext-btn;
        color: #C7D3FF; 
        padding: 13px 9px 13px 9px;
        border: 1px solid #A0B4FF;
        border-radius: 0px 2px 2px 0px;
    }
    &__btn-blue:hover{
        background-color: #fff;
        color: $bgc-blue;
        border: 2px solid $c-b;
    }
}

    /* SECTOIN .sign */
.sign{
    flex: 0 1 100%;
    background: #FCFDFF;
    position: relative;
    &__container {
        max-width: 55.5rem;//888px;
        margin: 0 auto;
    }
    &__body {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 118px 15px 118px 15px;
    }
    &__items {
        flex: 0 0 40%;
        display: flex;
        flex-direction: column;
    }
    &__ttitle {
        @extend %tplqtext-s;
        color: $c-b;
    }
    &__text {
        padding: 18px 0px 0px 0px;
        @extend %tplr-text;
        color: $c-lb;
    }
    &__btn {
        flex: 0 0 60%;
        display: flex;
        flex-direction: row;
    }    
    &__btn form{
        flex: 0 0 60%;
    }    
    &__input {        
        width: 17.5rem;//280px;
        height: 3.75rem;//60px;
        background: #EFEFF7;
        border-radius: 5px;
        @extend %tplqtext-btn;
        color: #7A85AD;
        padding: 22px 0px 22px 24px;
        margin: 0px 14px 0px 0px;
        text-align: left;
    }
    &__input:focus{
        background-color: $br-btn;
    }
    &__btn-darkblue {
        flex: 0 0 40%;
        display: block;
        box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
        background: #4D6CE1;
        border-radius: 5px;
        @extend %tplqtext-btn;
        color: #fff;
        padding: 22px 62px 22px 62px;
    }
    &__btn-darkblue:hover{
        background-color: $bgc-lblue;
        color: $c-a4;
    }
}
.sign::after, .sign::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #D8E3FE;
}
.sign::before{
    bottom: 0;
}
.sign::after{
    top: 0;
}

    /* SECTOIN .footer */
.footer{
    flex: 0 1 auto;
    &__container{
        width: 80%;        
        margin: 0 auto;
    }
    &__body{
        display: flex;
        flex-direction: column;
        padding: 93px 0px 93px 0px;
    } 
    &__info {
        @extend %tplqtext;
        color: #AEB8D0;
        padding: 0px 0px 0px 100px;
    }
}