.block__img {
  width: 100%;
  position: relative;
  padding: 0px 0px 58% 0px;
}
.block__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}