@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* { /* '*' means that this styles touches all tags in a document*/
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after { /* here the parameter "box-sizing" is used with "border-box" that changes the width of a block and as a result we can easely count */
  box-sizing: border-box;
}

/* here these parameters delete lines of borders in some brousers: */
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/* here these parameters say to brousers that these tags are block one: */
nav, footer, header, aside {
  display: block;
}

/* here these parameters settles styles to all brousers that can't be changed by brousers themselves: */
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 30px;
  font-size: 22px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* the font is settld to form's tags, because these tags don't inherit styles of the document */
input, button, textarea {
  font-family: inherit;
}

/* these parameters delete some brousers features and settle the needed */
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* these parameters delete some brousers features and settle the needed */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.main__ex-5 .ex-5__box .box__item .box__form .box__input {
  font-size: 12px;
  line-height: 14.63px;
  font-weight: 300;
}

.main__ex-5 .ex-5__box .box__item .box__form .box__input:hover, .header__link-verbes {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.main__ex-4 .ex-4__input, .main__ex-4 .ex-4__text, .header__link-compte {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.main__ex-3 .block__list .list__item, .main__ex-2 .ex-2__input {
  font-size: 18px;
  line-height: 21.94px;
  font-weight: 400;
}

.header__link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.main__ex-5 .ex-5__box .box__item .box__title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

.main__ex-1 .block__item .block__name {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
}

.main__list .list__item {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  text-align: center;
}

.main__ex-5 .ex-5__words .words__item {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.main__ex .ex__task {
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-weight: 600;
  text-align: center;
}

.main__ex-2 .block__words .block__letter {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.main__subtitle, .header__subtitle {
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
}

.header__title {
  font-size: 46px;
  line-height: 56px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.08em;
  word-spacing: 0.1em;
}

/*========================================================= ==========*/
body {
  font-family: Montserrat;
  color: #333333;
  background-color: #fefbe9;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template: minmax(auto, 0.04fr) 1fr 120px/1fr;
  grid-template-areas: "header" "main" "footer";
}

/*=========================== HEADER ========================================*/
.header {
  grid-area: header;
  display: grid;
  grid-template: minmax(auto, 1fr) minmax(30px, auto) 270px/1fr;
}
.header__img {
  width: 100%;
  position: relative;
  padding: 0px 0px 44% 0px;
}
.header__img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__menu {
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 1252px) 1fr;
}
.header__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
  justify-content: start;
  grid-auto-flow: dense;
  grid-column: 2/3;
  padding: 0px 16px 0px 16px;
}
.header__link {
  display: block;
  height: 30px;
  border-radius: 0px 0px 5px 5px;
  text-align: center;
  padding: 2px 0px 0px 0px;
}
.header__link-1-3 {
  background-color: #fbea92;
  color: #6e851b;
  transition: all 0.3s ease;
}
.header__link-1-3:hover {
  background-color: #fceea8;
}
.header__link-4-5 {
  background-color: #f3d058;
  color: #425f0f;
  transition: all 0.3s ease;
}
.header__link-4-5:hover {
  background-color: #f5d979;
}
.header__link-6-7 {
  background-color: #b5aa2a;
  color: #fbea92;
  transition: all 0.3s ease;
}
.header__link-6-7:hover {
  background-color: #c4bb55;
}
.header__link-8-9 {
  background-color: #6e851b;
  color: #f5d979;
  transition: all 0.3s ease;
}
.header__link-8-9:hover {
  background-color: #8b9d49;
}
.header__link-10-12 {
  background-color: #425f0f;
  color: #f3d058;
  transition: all 0.3s ease;
}
.header__link-10-12:hover {
  background-color: #687f3f;
}
.header__link-verbes {
  background-color: #687f3f;
  padding: 4px 0px 0px 0px;
  color: #f3d058;
  transition: all 0.3s ease;
}
.header__link-verbes:hover {
  background-color: #8b9d49;
  color: #fbea92;
}
.header__link-temps {
  background-color: #8e9f6f;
  color: #f3d058;
  transition: all 0.3s ease;
}
.header__link-temps:hover {
  background-color: #b3bf9f;
  color: #425f0f;
}
.header__link-compte {
  background-color: #b3bf9f;
  color: #425f0f;
  transition: all 0.3s ease;
}
.header__link-compte:hover {
  background-color: #d9dfcf;
}
.header__textbox {
  padding: 20px 0px 90px 0px;
}
.header__title {
  color: #425f0f;
}
.header__subtitle {
  color: #f3d058;
  padding: 20px 0px 0px 0px;
}

/*=========================== MAIN ========================================*/
.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  /*====== The skeleton of the exercices body is the same for several blocks ============*/
}
.main__header {
  width: 100%;
  display: grid;
  grid-template: 1fr 2fr/1fr;
}
.main__header .header__items {
  position: relative;
}
.main__line {
  width: 100%;
  height: 10px;
  border-top: solid 6px #fbea92;
  border-bottom: solid 2px #fbea92;
  z-index: 0;
}
.main__subtitle {
  color: #6e851b;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -16px);
}
.main__box {
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 1252px) 1fr;
  margin: 20px 0px 0px 0px;
}
.main__content {
  grid-column: 2/3;
  display: grid;
  align-items: center;
  max-width: 100%;
  max-height: 180px;
  box-shadow: 0px 0px 5px rgba(245, 217, 121, 0.8);
  border-radius: 10px;
  background-color: #fdf6de;
  margin: 0px 16px 0px 16px;
  box-sizing: border-box;
}
.main__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px 0px;
  padding: 0px 12px 0px 0px;
}
.main__list li {
  display: grid;
  justify-content: center;
}
.main__list .list__item {
  color: #8b9d49;
  transition: all 0.5s ease;
}
.main__list .list__item:hover {
  text-decoration: underline;
}
.main__ex {
  /*============ exercices' styles are common for several blocks =====================*/
  display: grid;
  grid-template: 34px 1fr/1fr minmax(auto, 1252px) 1fr;
  padding: 70px 0px 50px 0px;
}
.main__ex .ex__task {
  /*============ title's styles of all exercices are common =====================*/
  color: #425f0f;
  grid-column: 2/3;
}
.main__ex .ex__block {
  /*============ several blocks are divided into parts with the same characteristics =====================*/
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 40px 40px;
  padding: 60px 16px 0px 16px;
}
.main__ex .ex__block .block__item {
  display: grid;
  grid-template: 1fr minmax(40px, 60px)/minmax(380px, 1fr);
  gap: 8px;
  overflow: hidden;
  cursor: pointer;
}
.main__ex .ex__block .block__item .block__img {
  /*============  positioning of an image in a block ===============*/
  width: 100%;
  padding: 0px 0px 58% 0px;
  position: relative;
  border-radius: 2px;
  border: 1px solid #425f0f;
}
.main__ex .ex__block .block__item .block__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/*=========================== ex-1 ========================================*/
.main__ex-1 .block__item .block__name {
  justify-self: center;
  color: #333333;
  text-align: center;
  transform: scale(0);
  transition: all 0.5s ease;
}
@media (max-width: 830px) {
  .main__ex-1 .block__item .block__name {
    font-size: 26px;
    font-weight: 500;
  }
}
.main__ex-1 .block__item:hover .block__name {
  transform: scale(1);
}

/*=========================== ex-2 ========================================*/
.main__ex-2 {
  background-color: #fdf6de;
  /*.ex-2__input-true, .ex-2__input-false == are active when the answer is correct or not*/
  /*.ex-2__input-false{
          display: none;
          border: 1px solid $bgc-r;
          background-color: $bgc-y_20;
      }
      .ex-2__input-true{
          display: none;
          border: 1px solid $bgc-g-100;
          background-color: $bgc-g_40;
          color: $c-b_40;
      }*/
}
.main__ex-2 .block__item {
  grid-template-rows: 1fr;
}
.main__ex-2 .block__item form {
  align-self: end;
}
.main__ex-2 .block__item-shadow {
  box-shadow: 4px 4px 20px #F0EED4;
  background-color: #fdf6de;
}
.main__ex-2 .block__words {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  counter-reset: item;
  align-items: center;
  justify-items: center;
  box-shadow: 4px 4px 20px #f0eed4;
  border-radius: 5px;
  border: 1px solid #f3d058;
  padding: 20px 20px 20px 20px;
}
.main__ex-2 .block__words .block__letter {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #425f0f;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 0px 0px 0px;
  background-color: #d9dfcf;
}
.main__ex-2 .block__words .block__letter-lg4 {
  background-color: #e1ddaa;
  transform: translate(16px, 4px);
}
.main__ex-2 .block__words .block__letter-lg2 {
  background-color: #f0eed4;
  transform: rotate(-17deg) translate(14px, -10px);
}
.main__ex-2 .block__words .block__letter-g4 {
  background-color: #c5cea4;
  transform: rotate(26deg) translate(5px, 12px);
}
.main__ex-2 .block__words .block__letter-g2 {
  background-color: #e2e7d1;
  transform: rotate(70deg) translate(-10px, 26px);
}
.main__ex-2 .block__words .block__letter-dy4 {
  background-color: #faecbc;
  transform: rotate(11deg) translate(-10px, 2px);
}
.main__ex-2 .block__words .block__letter-dy2 {
  background-color: #fdf6de;
  transform: rotate(-39deg) translate(0px, 12px);
}
.main__ex-2 .block__words .block__letter-y4 {
  background-color: #fdf7d3;
  transform: rotate(-22deg) translate(-4px, 8px);
}
.main__ex-2 .block__words .block__letter-y2 {
  background-color: #fefbe9;
  transform: rotate(14deg) translate(14px, -2px);
}
.main__ex-2 .block__words-big {
  grid-template-columns: repeat(4, 1fr);
}
.main__ex-2 .ex-2__input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #6e851b;
  background-color: #e2e7d1;
  color: #333333;
  padding: 0px 14px 0px 14px;
  transition: all 0.5s ease;
}
@media (max-width: 830px) {
  .main__ex-2 .ex-2__input {
    height: 60px;
    font-size: 24px;
    font-weight: 400;
  }
}
.main__ex-2 .ex-2__input:focus {
  border: 1px solid #8b9d49;
  background-color: #f0eed4;
}

/*=========================== ex-3 ========================================*/
.main__ex-3 .block__list {
  width: 100%;
  /* .list__item-true, .list__item-false == are active when the answer is correct or not*/
  /*.list__item-true{
      display: none;
      background-color: $bgc-dy_20;
      color: $c-b_80;
      border: 1px solid $bgc-g_100;
  }
  .list__item-false{
      display: none;
      background-color: $bgc-y_20;
      color: $c-b_40;
      border: 1px solid $bgc-r;
  }*/
}
.main__ex-3 .block__list select {
  display: none;
}
.main__ex-3 .block__list .list__item {
  display: inline-block;
  width: 100%;
  height: 40px;
  border: 1px solid #6e851b;
  border-radius: 2px;
  background: #f0eed4;
  padding: 0px 10px 0px 8px;
  color: #a8b676;
  transition: all 0.5s ease;
}
@media (max-width: 830px) {
  .main__ex-3 .block__list .list__item {
    height: 60px;
    font-size: 20px;
    font-weight: 400;
  }
}
.main__ex-3 .block__list .list__item option {
  display: none;
}
.main__ex-3 .block__list .list__item .list__item-h {
  display: inline-block;
  background: #f0eed4;
  color: #333333;
  box-shadow: none;
  transition: all 0.5s ease;
}
.main__ex-3 .block__list .list__item .list__item-h:hover {
  background-color: #d3cc7f;
  color: #425f0f;
}
.main__ex-3 .block__list .list__item:hover {
  background-color: #d3cc7f;
  color: #425f0f;
}

/*=========================== ex-4 ========================================*/
.main__ex-4 {
  background-color: #b5aa2a;
  /* .ex-4__input-true, .ex-4__input-false == are active when the answer is correct or not*/
  /*.ex-4__input-true{
          display: none;
          border: 1px solid $bgc-g_100;
          background: $bgc-lg_60;
      }
      .ex-4__input-false{
          display: none;
          border: 1px solid $bgc-g_80;
          background: $bgc-lg_40;
          color: $c-b_40;
          }*/
}
.main__ex-4 .ex__task {
  color: #fbea92;
}
.main__ex-4 .ex-4__block {
  grid-column: 2/3;
  display: grid;
  grid-template-rows: repeat(10, 80px);
  align-items: center;
  padding: 50px 16px 50px 16px;
}
@media (max-width: 989px) {
  .main__ex-4 .ex-4__block {
    grid-template-rows: repeat(10, 1fr);
  }
}
.main__ex-4 .ex-4__box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid #c4bb55;
  padding: 0px 0px 20px 0px;
}
@media (max-width: 989px) {
  .main__ex-4 .ex-4__box {
    flex-direction: column;
    justify-content: start;
    padding: 20px 0px 20px 0px;
  }
}
.main__ex-4 .ex-4__text {
  color: #333333;
  padding: 0px 10px 0px 50px;
  position: relative;
  align-self: center;
}
@media (max-width: 989px) {
  .main__ex-4 .ex-4__text {
    font-size: 24px;
    font-weight: 400;
    align-self: flex-start;
  }
}
.main__ex-4 .ex-4__text::before {
  content: url(../img/flower.png);
  top: -10px;
  left: 0;
  position: absolute;
}
.main__ex-4 .ex-4__img {
  width: 78px;
  height: 40px;
  border: 1px solid #8b9d49;
  border-radius: 2px;
  margin: 0px 4px 0px 4px;
  transition: all 0.8s ease;
}
@media (max-width: 989px) {
  .main__ex-4 .ex-4__img {
    width: 312px;
    height: 156px;
    margin: 12px 0px 12px 0px;
  }
}
.main__ex-4 .ex-4__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__ex-4 .ex-4__img:hover {
  transform: scale(5);
  margin: 0px 160px 0px 160px;
}
@media (max-width: 989px) {
  .main__ex-4 .ex-4__img:hover {
    transform: scale(1);
    margin: 0px 0px 0px 0px;
  }
}
.main__ex-4 .ex-4__input {
  width: 200px;
  height: 40px;
  border: 1px solid #8b9d49;
  border-radius: 2px;
  background: #d3cc7f;
  padding: 0px 10px 0px 10px;
  margin: 0px 8px 0px 8px;
  color: #333333;
  transition: all 0.5s ease;
}
@media (max-width: 989px) {
  .main__ex-4 .ex-4__input {
    width: 400px;
    height: 60px;
    font-size: 24px;
    font-weight: 400;
    margin: 20px 0px 20px 0px;
  }
}
@media (max-width: 789px) {
  .main__ex-4 .ex-4__input {
    width: 100%;
  }
}
.main__ex-4 .ex-4__input:hover {
  border: 1px solid #8b9d49;
  background: #e1ddaa;
}

/*=========================== ex-5 ========================================*/
.main__ex-5 .ex-5__block {
  display: grid;
  grid-template: 294px 1fr/1fr;
  grid-column: 2/3;
  padding: 0px 16px 0px 16px;
}
.main__ex-5 .ex-5__words {
  width: 100%;
  height: 174px;
  background-color: #fbea92;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 60px 0px 60px 0px;
}
.main__ex-5 .ex-5__words .words__item {
  max-width: 255px;
  color: #333333;
  margin: 0px 15px 0px 15px;
  align-self: center;
}
.main__ex-5 .ex-5__box {
  display: grid;
  grid-template: 1fr/repeat(auto-fit, minmax(600px, 1fr));
  gap: 30px 20px;
}
.main__ex-5 .ex-5__box .box__item {
  display: grid;
  grid-template: 50px 1fr/1fr;
  background-color: #f0eed4;
}
.main__ex-5 .ex-5__box .box__item .box__title {
  background-color: #c5cea4;
  line-height: 46px;
  color: #333333;
  text-align: center;
}
.main__ex-5 .ex-5__box .box__item .box__form {
  display: grid;
  grid-template: repeat(5, 60px)/1fr;
  padding: 20px 50px 20px 50px;
  align-items: center;
  gap: 18px;
}
.main__ex-5 .ex-5__box .box__item .box__form .box__input {
  width: 100%;
  height: 45px;
  border: 1px solid #c5cea4;
  border-radius: 2px;
  background-color: #f0eed4;
  color: #333333;
  padding: 12px 8px 12px 8px;
  /*   @media (max-width:767px){ 
          height: 60px;
          font-size: 20px;
          font-weight: 400;
      }*/
}
.main__ex-5 .ex-5__box .box__item .box__form .box__input:hover {
  border: 1px solid #a8b676;
  background-color: #e2e7d1;
}

/*=========================== FOOTER ========================================*/
.footer {
  grid-area: footer;
  background-color: #8b9d49;
}