@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* { /* '*' means that this styles touches all tags in a document*/
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after { /* here the parameter "box-sizing" is used with "border-box" that changes the width of a block and as a result we can easely count */
  box-sizing: border-box;
}

/* here these parameters delete lines of borders in some brousers: */
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/* here these parameters say to brousers that these tags are block one: */
nav, footer, header, aside {
  display: block;
}

/* here these parameters settles styles to all brousers that can't be changed by brousers themselves: */
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 30px;
  font-size: 22px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* the font is settld to form's tags, because these tags don't inherit styles of the document */
input, button, textarea {
  font-family: inherit;
}

/* these parameters delete some brousers features and settle the needed */
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* these parameters delete some brousers features and settle the needed */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.main__ex-form .ex__example .example__input {
  font-size: 12px;
  line-height: 14.63px;
  font-weight: 300;
}

.main__ex-form .ex__example .example__text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}

.main__ex-5 .ex-5-form__block .ex__example .ex-5__colour-small, .header__link-verbes {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.main__ex-7 .ex-7__input, .main__ex-7 .ex-7__text, .main__ex-form .ex-form__input, .header__link-compte {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.main__ex-3 .block__list .list__item, .main__ex-2 .ex-2__input {
  font-size: 18px;
  line-height: 21.94px;
  font-weight: 400;
}

.header__link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.header__breadcrumbs .breadcrumbs__list .breadcrumbs__item {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.main__ex-6 .ex-6__block .block__item .block__name, .main__ex-1 .block__item .block__name {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
}

.header__breadcrumbs .breadcrumbs__list .breadcrumbs__item:hover {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.main__ex .ex__task {
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-weight: 600;
  text-align: center;
}

.main__ex-2 .block__words .block__letter {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.main__ex-5 .ex-5-form__block .ex-5__colour {
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.main__subtitle, .header__subtitle {
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
}

.header__title {
  font-size: 46px;
  line-height: 56px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.08em;
  word-spacing: 0.1em;
}

body {
  font-family: Montserrat;
  color: #333333;
  background-color: #fefbe9;
}

/*========================================================= ==========*/
.wrapper {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template: minmax(auto, 0.04fr) 1fr 120px/1fr;
  grid-template-areas: "header" "main" "footer";
}

/*=========================== HEADER ========================================*/
.header {
  grid-area: header;
  display: grid;
  grid-template: minmax(auto, 1fr) minmax(30px, auto) 50px 300px/1fr;
}
.header__img {
  width: 100%;
  position: relative;
  padding: 0px 0px 44% 0px;
}
.header__img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__menu {
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 1252px) 1fr;
}
.header__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
  justify-content: start;
  grid-auto-flow: dense;
  grid-column: 2/3;
  padding: 0px 16px 0px 16px;
}
.header__link {
  display: block;
  height: 30px;
  border-radius: 0px 0px 5px 5px;
  text-align: center;
  padding: 2px 0px 0px 0px;
}
.header__link-1-3 {
  background-color: #fbea92;
  color: #6e851b;
  transition: all 0.3s ease;
}
.header__link-1-3:hover {
  background-color: #fceea8;
}
.header__link-4-5 {
  background-color: #f3d058;
  color: #425f0f;
  transition: all 0.3s ease;
}
.header__link-4-5:hover {
  background-color: #f5d979;
}
.header__link-6-7 {
  background-color: #b5aa2a;
  color: #fbea92;
  transition: all 0.3s ease;
}
.header__link-6-7:hover {
  background-color: #c4bb55;
}
.header__link-8-9 {
  background-color: #6e851b;
  color: #f5d979;
  transition: all 0.3s ease;
}
.header__link-8-9:hover {
  background-color: #8b9d49;
}
.header__link-10-12 {
  background-color: #425f0f;
  color: #f3d058;
  transition: all 0.3s ease;
}
.header__link-10-12:hover {
  background-color: #687f3f;
}
.header__link-verbes {
  background-color: #687f3f;
  padding: 4px 0px 0px 0px;
  color: #f3d058;
  transition: all 0.3s ease;
}
.header__link-verbes:hover {
  background-color: #8b9d49;
  color: #fbea92;
}
.header__link-temps {
  background-color: #8e9f6f;
  color: #f3d058;
  transition: all 0.3s ease;
}
.header__link-temps:hover {
  background-color: #b3bf9f;
  color: #425f0f;
}
.header__link-compte {
  background-color: #b3bf9f;
  color: #425f0f;
  transition: all 0.3s ease;
}
.header__link-compte:hover {
  background-color: #d9dfcf;
}
.header__breadcrumbs {
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 1252px) 1fr;
}
.header__breadcrumbs .breadcrumbs__list {
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  padding: 20px 16px 0px 16px;
}
.header__breadcrumbs .breadcrumbs__list .breadcrumbs__item {
  color: #425f0f;
  text-align: center;
  transition: all 0.5s linear;
  padding: 0px 24px 0px 24px;
}
.header__breadcrumbs .breadcrumbs__list .breadcrumbs__item:hover {
  color: #b5aa2a;
}
.header__breadcrumbs .breadcrumbs__list li {
  position: relative;
}
.header__breadcrumbs .breadcrumbs__list li:first-child {
  margin: 0px 0px 0px -24px;
}
.header__breadcrumbs .breadcrumbs__list li:last-child {
  text-decoration: underline;
}
.header__breadcrumbs .breadcrumbs__list li:nth-child(2)::after,
.header__breadcrumbs .breadcrumbs__list li:nth-child(2n+1)::after,
.header__breadcrumbs .breadcrumbs__list li:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #425f0f;
}
.header__breadcrumbs .breadcrumbs__list li:nth-child(2)::before {
  content: "";
  top: 13px;
  left: -4px;
}
.header__breadcrumbs .breadcrumbs__list li:nth-child(2n+1)::after,
.header__breadcrumbs .breadcrumbs__list li:nth-child(2)::after {
  content: "";
  top: 13px;
  right: -4px;
}
.header__textbox {
  padding: 40px 0px 100px 0px;
}
.header__title {
  color: #425f0f;
}
.header__subtitle {
  color: #f3d058;
  padding: 20px 0px 0px 0px;
}

/*=========================== MAIN ========================================*/
.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  /*====== The skeleton of the exercices body is the same for several blocks ============*/
}
.main__header {
  width: 100%;
  display: grid;
  grid-template: 1fr 2fr/1fr;
}
.main__header .header__items {
  position: relative;
}
.main__line {
  width: 100%;
  height: 10px;
  border-top: solid 6px #fbea92;
  border-bottom: solid 2px #fbea92;
  z-index: 0;
}
.main__subtitle {
  color: #6e851b;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -16px);
}
.main__ex {
  /*============ exercices' styles are common for several blocks =====================*/
  display: grid;
  grid-template: 34px 1fr/1fr minmax(auto, 1252px) 1fr;
  padding: 100px 0px 100px 0px;
}
.main__ex .ex__task {
  /*============ title's styles of all exercices are common =====================*/
  color: #425f0f;
  grid-column: 2/3;
}
.main__ex .ex__block {
  /*============ several blocks are divided into parts with the same characteristics =====================*/
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 40px 40px;
  padding: 80px 16px 0px 16px;
}
.main__ex .ex__block .block__item {
  display: grid;
  grid-template: 1fr minmax(40px, 60px)/minmax(380px, 1fr);
  gap: 8px;
  overflow: hidden;
  cursor: pointer;
}
.main__ex .ex__block .block__item .block__img {
  /*============  positioning of an image in a block ===============*/
  width: 100%;
  padding: 0px 0px 82% 0px;
  position: relative;
  border-radius: 2px;
  border: 1px solid #425f0f;
}
.main__ex .ex__block .block__item .block__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}

/*=========================== ex-1 ========================================*/
.main__ex-1 .block__item .block__img-dy40 {
  background-color: #faecbc;
  transition: all 1.5s ease-in-out;
}
.main__ex-1 .block__item .block__img-dy40:hover {
  transform: rotateX(360deg);
}
.main__ex-1 .block__item .block__name {
  justify-self: center;
  color: #333333;
  text-align: center;
  transform: scale(0);
  transition: all 1s ease-in-out;
}
@media (max-width: 830px) {
  .main__ex-1 .block__item .block__name {
    font-size: 26px;
    font-weight: 500;
  }
}
.main__ex-1 .block__item:hover .block__name {
  transform: scale(1);
}

/*=========================== ex-2 ========================================*/
.main__ex-2 {
  grid-template: 34px 1fr/1fr minmax(auto, 1186px) 1fr;
  background-color: #a8b676;
  /*.ex-2__input-true, .ex-2__input-false == are active when the answer is correct or not*/
  /*.ex-2__input-false{
          display: none;
          border: 1px solid $bgc-r;
          background-color: $bgc-y_20;
      }
      .ex-2__input-true{
          display: none;
          border: 1px solid $bgc-g-100;
          background-color: $bgc-lg_60;
          color: $c-b_40;
      }*/
}
.main__ex-2 .ex__block-second {
  gap: 60px 68px;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 80px 16px 0px 16px;
}
@media (max-width: 986px) {
  .main__ex-2 .ex__block-second {
    gap: 40px 48px;
  }
}
.main__ex-2 .block__item-second {
  display: grid;
  grid-template: minmax(250px, 1fr) 40px/1fr;
  gap: 8px;
  box-shadow: 4px 4px 20px #8b9d49;
  background-color: #8b9d49;
  overflow: hidden;
}
.main__ex-2 .block__item-second form {
  align-self: end;
}
@media (max-width: 986px) {
  .main__ex-2 .block__item-small {
    grid-column: span 2;
  }
}
.main__ex-2 .block__item-large {
  grid-column: span 3;
}
@media (max-width: 986px) {
  .main__ex-2 .block__item-large {
    grid-column: span 2;
  }
}
.main__ex-2 .block__item-big {
  grid-column: span 2;
}
.main__ex-2 .block__words {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  counter-reset: item;
  align-items: center;
  justify-items: center;
  box-shadow: 4px 4px 20px #8b9d49;
  border-radius: 5px;
  border: 1px solid #6e851b;
  padding: 20px 20px 20px 20px;
}
.main__ex-2 .block__words .block__letter {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #425f0f;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 0px 0px 0px;
  background-color: #d9dfcf;
}
.main__ex-2 .block__words .block__letter-dg6 {
  background-color: #8e9f6f;
  transform: rotate(-17deg) translate(14px, -10px);
  transition: all 0.5s ease;
}
.main__ex-2 .block__words .block__letter-dg6:hover {
  transform: rotateY(20deg);
}
.main__ex-2 .block__words .block__letter-lg2 {
  background-color: #f0eed4;
  transform: rotate(-17deg) translate(14px, -10px);
  transition: all 0.5s ease;
}
.main__ex-2 .block__words .block__letter-lg2:hover {
  transform: rotateY(20deg);
}
.main__ex-2 .block__words .block__letter-lg6 {
  background-color: #d3cc7f;
  transform: rotate(14deg) translate(14px, -2px);
  transition: all 0.5s ease;
}
.main__ex-2 .block__words .block__letter-lg6:hover {
  transform: rotateY(-20deg);
}
.main__ex-2 .block__words .block__letter-g2 {
  background-color: #e2e7d1;
  transform: rotate(70deg) translate(-6px, -6px);
  transition: all 0.5s ease;
}
.main__ex-2 .block__words .block__letter-g2:hover {
  transform: rotateX(18deg);
}
.main__ex-2 .block__words .block__letter-g4 {
  background-color: #c5cea4;
  transform: rotate(26deg) translate(5px, 12px);
  transition: all 0.5s ease;
}
.main__ex-2 .block__words .block__letter-g4:hover {
  transform: rotateX(-10deg);
}
.main__ex-2 .block__words .block__letter-dy2 {
  background-color: #fdf6de;
  transform: rotate(-39deg) translate(0px, 12px);
  transition: all 0.5s ease;
}
.main__ex-2 .block__words .block__letter-dy2:hover {
  transform: rotateX(10deg);
}
.main__ex-2 .block__words .block__letter-dy4 {
  background-color: #faecbc;
  transform: rotate(11deg) translate(-30px, 12px);
  transition: all 0.5s ease;
}
.main__ex-2 .block__words .block__letter-dy4:hover {
  transform: rotateY(-15deg);
}
.main__ex-2 .block__words .block__letter-y2 {
  background-color: #fefbe9;
  transform: rotate(14deg) translate(14px, -2px);
  transition: all 0.5s ease;
}
.main__ex-2 .block__words .block__letter-y2:hover {
  transform: rotateY(15deg);
}
.main__ex-2 .block__words .block__letter-y4 {
  background-color: #fdf7d3;
  transform: rotate(-22deg) translate(-4px, 8px);
  transition: all 0.5s ease;
}
.main__ex-2 .block__words .block__letter-y4:hover {
  transform: rotateY(5deg);
}
.main__ex-2 .block__words .block__letter-y6 {
  background-color: #fdf2be;
  transform: rotate(14deg) translate(18px, -8px);
  transition: all 0.5s ease;
}
.main__ex-2 .block__words .block__letter-y6:hover {
  transform: rotateY(-5deg);
}
.main__ex-2 .block__words .block__letter-dg2 {
  background-color: #d9dfcf;
  transform: rotate(14deg) translate(-6px, -8px);
  transition: all 0.5s ease;
}
.main__ex-2 .block__words .block__letter-dg2:hover {
  transform: rotateX(5deg);
}
.main__ex-2 .block__words .block__letter-dy6 {
  background-color: #f8e39b;
  transform: rotate(14deg) translate(10px, -12px);
  transition: all 0.5s ease;
}
.main__ex-2 .block__words .block__letter-dy6:hover {
  transform: rotateY(15deg);
}
.main__ex-2 .block__words-big {
  grid-template-columns: repeat(5, 1fr);
}
.main__ex-2 .ex-2__input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #6e851b;
  background-color: #e1ddaa;
  color: #333333;
  padding: 0px 14px 0px 14px;
  transition: all 0.5s ease;
}
@media (max-width: 830px) {
  .main__ex-2 .ex-2__input {
    height: 60px;
    font-size: 24px;
    font-weight: 400;
  }
}
.main__ex-2 .ex-2__input:focus {
  border: 1px solid #8b9d49;
  background-color: #d3cc7f;
}

/*=========================== ex-3 ========================================*/
.main__ex-3 .block__img-lg40 {
  background-color: #e1ddaa;
}
.main__ex-3 .block__list {
  width: 100%;
  /* .list__item-true, .list__item-false == are active when the answer is correct or not*/
  /*.list__item-true{
      display: none;
      background-color: $bgc-dy_20;
      color: $c-b_80;
      border: 1px solid $bgc-g_100;
  }
  .list__item-false{
      display: none;
      background-color: $bgc-y_20;
      color: $c-b_40;
      border: 1px solid $bgc-r;
  }*/
}
.main__ex-3 .block__list select {
  display: none;
}
.main__ex-3 .block__list .list__item {
  display: inline-block;
  width: 100%;
  height: 40px;
  border: 1px solid #6e851b;
  border-radius: 2px;
  background: #f0eed4;
  padding: 0px 10px 0px 8px;
  color: #a8b676;
  transition: all 0.5s ease;
}
@media (max-width: 830px) {
  .main__ex-3 .block__list .list__item {
    height: 60px;
    font-size: 20px;
    font-weight: 400;
  }
}
.main__ex-3 .block__list .list__item option {
  display: none;
}
.main__ex-3 .block__list .list__item .list__item-h {
  display: inline-block;
  background: #f0eed4;
  color: #333333;
  box-shadow: none;
  transition: all 0.5s ease;
}
.main__ex-3 .block__list .list__item .list__item-h:hover {
  background-color: #d3cc7f;
  color: #425f0f;
}
.main__ex-3 .block__list .list__item:hover {
  background-color: #d3cc7f;
  color: #425f0f;
}

/*=========================== simular styles for ex-4 & ex-5 ========================================*/
.main__ex-form {
  grid-template: 1fr/1fr minmax(auto, 1000px) 1fr;
  display: grid;
  padding: 0px 0px 100px 0px;
  /* .ex-4__input-true, .ex-4__input-false == are active when the answer is correct or not*/
  /*.ex-4__input-true{
          display: none;
          border: 1px solid $bgc-g_100;
          background: $bgc-lg_60;
      }
      .ex-4__input-false{
          display: none;
          border: 1px solid $bgc-g_80;
          background: $bgc-lg_40;
          color: $c-b_40;
          }*/
}
.main__ex-form .ex-form__block {
  grid-column: 2/3;
  display: grid;
  grid-template: 50px 1fr/1fr;
  align-items: center;
  border-radius: 5px;
  padding: 70px 36px 100px 36px;
  margin: 0px 16px 0px 16px;
}
.main__ex-form .ex-form__block .ex__task-ex-block {
  grid-column: 1/1;
}
.main__ex-form .ex-form__box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 0px 16px 0px;
}
.main__ex-form .ex__example {
  display: flex;
  flex-direction: row;
  padding: 12px 0px 18px 0px;
  align-items: center;
}
.main__ex-form .ex__example .example__text {
  color: #666666;
  padding: 0px 12px 0px 0px;
}
.main__ex-form .ex__example .example__colour-small {
  width: 20px;
  height: 20px;
  position: relative;
  align-self: center;
  margin: 0px 20px 0px 0px;
}
.main__ex-form .ex__example .example__colour-small::after {
  content: url(../img/icons/plus.png);
  top: -2px;
  right: -30px;
  position: absolute;
  width: 20px;
  height: 20px;
}
.main__ex-form .ex__example .example__img {
  width: 30px;
  height: 30px;
  margin: 0px 20px 0px 20px;
  position: relative;
  /*  @media (max-width:989px){ 
      width: 312px;
      height: 156px;
      margin: 12px 0px 12px 0px;
  }   */
}
.main__ex-form .ex__example .example__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main__ex-form .ex__example .example__img::after {
  content: url(../img/icons/equal.png);
  position: absolute;
  top: 2px;
  right: -34px;
  width: 24px;
  height: 20px;
}
.main__ex-form .ex__example .example__input {
  color: #666666;
  margin: 0px 0px 4px 30px;
  width: 150px;
  height: 24px;
  padding: 0px 8px 0px 8px;
  background-color: #fdf7d3;
}
.main__ex-form .ex-form__img {
  width: 80px;
  height: 80px;
  margin: 0px 4px 0px 4px;
  position: relative;
  /*  @media (max-width:989px){ 
      width: 312px;
      height: 156px;
      margin: 12px 0px 12px 0px;
  }   */
}
.main__ex-form .ex-form__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main__ex-form .ex-form__img::after {
  content: url(../img/icons/equal.png);
  position: absolute;
  top: 26px;
  right: -54px;
}
.main__ex-form .ex-form__input {
  min-width: 626px;
  height: 40px;
  border-radius: 2px;
  padding: 0px 10px 0px 10px;
  margin: 0px 0px 0px 80px;
  color: #333333;
  transition: all 0.5s ease;
}
@media (max-width: 989px) {
  .main__ex-form .ex-form__input {
    width: 400px;
    height: 60px;
    font-size: 24px;
    font-weight: 400;
    margin: 20px 0px 20px 0px;
  }
}
@media (max-width: 789px) {
  .main__ex-form .ex-form__input {
    width: 100%;
  }
}

/*=========================== ex-4 ========================================*/
.main__ex-4 .ex-4-form__block {
  background-color: #f8e39b;
  box-shadow: 1px 1px 18px #dec980;
  /*@media (max-width:989px){
          grid-template-rows: repeat(10, 1fr);
      }*/
  /* .ex-4__input-true, .ex-4__input-false == are active when the answer is correct or not*/
  /*.ex-4__input-true{
          display: none;
          border: 1px solid $bgc-g_100;
          background: $bgc-lg_60;
      }
      .ex-4__input-false{
          display: none;
          border: 1px solid $bgc-g_80;
          background: $bgc-lg_40;
          color: $c-b_40;
          }*/
}
.main__ex-4 .ex-4-form__block .ex-4-form__box {
  border-bottom: 1px solid #8b9d49;
  /* @media (max-width:989px){
      flex-direction: column;
      justify-content: start;
      padding: 20px 0px 20px 0px;
  }*/
}
.main__ex-4 .ex-4-form__block .ex__example .example__colour-small {
  border-radius: 2px;
  background-color: grey;
}
.main__ex-4 .ex-4-form__block .ex__example .example__input {
  background-color: #fefbe9;
  border: 1px solid #8b9d49;
}
.main__ex-4 .ex-4-form__block .ex-4__colour {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  position: relative;
  align-self: center;
  margin: 0px 60px 0px 0px;
  /* @media (max-width:989px){
  }*/
}
.main__ex-4 .ex-4-form__block .ex-4__colour-green {
  background-color: #22ad27;
}
.main__ex-4 .ex-4-form__block .ex-4__colour-red {
  background-color: #f62525;
}
.main__ex-4 .ex-4-form__block .ex-4__colour-yellow {
  background-color: #fcf441;
}
.main__ex-4 .ex-4-form__block .ex-4__colour-blue {
  background-color: #3c4ef2;
}
.main__ex-4 .ex-4-form__block .ex-4__colour-pink {
  background-color: #f99eb4;
}
.main__ex-4 .ex-4-form__block .ex-4__colour-white {
  background-color: #fff;
}
.main__ex-4 .ex-4-form__block .ex-4__colour-brown {
  background-color: #ad6522;
}
.main__ex-4 .ex-4-form__block .ex-4__colour-black {
  background-color: #000;
}
.main__ex-4 .ex-4-form__block .ex-4__colour::after {
  content: url(../img/icons/plus.png);
  top: 7px;
  right: -44px;
  position: absolute;
}
.main__ex-4 .ex-4-form__block .ex-4__input {
  border: 1px solid #8b9d49;
  background: #faecbc;
  /*@media (max-width:989px){ 
      width: 600px;
      height: 60px;
      font-size: 24px;
      font-weight: 400;
      margin: 20px 0px 20px 0px;
  }
  @media (max-width:789px){ 
      width: 100%;
  }*/
}
.main__ex-4 .ex-4-form__block .ex-4__input:hover {
  border: 1px solid #8b9d49;
  background: #fdf6de;
}

/*=========================== ex-5 ========================================*/
.main__ex-5 .ex-5-form__block {
  background-color: #425f0f;
  box-shadow: 1px 1px 18px #425f0f;
  /*@media (max-width:989px){
          grid-template-rows: repeat(10, 1fr);
      }*/
  /* .ex-5__input-true, .ex-5__input-false == are active when the answer is correct or not*/
  /*.ex-5__input-true{
          display: none;
          border: 1px solid $bgc-g_100;
          background: $bgc-lg_60;
      }
      .ex-5__input-false{
          display: none;
          border: 1px solid $bgc-g_80;
          background: $bgc-lg_40;
          color: $c-b_40;
          }*/
}
.main__ex-5 .ex-5-form__block .ex__task-ex-block {
  color: #f3d058;
}
.main__ex-5 .ex-5-form__block .ex-5-form__box {
  border-bottom: 1px solid #f8e39b;
  /* @media (max-width:989px){
      flex-direction: column;
      justify-content: start;
      padding: 20px 0px 20px 0px;
  }*/
}
.main__ex-5 .ex-5-form__block .ex__example .example-5__text {
  color: #000;
}
.main__ex-5 .ex-5-form__block .ex__example .ex-5__colour-small {
  line-height: 8px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  margin: 0px 44px 0px 0px;
}
.main__ex-5 .ex-5-form__block .ex__example .ex-5__colour-small::after {
  top: 2px;
  right: -34px;
  position: absolute;
}
.main__ex-5 .ex-5-form__block .ex__example .example-5__img {
  margin: 0px 18px 0px 0px;
}
.main__ex-5 .ex-5-form__block .ex__example .example__input {
  background-color: #e1ddaa;
  border: 1px solid #c4bb55;
}
.main__ex-5 .ex-5-form__block .ex-5__colour {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  position: relative;
  align-self: center;
  margin: 0px 60px 0px 0px;
  background: linear-gradient(140.46deg, #ffee97 15.89%, #fff0a3 88.42%);
  box-shadow: 1px 1px 5px #f0e5a4, inset 4px 4px 4px rgba(255, 255, 255, 0.61), inset -4px -4px 4px rgba(0, 0, 0, 0.15);
  padding: 6px 0px 0px 0px;
  color: #8b9d49;
  /* @media (max-width:989px){
  }*/
}
.main__ex-5 .ex-5-form__block .ex-5__colour::after {
  content: url(../img/icons/plus.png);
  top: 7px;
  right: -44px;
  position: absolute;
}
.main__ex-5 .ex-5-form__block .ex-5__input {
  border: 1px solid #b5aa2a;
  background: #d3cc7f;
  /* @media (max-width:989px){ 
      width: 400px;
      height: 60px;
      font-size: 24px;
      font-weight: 400;
      margin: 20px 0px 20px 0px;
  }
  @media (max-width:789px){ 
      width: 100%;
  }*/
}
.main__ex-5 .ex-5-form__block .ex-5__input:hover {
  border: 1px solid #8b9d49;
  background: #faecbc;
}

/*=========================== ex-6 ========================================*/
.main__ex-6 .ex-6__block {
  grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
  gap: 20px 40px;
}
.main__ex-6 .ex-6__block .block__item {
  grid-template: 1fr minmax(40px, 60px)/minmax(238px, 1fr);
}
.main__ex-6 .ex-6__block .block__item .block__img-dy40 {
  background-color: #faecbc;
  transition: all 1.5s ease-in-out;
}
.main__ex-6 .ex-6__block .block__item .block__img-dy40:hover {
  transform: rotateY(360deg);
}
.main__ex-6 .ex-6__block .block__item .block__name {
  justify-self: center;
  color: #333333;
  text-align: center;
  transform: scale(0);
  transition: all 0.5s ease;
}
@media (max-width: 830px) {
  .main__ex-6 .ex-6__block .block__item .block__name {
    font-size: 26px;
    font-weight: 500;
  }
}
.main__ex-6 .ex-6__block .block__item:hover .block__name {
  transform: scale(1);
}

/*=========================== ex-7 ========================================*/
.main__ex-7 {
  background-color: #b5aa2a;
  /* .ex-7__input-true, .ex-7__input-false == are active when the answer is correct or not*/
  /*.ex-7__input-true{
          display: none;
          border: 1px solid $bgc-g_100;
          background: $bgc-lg_60;
      }
      .ex-7__input-false{
          display: none;
          border: 1px solid $bgc-g_80;
          background: $bgc-lg_40;
          color: $c-b_40;
          }*/
}
.main__ex-7 .ex__task {
  color: #fbea92;
}
.main__ex-7 .ex-7__block {
  grid-column: 2/3;
  display: grid;
  grid-template-rows: repeat(10, 80px);
  align-items: center;
  padding: 50px 16px 50px 16px;
}
@media (max-width: 989px) {
  .main__ex-7 .ex-7__block {
    grid-template-rows: repeat(10, 1fr);
  }
}
.main__ex-7 .ex-7__box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid #c4bb55;
  padding: 0px 0px 20px 0px;
}
@media (max-width: 989px) {
  .main__ex-7 .ex-7__box {
    flex-direction: column;
    justify-content: start;
    padding: 20px 0px 20px 0px;
  }
}
.main__ex-7 .ex-7__text {
  color: #333333;
  align-self: center;
}
@media (max-width: 989px) {
  .main__ex-7 .ex-7__text {
    font-size: 24px;
    font-weight: 400;
    align-self: flex-start;
  }
}
.main__ex-7 .ex-7__text-img {
  padding: 0px 10px 0px 50px;
  position: relative;
}
.main__ex-7 .ex-7__text-img::before {
  content: url(../img/flower.png);
  top: -10px;
  left: 0;
  position: absolute;
}
.main__ex-7 .ex-7__img {
  width: 60px;
  height: 50px;
  border: 1px solid #8b9d49;
  border-radius: 2px;
  margin: 0px 4px 0px 4px;
  transition: all 0.8s ease;
}
@media (max-width: 989px) {
  .main__ex-7 .ex-7__img {
    width: 312px;
    height: 156px;
    margin: 12px 0px 12px 0px;
  }
}
.main__ex-7 .ex-7__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main__ex-7 .ex-7__img:hover {
  transform: scale(5);
  margin: 0px 160px 0px 160px;
}
@media (max-width: 989px) {
  .main__ex-7 .ex-7__img:hover {
    transform: scale(1);
    margin: 0px 0px 0px 0px;
  }
}
.main__ex-7 .ex-7__input {
  width: 608px;
  height: 40px;
  border: 1px solid #8b9d49;
  border-radius: 2px;
  background: #d3cc7f;
  padding: 0px 10px 0px 10px;
  margin: 0px 8px 0px 8px;
  color: #333333;
  transition: all 0.5s ease;
}
@media (max-width: 989px) {
  .main__ex-7 .ex-7__input {
    width: 400px;
    height: 60px;
    font-size: 24px;
    font-weight: 400;
    margin: 20px 0px 20px 0px;
  }
}
@media (max-width: 789px) {
  .main__ex-7 .ex-7__input {
    width: 100%;
  }
}
.main__ex-7 .ex-7__input:hover {
  border: 1px solid #8b9d49;
  background: #e1ddaa;
}