@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* { /* '*' means that this styles touches all tags in a document*/
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after { /* here the parameter "box-sizing" is used with "border-box" that changes the width of a block and as a result we can easely count */
  box-sizing: border-box;
}

/* here these parameters delete lines of borders in some brousers: */
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/* here these parameters say to brousers that these tags are block one: */
nav, footer, header, aside {
  display: block;
}

/* here these parameters settles styles to all brousers that can't be changed by brousers themselves: */
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 30px;
  font-size: 22px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* the font is settld to form's tags, because these tags don't inherit styles of the document */
input, button, textarea {
  font-family: inherit;
}

/* these parameters delete some brousers features and settle the needed */
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* these parameters delete some brousers features and settle the needed */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header__link-verbes {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.header__link-compte {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.header__link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.header__breadcrumbs .breadcrumbs__list .breadcrumbs__item {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.header__breadcrumbs .breadcrumbs__list li:last-child, .header__breadcrumbs .breadcrumbs__list .breadcrumbs__item:hover {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.header__subtitle {
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
}

.header__title {
  font-size: 46px;
  line-height: 56px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.08em;
  word-spacing: 0.1em;
}

body {
  font-family: Montserrat;
  color: #333333;
  background-color: #fefbe9;
}

/*========================================================= ==========*/
.wrapper {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template: minmax(auto, 0.04fr) 1fr 120px/1fr;
  grid-template-areas: "header" "main" "footer";
}

/*=========================== HEADER ========================================*/
.header {
  grid-area: header;
  display: grid;
  grid-template: minmax(auto, 1fr) minmax(30px, auto) 50px 300px/1fr;
}
.header__img {
  width: 100%;
  position: relative;
  padding: 0px 0px 44% 0px;
}
.header__img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__menu {
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 1252px) 1fr;
}
.header__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
  justify-content: start;
  grid-auto-flow: dense;
  grid-column: 2/3;
  padding: 0px 16px 0px 16px;
}
.header__link {
  display: block;
  height: 30px;
  border-radius: 0px 0px 5px 5px;
  text-align: center;
  padding: 2px 0px 0px 0px;
}
.header__link-1-3 {
  background-color: #fbea92;
  color: #6e851b;
  transition: all 0.3s ease;
}
.header__link-1-3:hover {
  background-color: #fceea8;
}
.header__link-4-5 {
  background-color: #f3d058;
  color: #425f0f;
  transition: all 0.3s ease;
}
.header__link-4-5:hover {
  background-color: #f5d979;
}
.header__link-6-7 {
  background-color: #b5aa2a;
  color: #fbea92;
  transition: all 0.3s ease;
}
.header__link-6-7:hover {
  background-color: #c4bb55;
}
.header__link-8-9 {
  background-color: #6e851b;
  color: #f5d979;
  transition: all 0.3s ease;
}
.header__link-8-9:hover {
  background-color: #8b9d49;
}
.header__link-10-12 {
  background-color: #425f0f;
  color: #f3d058;
  transition: all 0.3s ease;
}
.header__link-10-12:hover {
  background-color: #687f3f;
}
.header__link-verbes {
  background-color: #687f3f;
  padding: 4px 0px 0px 0px;
  color: #f3d058;
  transition: all 0.3s ease;
}
.header__link-verbes:hover {
  background-color: #8b9d49;
  color: #fbea92;
}
.header__link-temps {
  background-color: #8e9f6f;
  color: #f3d058;
  transition: all 0.3s ease;
}
.header__link-temps:hover {
  background-color: #b3bf9f;
  color: #425f0f;
}
.header__link-compte {
  background-color: #b3bf9f;
  color: #425f0f;
  transition: all 0.3s ease;
}
.header__link-compte:hover {
  background-color: #d9dfcf;
}
.header__breadcrumbs {
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 1252px) 1fr;
}
.header__breadcrumbs .breadcrumbs__list {
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  padding: 20px 16px 0px 16px;
}
.header__breadcrumbs .breadcrumbs__list .breadcrumbs__item {
  color: #425f0f;
  text-align: center;
  transition: all 0.5s linear;
  padding: 0px 12px 0px 12px;
}
.header__breadcrumbs .breadcrumbs__list .breadcrumbs__item:hover {
  color: #b5aa2a;
}
.header__breadcrumbs .breadcrumbs__list li:first-child {
  margin: 0px 0px 0px -12px;
}
.header__breadcrumbs .breadcrumbs__list li:last-child {
  text-decoration: underline;
  padding: 4px 0px 0px 0px;
}
.header__textbox {
  padding: 40px 0px 100px 0px;
}
.header__title {
  color: #425f0f;
}
.header__subtitle {
  color: #f3d058;
  padding: 20px 0px 0px 0px;
}