@import "nullstyles.scss";
@import "style__general.scss";

/*========================================================= ==========*/

.wrapper {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template: minmax(auto, 0.04fr) 1fr 120px / 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/*=========================== HEADER ========================================*/

.header {
    grid-area: header;
    display: grid;
    grid-template: minmax(auto, 1fr) minmax(30px, auto) 50px 300px / 1fr;
    &__img {
        width: 100%;
        position: relative;
        padding: 0px 0px 44% 0px;
    }
    &__img img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
//========= header navigation ==============
    &__menu {
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 1252px) 1fr;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
        justify-content: start;
        grid-auto-flow: dense;
        grid-column: 2 / 3;
        padding: 0px 16px 0px 16px;
    }
    &__link {
        display: block;
        height: 30px;
        border-radius: 0px 0px 5px 5px;
        @extend %tpl_r-20;
        text-align: center;
        padding: 2px 0px 0px 0px;
    }
    &__link-1-3 {
        background-color: $bgc-y_100;
        color: $c-g_100;
        transition: all 0.3s ease;
    }
    &__link-1-3:hover {
        background-color: $bgc-y_80;
    }
    &__link-4-5 {
        background-color: $bgc-dy_100;
        color: $c-dg_100;
        transition: all 0.3s ease;
    }
    &__link-4-5:hover {
        background-color: $bgc-dy_80;
    }
    &__link-6-7 {
        background-color: $bgc-lg_100;
        color: $c-y_100;
        transition: all 0.3s ease;
    }
    &__link-6-7:hover {
        background-color: $bgc-lg_80;
    }
    &__link-8-9 {
        background-color: $bgc-g_100;
        color: $c-dy_80;
        transition: all 0.3s ease;
    }
    &__link-8-9:hover {
        background-color: $bgc-g_80;
    }
    &__link-10-12 {
        background-color: $bgc-dg_100;
        color: $c-dy_100;
        transition: all 0.3s ease;
    }
    &__link-10-12:hover {
        background-color: $bgc-dg_80;
    }
    &__link-verbes {
        @extend %tpl_r-14;
        background-color: $bgc-dg_80;
        padding: 4px 0px 0px 0px;
        color: $c-dy_100;
        transition: all 0.3s ease;
    }
    &__link-verbes:hover {
        background-color: $bgc-g_80;
        color: $c-y_100;
    }
    &__link-temps {
        background-color: $bgc-dg_60;
        color: $c-dy_100;
        transition: all 0.3s ease;
    }
    &__link-temps:hover {
        background-color: $bgc-dg_40;
        color: $c-dg-100;
    }
    &__link-compte {
        @extend %tpl_r-16;
        background-color: $bgc-dg_40;
        color: $c-dg_100;
        transition: all 0.3s ease;
    }
    &__link-compte:hover {
        background-color: $bgc-dg_20;
    }
//========= header__breadcrumbs ==============
    &__breadcrumbs{
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 1252px) 1fr;
        .breadcrumbs__list{
            grid-column: 2 / 3;
            display: flex;
            flex-direction: row;
            padding: 20px 16px 0px 16px;
            .breadcrumbs__item{
                @extend %tpl_m-16;
                color: $c-dg_100;                
                text-align: center;
                transition: all 0.5s linear;
                padding: 0px 24px 0px 24px;
            }
            .breadcrumbs__item:hover{
                color: $c-lg_100;
                @extend %tpl_sb-18;
            }
            
        }
        .breadcrumbs__list li{
            position: relative;
        }
        .breadcrumbs__list li:first-child {
            margin: 0px 0px 0px -24px; // to remove padding-left that each .breadcrumbs__item has
        }
        .breadcrumbs__list li:last-child {
            text-decoration: underline;
        }

        .breadcrumbs__list li:nth-child(2)::after, .breadcrumbs__list li:nth-child(2)::before{
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $bgc-dg_100;
        }
        .breadcrumbs__list li:nth-child(2)::before{
            content: '';
            top: 13px;
            left: -4px;
        }
        .breadcrumbs__list li:nth-child(2)::after{
            content: '';
            top: 13px;
            right: -4px;
        }
    }

//========= header__textblock (title, subtitle) ==============
    &__textbox {
        padding: 40px 0px 100px 0px;
    }
    &__title {
        @extend %tpl_h1-46;
        color: $c-dg_100;
    }
    &__subtitle {
        @extend %tpl_h2-36;
        color: $c-dy_100;
        padding: 20px 0px 0px 0px;
    }
}

/*=========================== MAIN ========================================*/

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    &__header {
        width: 100%;
        display: grid;
        grid-template: 1fr 2fr / 1fr;
        .header__items {
            position: relative;
        }
    }
    &__line {
        width: 100%;
        height: 10px;
        border-top: solid 6px $bgc-y_100;
        border-bottom: solid 2px $bgc-y_100;
        z-index: 0;
    }
    &__subtitle {
        @extend %tpl_h2-36;
        color: $c-g_100;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -16px);
    }
//=============== box with submenu =================
    &__box {
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 1252px) 1fr;
        margin: 40px 0px 0px 0px;
    }
    &__content {
        grid-column: 2 / 3;
        display: grid;
        align-items: center;
        max-width: 100%;
        max-height: 180px;
        box-shadow: 0px 0px 5px rgba(245, 217, 121, 0.8);
        border-radius: 10px;
        background-color: $bgc-dy_20;
        margin: 0px 16px 0px 16px;
        box-sizing: border-box;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px 0px;
        padding: 0px 12px 0px 0px;
        & li {
            display: grid;
            justify-content: center;
        }
        .list__item {
            @extend %tpl_m-24;
            color: $c-g_80;
            transition: all 0.5s ease;
        }
        .list__item:hover {
            text-decoration: underline;
        }
    }

/*====== The skeleton of the exercices body is the same for several blocks ============*/

    &__ex {
/*============ exercices' styles are common for several blocks =====================*/
        display: grid;
        grid-template: 34px 1fr / 1fr minmax(auto, 1252px) 1fr;
        padding: 100px 0px 100px 0px;
        .ex__task {
            /*============ title's styles of all exercices are common =====================*/
            color: $c-dg_100;
            @extend %tpl_sb-26;
            grid-column: 2 / 3;
        }
        .ex__block {
            /*============ several blocks are divided into parts with the same characteristics =====================*/
            grid-column: 2 / 3;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
            gap: 40px 40px;
            padding: 80px 16px 0px 16px;
            .block__item {
                display: grid;
                grid-template: 1fr minmax(40px, 60px) / minmax(380px, 1fr);
                gap: 8px;
                overflow: hidden;
                cursor: pointer;
                .block__img {
                    /*============  positioning of an image in a block ===============*/
                    width: 100%;
                    padding: 0px 0px 58% 0px;
                    position: relative;
                    border-radius: 2px;
                    border: 1px solid $bgc-dg_100;
                    & img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
    }
}
/*=========================== ex-1 ========================================*/

.main__ex-1 {
    .block__item {
        .block__name {
            justify-self: center;
            @extend %tpl_m-20;
            color: $c-b_80;
            text-align: center;
            transform: scale(0);
            transition: all 0.5s ease;
            @media (max-width:830px){
                font-size: 26px;
                font-weight: 500;
            }
        }
        &:hover .block__name {
            transform: scale(1);            
        }
    }
}

/*=========================== ex-2 ========================================*/

.main__ex-2 {
    background-color: $bgc-dy_20;
    .block__item {
        grid-template-rows: 1fr;
        & form{
            align-self: end;
        }
    }
    .block__item-shadow {
        box-shadow: 4px 4px 20px #F0EED4;
        background-color: $bgc-dy_20;
    }
    .block__words {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        counter-reset: item;
        align-items: center;
        justify-items: center;
        box-shadow: 4px 4px 20px #f0eed4;
        border-radius: 5px;
        border: 1px solid $bgc-dy_100;
        padding: 20px 20px 20px 20px;
        .block__letter {
            width: 40px;
            height: 40px;
            border-radius: 5px;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            @extend %tpl_b-16;
            color: $c-dg_100;
            text-transform: uppercase;
            text-align: center;
            padding: 11px 0px 0px 0px;
            background-color: $bgc-dg_20;
        }
        .block__letter-lg4 {
            background-color: $bgc-lg_40;
            transform: translate(16px, 4px);
        }
        .block__letter-lg2 {
            background-color: $bgc-lg_20;
            transform: rotate(-17deg) translate(14px, -10px);
        }
        .block__letter-g4 {
            background-color: $bgc-g_40;
            transform: rotate(26deg) translate(5px, 12px);
        }
        .block__letter-g2 {
            background-color: $bgc-g_20;
            transform: rotate(70deg) translate(-10px, 26px);
        }
        .block__letter-dy4 {
            background-color: $bgc-dy_40;
            transform: rotate(11deg) translate(-10px, 2px);
        }
        .block__letter-dy2 {
            background-color: $bgc-dy_20;
            transform: rotate(-39deg) translate(0px, 12px);
        }
        .block__letter-y4 {
            background-color: $bgc-y_40;
            transform: rotate(-22deg) translate(-4px, 8px);
        }
        .block__letter-y2 {
            background-color: $bgc-y_20;
            transform: rotate(14deg) translate(14px, -2px);
        }
    }
    .block__words-big {
        grid-template-columns: repeat(4, 1fr);
    }
    .ex-2__input {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid $bgc-g_100;
        background-color: $bgc-g_20;
        color: $c-b_80;
        @extend %tpl_r-18;
        padding: 0px 14px 0px 14px;
        transition: all 0.5s ease;
        @media (max-width:830px){ 
            height: 60px;
            font-size: 24px;
            font-weight: 400;
        }
    }
    .ex-2__input:focus {
        border: 1px solid $bgc-g_80;
        background-color: $bgc-lg_20;
    }

    /*.ex-2__input-true, .ex-2__input-false == are active when the answer is correct or not*/

    /*.ex-2__input-false{
            display: none;
            border: 1px solid $bgc-r;
            background-color: $bgc-y_20;
        }
        .ex-2__input-true{
            display: none;
            border: 1px solid $bgc-g-100;
            background-color: $bgc-g_40;
            color: $c-b_40;
        }*/
}

/*=========================== ex-3 ========================================*/

.main__ex-3 {
    .block__list {
        width: 100%;
        & select {
            display: none;
        }
        .list__item {
            display: inline-block;
            width: 100%;
            height: 40px;
            border: 1px solid $bgc-g_100;
            border-radius: 2px;
            background: $bgc-lg_20;
            padding: 0px 10px 0px 8px;
            @extend %tpl_r-18;
            color: $c-g_60;
            transition: all 0.5s ease;
            @media (max-width:830px){ 
                height: 60px;
                font-size: 20px;
                font-weight: 400;
            }
            & option {
                display: none;
            }
            .list__item-h {
                display: inline-block;
                background: $bgc-lg_20;
                color: $c-b_80;
                box-shadow: none;
                transition: all 0.5s ease;
            }
            .list__item-h:hover {
                background-color: $bgc-lg_60;
                color: $c-dg_100;
            }
        }
        .list__item:hover {
            background-color: $bgc-lg_60;
            color: $c-dg_100;
        }

        /* .list__item-true, .list__item-false == are active when the answer is correct or not*/

        /*.list__item-true{
            display: none;
            background-color: $bgc-dy_20;
            color: $c-b_80;
            border: 1px solid $bgc-g_100;
        }
        .list__item-false{
            display: none;
            background-color: $bgc-y_20;
            color: $c-b_40;
            border: 1px solid $bgc-r;
        }*/
    }
}
/*=========================== ex-4 ========================================*/


.main__ex-4 {
    background-color: $bgc-lg_100;
    .ex__task {
        color: $c-y_100;
    }
    .ex-4__block{
        grid-column: 2 / 3;
        display: grid;
        grid-template-rows: repeat(10, 80px);
        align-items: center;
        padding: 50px 16px 50px 16px;
        @media (max-width:989px){
            grid-template-rows: repeat(10, 1fr);
        }
    } 
    .ex-4__box{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        border-bottom: 1px solid $bgc-lg_80;
        padding: 0px 0px 20px 0px;
        @media (max-width:989px){
            flex-direction: column;
            justify-content: start;
            padding: 20px 0px 20px 0px;
        }
    }
    .ex-4__text{
        color: $c-b_80;
        @extend %tpl_r-16;
        padding: 0px 10px 0px 50px;
        position: relative;
        align-self: center;
        @media (max-width:989px){
            font-size: 24px;
            font-weight: 400;
            align-self: flex-start;
        }
    }
    .ex-4__text::before{
        content: url(../img/flower.png);
        top: -10px;
        left: 0;
        position: absolute;
    }
    .ex-4__img{
        width: 78px;
        height: 40px;
        border: 1px solid $bgc-g_80;
        border-radius: 2px;
        margin: 0px 4px 0px 4px;
        transition: all 0.8s ease;
        @media (max-width:989px){ 
            width: 312px;
            height: 156px;
            margin: 12px 0px 12px 0px;
        }        
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .ex-4__img:hover{
        transform: scale(5);
        margin: 0px 160px 0px 160px;
        @media (max-width:989px){ 
            transform: scale(1);
            margin: 0px 0px 0px 0px;
        }
    } 
    .ex-4__input{
        width: 200px;
        height: 40px;
        border: 1px solid $bgc-g_80;
        border-radius: 2px;
        background: $bgc-lg_60;
        padding: 0px 10px 0px 10px;
        margin: 0px 8px 0px 8px;
        color: $c-b_80;
        @extend %tpl_r-16;
        transition: all 0.5s ease;  
        @media (max-width:989px){ 
            width: 400px;
            height: 60px;
            font-size: 24px;
            font-weight: 400;
            margin: 20px 0px 20px 0px;
        }
        @media (max-width:789px){ 
            width: 100%;
        }
    }
/* .ex-4__input-true, .ex-4__input-false == are active when the answer is correct or not*/
    /*.ex-4__input-true{
            display: none;
            border: 1px solid $bgc-g_100;
            background: $bgc-lg_60;
        }
        .ex-4__input-false{
            display: none;
            border: 1px solid $bgc-g_80;
            background: $bgc-lg_40;
            color: $c-b_40;
            }*/
    .ex-4__input:hover{
        border: 1px solid $bgc-g_80;
        background: $bgc-lg_40;
    }       
}
/*=========================== ex-5 ========================================*/
.main__ex-5 {
    .ex-5__block{
        display: grid;
        grid-template: 294px 1fr / 1fr;
        grid-column: 2 / 3;
        padding: 0px 16px 0px 16px;
    }
    .ex-5__words{
        width: 100%;
        height: 174px;
        background-color: $bgc-y_100;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
        margin: 60px 0px 60px 0px;
        & .words__item{
            max-width: 255px;
            @extend %tpl_sb-18;
            color: $c-b_80;
            margin: 0px 15px 0px 15px;
            align-self: center;
        }
    }
    .ex-5__box{
        display: grid;
        grid-template: 1fr / repeat(auto-fit, minmax(600px, 1fr));
        gap: 30px 20px;
        .box__item{
            display: grid;
            grid-template: 50px 1fr / 1fr;
            background-color: $bgc-lg_20;
            .box__title{
                background-color: $bgc-g_40;
                @extend %tpl_m-18;
                line-height: 46px;
                color: $c-b_80;
                text-align: center;
            }
            .box__form{
                display: grid;
                grid-template: repeat(5, 60px) / 1fr;
                padding: 20px 50px 20px 50px;
                align-items: center;
                gap: 18px;
                .box__input{
                    width: 100%;
                    height: 45px;
                    border: 1px solid $bgc-g_40;
                    border-radius: 2px;
                    background-color: $bgc-lg_20;
                    color: $c-b_80;
                    @extend %tpl_l-12;
                    padding: 12px 8px 12px 8px;
                /*   @media (max-width:767px){ 
                        height: 60px;
                        font-size: 20px;
                        font-weight: 400;
                    }*/
                }    
                .box__input:hover{
                    @extend %tpl_r-14;
                    border: 1px solid $bgc-g_60;
                    background-color: $bgc-g_20;
                }
            }
        }
    }
}

/*=========================== FOOTER ========================================*/

.footer {
    grid-area: footer;
    background-color: $bgc-g_80;
}
