@import "nullstyles.scss";
@import "style__general.scss";

/*========================================================= ==========*/

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

/*=========================== HEADER ========================================*/

.header{
    display: grid;
    grid-template: minmax(auto, 1fr) 150px 270px / 1fr;
    &__img{
        width: 100%;
        position: relative;
        padding: 0px 0px 44% 0px;
    }
    &__img img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }  
    &__menu {
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 1252px) 1fr;
        position: relative;
        .menu__hover{
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(4, minmax(200px, 1fr));
            position: absolute;
            top: 26px;
            left: 16px;
            max-width: 1252px;
            height: 142px;
            border-radius: 0px 0px 5px 5px;
            padding: 0px 12px 0px 12px;
            //visibility: hidden;
            transform: scale(0);
            transition: all0.5s linear;            
            z-index: 1;
            & .menu__item{
                @extend %tpl_m-18;
                color: $c-b_80;
            }
        }
        .menu__hover-1-3{
            background-color: $bgc-y_100;
        }
        .menu__hover-4-5{
            background-color: $bgc-dy_100;
        }
        .menu__hover-6-7{
            background-color: $bgc-lg_100;
        }
        .menu__hover-8-9{
            background-color: $bgc-g_100;
        }
        .menu__hover-10-12{
            background-color: $bgc-dg_100;
        }
        .menu__hover-verbes{
            background-color: $bgc-dg_80;
        }
        .menu__hover-temps{
            background-color: $bgc-dg_60;
        }
        .menu__hover-compte{
            background-color: $bgc-dg_40;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
        justify-content: start;
        grid-auto-flow: dense;
        grid-column: 2 / 3;
        padding: 0px 16px 0px 16px;
        z-index: 3;
    }
    &__link {
        display: block;
        height: 30px;
        border-radius: 0px 0px 5px 5px;
        @extend %tpl_r-20;
        text-align: center;
        padding: 2px 0px 0px 0px;
    }    
    &__link-1-3 {
        background-color: $bgc-y_100;
        color: $c-g_100;
        transition: all 0.3s ease;
    }
    &__link-1-3:hover {
        background-color: $bgc-y_80;
    }
    &__link-1-3:hover .menu__hover-1-3{
        transform: scale(1);
    }
    &__link-4-5 {
        background-color: $bgc-dy_100;
        color: $c-dg_100;
        transition: all 0.3s ease;
    }
    &__link-4-5:hover {
        background-color: $bgc-dy_80;
    }
    &__link-4-5:hover .menu__hover-4-5{
        transform: scale(1);
    }
    &__link-6-7 {
        background-color: $bgc-lg_100;
        color: $c-y_100;
        transition: all 0.3s ease;
    }
    &__link-6-7:hover {
        background-color: $bgc-lg_80;
    }
    &__link-6-7:hover .menu__hover-6-7{
        //visibility: visible;
        transform: scale(1);
    }
    &__link-8-9 {
        background-color: $bgc-g_100;
        color: $c-dy_80;
        transition: all 0.3s ease;
    }
    &__link-8-9:hover {
        background-color: $bgc-g_80;
    }
    &__link-8-9:hover .menu__hover-8-9{
        //visibility: visible;
        transform: scale(1);
    }
    &__link-10-12 {
        background-color: $bgc-dg_100;
        color: $c-dy_100;
        transition: all 0.3s ease;
    }
    &__link-10-12:hover {
        background-color: $bgc-dg_80;
    }
    &__link-10-12:hover .menu__hover-10-12{
        //visibility: visible;
        transform: scale(1);
    }
    &__link-verbes {
        @extend %tpl_r-14;
        background-color: $bgc-dg_80;
        padding: 4px 0px 0px 0px;
        color: $c-dy_100;
        transition: all 0.3s ease;
    }
    &__link-verbes:hover {
        background-color: $bgc-g_80;
        color: $c-y_100;
    }
    &__link-verbes:hover .menu__hover-verbes{
        //visibility: visible;
        transform: scale(1);
    }
    &__link-temps {
        background-color: $bgc-dg_60;
        color: $c-dy_100;
        transition: all 0.3s ease;
    }
    &__link-temps:hover {
        background-color: $bgc-dg_40;
        color: $c-dg-100;
    }
    &__link-temps:hover .menu__hover-temps{
        //visibility: visible;
        transform: scale(1);
    }
    &__link-compte {
        @extend %tpl_r-16;
        background-color: $bgc-dg_40;
        color: $c-dg_100;
        transition: all 0.3s ease;
    }
    &__link-compte:hover {
        background-color: $bgc-dg_20;
    }
    &__link-compte:hover .menu__hover-compte{
        //visibility: visible;
        transform: scale(1);
    }
    
    &__textbox{
        padding: 0px 0px 90px 0px;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template: 1fr / 1fr;
    }
    &__title {
        @extend %tpl_h1-46;
        color: $c-dg_100;     
    } 
    &__subtitle {
        @extend %tpl_h2-36;
        color: $c-dy_100;
        padding: 20px 0px 0px 0px;
    }
}

