@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

// ============ COLOURS ======================

$c-dg_100: #425f0f;
$c-dg_80: #687f3f;
$c-dg_60: #8e9f6f;
$c-dg_40: #b3bf9f;
$c-dg_20: #d9dfcf;
$c-g_100: #6e851b;
$c-g_80: #8b9d49;
$c-g_60: #a8b676;
$c-dg_40: #c5cea4;
$c-dg_20: #e2e7d1;
$c-lg_100: #b5aa2a;
$c-lg_80: #c4bb55;
$c-lg_60: #d3cc7f;
$c-lg_40: #e1ddaa;
$c-lg_20: #f0eed4;
$c-dy_100: #f3d058;
$c-dy_80: #f5d979;
$c-dy_60: #f8e39b;
$c-dy_40: #faecbc;
$c-dy_20: #fdf6de;
$c-y_100: #fbea92;
$c-y_80: #fceea8;
$c-y_60: #fdf2be;
$c-y_40: #fdf7d3;
$c-y_20: #fefbe9;
$c-b_0: rgba(0, 0, 0, 0);
$c-b_100: #000000;
$c-b_80: #333333;
$c-b_60: #666666;
$c-b_40: #999999;
$c-b_20: #cccccc;
$c-r: #ff0408;
// ============ BACKGROUND COLOURS ======================
$bgc-dg_100: #425f0f;
$bgc-dg_80: #687f3f;
$bgc-dg_60: #8e9f6f;
$bgc-dg_40: #b3bf9f;
$bgc-dg_20: #d9dfcf;
$bgc-g_100: #6e851b;
$bgc-g_80: #8b9d49;
$bgc-g_60: #a8b676;
$bgc-g_40: #c5cea4;
$bgc-g_20: #e2e7d1;
$bgc-lg_100: #b5aa2a;
$bgc-lg_80: #c4bb55;
$bgc-lg_60: #d3cc7f;
$bgc-lg_40: #e1ddaa;
$bgc-lg_20: #f0eed4;
$bgc-dy_100: #f3d058;
$bgc-dy_80: #f5d979;
$bgc-dy_60: #f8e39b;
$bgc-dy_40: #faecbc;
$bgc-dy_20: #fdf6de;
$bgc-y_100: #fbea92;
$bgc-y_80: #fceea8;
$bgc-y_60: #fdf2be;
$bgc-y_40: #fdf7d3;
$bgc-y_20: #fefbe9;
$bgc-b_100: #000000;
$bgc-b_80: #333333;
$bgc-b_60: #666666;
$bgc-b_40: #999999;
$bgc-b_20: #cccccc;
$bgc-r: #ff0408;

// ============ FONTS SIZE ======================
// LIGHT
%tpl_l-12 {
    font-size: 12px;
    line-height: 14.63px;
    font-weight: 300;
}
%tpl_l-14 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
}
// REGULAR
%tpl_r-12 {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
}
%tpl_r-14 {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}
%tpl_r-16 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
%tpl_r-18 {
    font-size: 18px;
    line-height: 21.94px;
    font-weight: 400;
}
%tpl_r-20 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}
// MEDIUM
%tpl_m-16 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}
%tpl_m-18 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
}
%tpl_m-20 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
}
%tpl_m-24 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    text-align: center;
}
// SEMIBOLD
%tpl_sb-18 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}
%tpl_sb-26 {
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-weight: 600;
    text-align: center;
}
//BOLD
%tpl_b-16 {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
%tpl_b-24 {
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
%tpl_b-30 {
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-weight: 700;
    text-align: center;
}
%tpl_h2-36 {
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
}
%tpl_h1-46 {
    font-size: 46px;
    line-height: 56px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.08em;
    word-spacing: 0.1em;
}


body {
    font-family: Montserrat;
    color: #333333;
    background-color: $bgc-y_20;
}