@import "nullstyles.scss";
@import "style__general.scss";

/*========================================================= ==========*/

.wrapper {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template: minmax(auto, 0.04fr) 1fr 120px / 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/*=========================== HEADER ========================================*/

.header {
    grid-area: header;
    display: grid;
    grid-template: minmax(auto, 1fr) minmax(30px, auto) 50px 300px / 1fr;
    &__img {
        width: 100%;
        position: relative;
        padding: 0px 0px 44% 0px;
    }
    &__img img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
    //========= header navigation ==============
    &__menu {
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 1252px) 1fr;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
        justify-content: start;
        grid-auto-flow: dense;
        grid-column: 2 / 3;
        padding: 0px 16px 0px 16px;
    }
    &__link {
        display: block;
        height: 30px;
        border-radius: 0px 0px 5px 5px;
        @extend %tpl_r-20;
        text-align: center;
        padding: 2px 0px 0px 0px;
    }
    &__link-1-3 {
        background-color: $bgc-y_100;
        color: $c-g_100;
        transition: all 0.3s ease;
    }
    &__link-1-3:hover {
        background-color: $bgc-y_80;
    }
    &__link-4-5 {
        background-color: $bgc-dy_100;
        color: $c-dg_100;
        transition: all 0.3s ease;
    }
    &__link-4-5:hover {
        background-color: $bgc-dy_80;
    }
    &__link-6-7 {
        background-color: $bgc-lg_100;
        color: $c-y_100;
        transition: all 0.3s ease;
    }
    &__link-6-7:hover {
        background-color: $bgc-lg_80;
    }
    &__link-8-9 {
        background-color: $bgc-g_100;
        color: $c-dy_80;
        transition: all 0.3s ease;
    }
    &__link-8-9:hover {
        background-color: $bgc-g_80;
    }
    &__link-10-12 {
        background-color: $bgc-dg_100;
        color: $c-dy_100;
        transition: all 0.3s ease;
    }
    &__link-10-12:hover {
        background-color: $bgc-dg_80;
    }
    &__link-verbes {
        @extend %tpl_r-14;
        background-color: $bgc-dg_80;
        padding: 4px 0px 0px 0px;
        color: $c-dy_100;
        transition: all 0.3s ease;
    }
    &__link-verbes:hover {
        background-color: $bgc-g_80;
        color: $c-y_100;
    }
    &__link-temps {
        background-color: $bgc-dg_60;
        color: $c-dy_100;
        transition: all 0.3s ease;
    }
    &__link-temps:hover {
        background-color: $bgc-dg_40;
        color: $c-dg-100;
    }
    &__link-compte {
        @extend %tpl_r-16;
        background-color: $bgc-dg_40;
        color: $c-dg_100;
        transition: all 0.3s ease;
    }
    &__link-compte:hover {
        background-color: $bgc-dg_20;
    }
    //========= header__breadcrumbs ==============
    &__breadcrumbs {
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 1252px) 1fr;
        .breadcrumbs__list {
            grid-column: 2 / 3;
            display: flex;
            flex-direction: row;
            padding: 20px 16px 0px 16px;
            .breadcrumbs__item {
                @extend %tpl_m-16;
                color: $c-dg_100;
                text-align: center;
                transition: all 0.5s linear;
                padding: 0px 24px 0px 24px;
            }
            .breadcrumbs__item:hover {
                color: $c-lg_100;
                @extend %tpl_sb-18;
            }
        }
        .breadcrumbs__list li {
            position: relative;
        }
        .breadcrumbs__list li:first-child {
            margin: 0px 0px 0px -24px; // to remove padding-left that each .breadcrumbs__item has
        }
        .breadcrumbs__list li:last-child {
            text-decoration: underline;
        }

        .breadcrumbs__list li:nth-child(2)::after,
        .breadcrumbs__list li:nth-child(2n + 1)::after,
        .breadcrumbs__list li:nth-child(2)::before {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $bgc-dg_100;
        }
        .breadcrumbs__list li:nth-child(2)::before {
            content: "";
            top: 13px;
            left: -4px;
        }
        .breadcrumbs__list li:nth-child(2n + 1)::after,
        .breadcrumbs__list li:nth-child(2)::after {
            content: "";
            top: 13px;
            right: -4px;
        }
    }

    //========= header__textblock (title, subtitle) ==============
    &__textbox {
        padding: 40px 0px 100px 0px;
    }
    &__title {
        @extend %tpl_h1-46;
        color: $c-dg_100;
    }
    &__subtitle {
        @extend %tpl_h2-36;
        color: $c-dy_100;
        padding: 20px 0px 0px 0px;
    }
}

/*=========================== MAIN ========================================*/

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    &__header {
        width: 100%;
        display: grid;
        grid-template: 1fr 2fr / 1fr;
        .header__items {
            position: relative;
        }
    }
    &__line {
        width: 100%;
        height: 10px;
        border-top: solid 6px $bgc-y_100;
        border-bottom: solid 2px $bgc-y_100;
        z-index: 0;
    }
    &__subtitle {
        @extend %tpl_h2-36;
        color: $c-g_100;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -16px);
    }

    /*====== The skeleton of the exercices body is the same for several blocks ============*/

    &__ex {
        /*============ exercices' styles are common for several blocks =====================*/
        display: grid;
        grid-template: 34px 1fr / 1fr minmax(auto, 1252px) 1fr;
        padding: 100px 0px 100px 0px;
        .ex__task {
            /*============ title's styles of all exercices are common =====================*/
            color: $c-dg_100;
            @extend %tpl_sb-26;
            grid-column: 2 / 3;
        }
        .ex__block {
            /*============ several blocks are divided into parts with the same characteristics =====================*/
            grid-column: 2 / 3;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
            gap: 40px 40px;
            padding: 80px 16px 0px 16px;
            .block__item {
                display: grid;
                grid-template: 1fr minmax(40px, 60px) / minmax(380px, 1fr);
                gap: 8px;
                overflow: hidden;
                cursor: pointer;
                .block__img {
                    /*============  positioning of an image in a block ===============*/
                    width: 100%;
                    padding: 0px 0px 82% 0px;
                    position: relative;
                    border-radius: 2px;
                    border: 1px solid $bgc-dg_100;
                    & img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
    }
}
/*=========================== ex-1 ========================================*/

.main__ex-1 {
    .block__item {
        
        .block__img-dy40 {
            background-color: $bgc-dy_40; 
            transition: all 1.5s ease-in-out;           
        }  
        .block__img-dy40:hover{
            transform: rotateX(360deg);
        }   
        .block__name {
            justify-self: center;
            @extend %tpl_m-20;
            color: $c-b_80;
            text-align: center;
            transform: scale(0);
            transition: all 1s ease-in-out;
            @media (max-width: 830px) {
                font-size: 26px;
                font-weight: 500;
            }
        }
        &:hover .block__name {
            transform: scale(1);
        }
    }
}

/*=========================== ex-2 ========================================*/

.main__ex-2 {
    grid-template: 34px 1fr / 1fr minmax(auto, 1186px) 1fr;
    background-color: $bgc-g_60;
    .ex__block-second {
        gap: 60px 68px;
        grid-column: 2 / 3;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding: 80px 16px 0px 16px;
        @media (max-width: 986px) {
            gap: 40px 48px;
        }
    }
    .block__item-second {
        display: grid;
        grid-template: minmax(250px, 1fr) 40px / 1fr;
        gap: 8px;
        box-shadow: 4px 4px 20px #8b9d49;
        background-color: $bgc-g_80;
        overflow: hidden;
        & form {
            align-self: end;
        }
    }
    .block__item-small {
        @media (max-width: 986px) {
            grid-column: span 2;
        }
    }
    .block__item-large {
        grid-column: span 3;
        @media (max-width: 986px) {
            grid-column: span 2;
        }
    }
    .block__item-big {
        grid-column: span 2;
    }
    .block__words {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        counter-reset: item;
        align-items: center;
        justify-items: center;
        box-shadow: 4px 4px 20px #8b9d49;
        border-radius: 5px;
        border: 1px solid $bgc-g_100;
        padding: 20px 20px 20px 20px;
        .block__letter {
            width: 40px;
            height: 40px;
            border-radius: 5px;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            @extend %tpl_b-16;
            color: $c-dg_100;
            text-transform: uppercase;
            text-align: center;
            padding: 11px 0px 0px 0px;
            background-color: $bgc-dg_20;
        }
        .block__letter-dg6 {
            background-color: $bgc-dg_60;
            transform: rotate(-17deg) translate(14px, -10px);
            transition: all 0.5s ease;
        }
        .block__letter-dg6:hover{
            transform: rotateY(20deg)
        }
        .block__letter-lg2 {
            background-color: $bgc-lg_20;
            transform: rotate(-17deg) translate(14px, -10px);
            transition: all 0.5s ease;
        }
        .block__letter-lg2:hover{
            transform: rotateY(20deg)
        }
        .block__letter-lg6 {
            background-color: $bgc-lg_60;
            transform: rotate(14deg) translate(14px, -2px);
            transition: all 0.5s ease;
        }
        .block__letter-lg6:hover{
            transform: rotateY(-20deg)
        }
        .block__letter-g2 {
            background-color: $bgc-g_20;
            transform: rotate(70deg) translate(-6px, -6px);
            transition: all 0.5s ease;
        }
        .block__letter-g2:hover{
            transform: rotateX(18deg)
        }
        .block__letter-g4 {
            background-color: $bgc-g_40;
            transform: rotate(26deg) translate(5px, 12px);
            transition: all 0.5s ease;
        }
        .block__letter-g4:hover{
            transform: rotateX(-10deg)
        }
        .block__letter-dy2 {
            background-color: $bgc-dy_20;
            transform: rotate(-39deg) translate(0px, 12px);
            transition: all 0.5s ease;
        }
        .block__letter-dy2:hover{
            transform: rotateX(10deg)
        }
        .block__letter-dy4 {
            background-color: $bgc-dy_40;
            transform: rotate(11deg) translate(-30px, 12px);
            transition: all 0.5s ease;
        }
        .block__letter-dy4:hover{
            transform: rotateY(-15deg)
        }
        .block__letter-y2 {
            background-color: $bgc-y_20;
            transform: rotate(14deg) translate(14px, -2px);
            transition: all 0.5s ease;
        }
        .block__letter-y2:hover{
            transform: rotateY(15deg)
        }
        .block__letter-y4 {
            background-color: $bgc-y_40;
            transform: rotate(-22deg) translate(-4px, 8px);
            transition: all 0.5s ease;
        }
        .block__letter-y4:hover{
            transform: rotateY(5deg)
        }
        .block__letter-y6 {
            background-color: $bgc-y_60;
            transform: rotate(14deg) translate(18px, -8px);
            transition: all 0.5s ease;
        }
        .block__letter-y6:hover{
            transform: rotateY(-5deg)
        }
        .block__letter-dg2 {
            background-color: $bgc-dg_20;
            transform: rotate(14deg) translate(-6px, -8px);
            transition: all 0.5s ease;
        }
        .block__letter-dg2:hover{
            transform: rotateX(5deg)
        }
        .block__letter-dy6 {
            background-color: $bgc-dy_60;
            transform: rotate(14deg) translate(10px, -12px);
            transition: all 0.5s ease;
        }
        .block__letter-dy6:hover{
            transform: rotateY(15deg)
        }
    }
    .block__words-big {
        grid-template-columns: repeat(5, 1fr);
    }
    .ex-2__input {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid $bgc-g_100;
        background-color: $bgc-lg_40;
        color: $c-b_80;
        @extend %tpl_r-18;
        padding: 0px 14px 0px 14px;
        transition: all 0.5s ease;
        @media (max-width: 830px) {
            height: 60px;
            font-size: 24px;
            font-weight: 400;
        }
    }
    .ex-2__input:focus {
        border: 1px solid $bgc-g_80;
        background-color: $bgc-lg_60;
    }

    /*.ex-2__input-true, .ex-2__input-false == are active when the answer is correct or not*/

    /*.ex-2__input-false{
            display: none;
            border: 1px solid $bgc-r;
            background-color: $bgc-y_20;
        }
        .ex-2__input-true{
            display: none;
            border: 1px solid $bgc-g-100;
            background-color: $bgc-lg_60;
            color: $c-b_40;
        }*/
}

/*=========================== ex-3 ========================================*/

.main__ex-3 {
    .block__img-lg40 {
        background-color: $bgc-lg_40;
    }
    .block__list {
        width: 100%;
        & select {
            display: none;
        }
        .list__item {
            display: inline-block;
            width: 100%;
            height: 40px;
            border: 1px solid $bgc-g_100;
            border-radius: 2px;
            background: $bgc-lg_20;
            padding: 0px 10px 0px 8px;
            @extend %tpl_r-18;
            color: $c-g_60;
            transition: all 0.5s ease;
            @media (max-width: 830px) {
                height: 60px;
                font-size: 20px;
                font-weight: 400;
            }
            & option {
                display: none;
            }
            .list__item-h {
                display: inline-block;
                background: $bgc-lg_20;
                color: $c-b_80;
                box-shadow: none;
                transition: all 0.5s ease;
            }
            .list__item-h:hover {
                background-color: $bgc-lg_60;
                color: $c-dg_100;
            }
        }
        .list__item:hover {
            background-color: $bgc-lg_60;
            color: $c-dg_100;
        }

        /* .list__item-true, .list__item-false == are active when the answer is correct or not*/

        /*.list__item-true{
            display: none;
            background-color: $bgc-dy_20;
            color: $c-b_80;
            border: 1px solid $bgc-g_100;
        }
        .list__item-false{
            display: none;
            background-color: $bgc-y_20;
            color: $c-b_40;
            border: 1px solid $bgc-r;
        }*/
    }
}
/*=========================== simular styles for ex-4 & ex-5 ========================================*/
.main__ex-form {
    grid-template: 1fr / 1fr minmax(auto, 1000px) 1fr;
    display: grid;
    padding: 0px 0px 100px 0px;
    .ex-form__block {
        grid-column: 2 / 3;
        display: grid;
        grid-template: 50px 1fr / 1fr;
        align-items: center;
        border-radius: 5px;
        padding: 70px 36px 100px 36px;
        margin: 0px 16px 0px 16px;
        .ex__task-ex-block {
            grid-column: 1 / 1;
        }
    }
    .ex-form__box {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 16px 0px 16px 0px;
    }
    .ex__example{
        display: flex;
        flex-direction: row;
        padding: 12px 0px 18px 0px;
        align-items: center;
        .example__text{
            @extend %tpl_l-14;
            color: $c-b_60;
            padding: 0px 12px 0px 0px;
        }
        .example__colour-small{
            width: 20px;
            height: 20px;
            position: relative;
            align-self: center;
            margin: 0px 20px 0px 0px;
        }
        .example__colour-small::after{
            content: url(../img/icons/plus.png);
            top: -2px;
            right: -30px;
            position: absolute;
            width: 20px;
            height: 20px;
        }
        .example__img {
            width: 30px;
            height: 30px;
            margin: 0px 20px 0px 20px;
            position: relative;
            /*  @media (max-width:989px){ 
                width: 312px;
                height: 156px;
                margin: 12px 0px 12px 0px;
            }   */
            & img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .example__img::after {
            content: url(../img/icons/equal.png);
            position: absolute;
            top: 2px;
            right: -34px;
            width: 24px;
            height: 20px;
        }
        .example__input{
            @extend %tpl_l-12;
            color: $c-b_60;
            margin: 0px 0px 4px 30px;
            width: 150px;
            height: 24px;
            padding: 0px 8px 0px 8px;
            background-color: $bgc-y_40;
        }
    }
    .ex-form__img {
        width: 80px;
        height: 80px;
        margin: 0px 4px 0px 4px;
        position: relative;
        /*  @media (max-width:989px){ 
            width: 312px;
            height: 156px;
            margin: 12px 0px 12px 0px;
        }   */
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .ex-form__img::after {
        content: url(../img/icons/equal.png);
        position: absolute;
        top: 26px;
        right: -54px;
    }
    .ex-form__input {
        min-width: 626px;
        height: 40px;
        border-radius: 2px;
        padding: 0px 10px 0px 10px;
        margin: 0px 0px 0px 80px;
        color: $c-b_80;
        @extend %tpl_r-16;
        transition: all 0.5s ease;
        @media (max-width: 989px) {
            width: 400px;
            height: 60px;
            font-size: 24px;
            font-weight: 400;
            margin: 20px 0px 20px 0px;
        }
        @media (max-width: 789px) {
            width: 100%;
        }
    }
    /* .ex-4__input-true, .ex-4__input-false == are active when the answer is correct or not*/
    /*.ex-4__input-true{
            display: none;
            border: 1px solid $bgc-g_100;
            background: $bgc-lg_60;
        }
        .ex-4__input-false{
            display: none;
            border: 1px solid $bgc-g_80;
            background: $bgc-lg_40;
            color: $c-b_40;
            }*/
}
/*=========================== ex-4 ========================================*/
.main__ex-4 {
    .ex-4-form__block {
        background-color: $bgc-dy_60;
        box-shadow: 1px 1px 18px #dec980;
        /*@media (max-width:989px){
                grid-template-rows: repeat(10, 1fr);
            }*/
        .ex-4-form__box {
            border-bottom: 1px solid $bgc-g_80;
            /* @media (max-width:989px){
                flex-direction: column;
                justify-content: start;
                padding: 20px 0px 20px 0px;
            }*/
        }
        .ex__example{
            .example__colour-small{
                border-radius: 2px;
                background-color: grey;
            }
            .example__input{
                background-color: $bgc-y_20;
                border: 1px solid $bgc-g_80;
            }
        }
        .ex-4__colour {
            width: 40px;
            height: 40px;
            border-radius: 5px;
            position: relative;
            align-self: center;
            margin: 0px 60px 0px 0px;
            /* @media (max-width:989px){
            }*/
        }
        .ex-4__colour-green {
            background-color: #22ad27;
        }
        .ex-4__colour-red {
            background-color: #f62525;
        }
        .ex-4__colour-yellow {
            background-color: #fcf441;
        }
        .ex-4__colour-blue {
            background-color: #3c4ef2;
        }
        .ex-4__colour-pink {
            background-color: #f99eb4;
        }
        .ex-4__colour-white {
            background-color: #fff;
        }
        .ex-4__colour-brown {
            background-color: #ad6522;
        }
        .ex-4__colour-black {
            background-color: #000;
        }
        .ex-4__colour::after {
            content: url(../img/icons/plus.png);
            top: 7px;
            right: -44px;
            position: absolute;
        }
        .ex-4__input {
            border: 1px solid $bgc-g_80;
            background: $bgc-dy_40;
            /*@media (max-width:989px){ 
                width: 600px;
                height: 60px;
                font-size: 24px;
                font-weight: 400;
                margin: 20px 0px 20px 0px;
            }
            @media (max-width:789px){ 
                width: 100%;
            }*/
        }
        /* .ex-4__input-true, .ex-4__input-false == are active when the answer is correct or not*/
        /*.ex-4__input-true{
                display: none;
                border: 1px solid $bgc-g_100;
                background: $bgc-lg_60;
            }
            .ex-4__input-false{
                display: none;
                border: 1px solid $bgc-g_80;
                background: $bgc-lg_40;
                color: $c-b_40;
                }*/
        .ex-4__input:hover {
            border: 1px solid $bgc-g_80;
            background: $bgc-dy_20;
        }
    }
}
/*=========================== ex-5 ========================================*/
.main__ex-5 {
    .ex-5-form__block {
        background-color: $bgc-dg_100;
        box-shadow: 1px 1px 18px #425f0f;
        /*@media (max-width:989px){
                grid-template-rows: repeat(10, 1fr);
            }*/
        .ex__task-ex-block {
            color: $c-dy_100;
        }
        .ex-5-form__box {
            border-bottom: 1px solid $bgc-dy_60;
            /* @media (max-width:989px){
                flex-direction: column;
                justify-content: start;
                padding: 20px 0px 20px 0px;
            }*/
        }
        .ex__example{
            .example-5__text{
                color: #000;
            }
            .ex-5__colour-small{
                @extend %tpl_r-14;
                line-height: 8px;
                width: 20px;
                height: 20px;
                border-radius: 2px;
                margin: 0px 44px 0px 0px;
            }
            .ex-5__colour-small::after{
                top: 2px;
                right: -34px;
                position: absolute;
            }
            .example-5__img{
                margin: 0px 18px 0px 0px;
            }
            .example__input{
                background-color: $bgc-lg_40;
                border: 1px solid $bgc-lg_80;
            }
        }
        .ex-5__colour {
            width: 40px;
            height: 40px;
            border-radius: 5px;
            position: relative;
            align-self: center;
            margin: 0px 60px 0px 0px;
            background: linear-gradient(140.46deg, #ffee97 15.89%, #fff0a3 88.42%);
            box-shadow: 1px 1px 5px #f0e5a4, inset 4px 4px 4px rgba(255, 255, 255, 0.61),
                inset -4px -4px 4px rgba(0, 0, 0, 0.15);
            padding: 6px 0px 0px 0px;
            color: $c-g_80;
            @extend %tpl_b-24;
            /* @media (max-width:989px){
            }*/
        }
        .ex-5__colour::after {
            content: url(../img/icons/plus.png);
            top: 7px;
            right: -44px;
            position: absolute;
        }
        .ex-5__input {
            border: 1px solid $bgc-lg_100;
            background: $bgc-lg_60;
            /* @media (max-width:989px){ 
                width: 400px;
                height: 60px;
                font-size: 24px;
                font-weight: 400;
                margin: 20px 0px 20px 0px;
            }
            @media (max-width:789px){ 
                width: 100%;
            }*/
        }
        /* .ex-5__input-true, .ex-5__input-false == are active when the answer is correct or not*/
        /*.ex-5__input-true{
                display: none;
                border: 1px solid $bgc-g_100;
                background: $bgc-lg_60;
            }
            .ex-5__input-false{
                display: none;
                border: 1px solid $bgc-g_80;
                background: $bgc-lg_40;
                color: $c-b_40;
                }*/
        .ex-5__input:hover {
            border: 1px solid $bgc-g_80;
            background: $bgc-dy_40;
        }
    }
}

/*=========================== ex-6 ========================================*/

.main__ex-6 {
    .ex-6__block {
        grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
        gap: 20px 40px;
        .block__item {
            grid-template: 1fr minmax(40px, 60px) / minmax(238px, 1fr);
            .block__img-dy40 {
                background-color: $bgc-dy_40;
                transition: all 1.5s ease-in-out;           
            }  
            .block__img-dy40:hover{
                transform: rotateY(360deg);
            }
            .block__name {
                justify-self: center;
                @extend %tpl_m-20;
                color: $c-b_80;
                text-align: center;
                transform: scale(0);
                transition: all 0.5s ease;
                @media (max-width: 830px) {
                    font-size: 26px;
                    font-weight: 500;
                }
            }
            &:hover .block__name {
                transform: scale(1);
            }
        }
    }
}

/*=========================== ex-7 ========================================*/
.main__ex-7 {
    background-color: $bgc-lg_100;
    .ex__task {
        color: $c-y_100;
    }
    .ex-7__block {
        grid-column: 2 / 3;
        display: grid;
        grid-template-rows: repeat(10, 80px);
        align-items: center;
        padding: 50px 16px 50px 16px;
        @media (max-width: 989px) {
            grid-template-rows: repeat(10, 1fr);
        }
    }
    .ex-7__box {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        border-bottom: 1px solid $bgc-lg_80;
        padding: 0px 0px 20px 0px;
        @media (max-width: 989px) {
            flex-direction: column;
            justify-content: start;
            padding: 20px 0px 20px 0px;
        }
    }
    .ex-7__text {
        color: $c-b_80;
        @extend %tpl_r-16;

        align-self: center;
        @media (max-width: 989px) {
            font-size: 24px;
            font-weight: 400;
            align-self: flex-start;
        }
    }
    .ex-7__text-img {
        padding: 0px 10px 0px 50px;
        position: relative;
    }
    .ex-7__text-img::before {
        content: url(../img/flower.png);
        top: -10px;
        left: 0;
        position: absolute;
    }
    .ex-7__img {
        width: 60px;
        height: 50px;
        border: 1px solid $bgc-g_80;
        border-radius: 2px;
        margin: 0px 4px 0px 4px;
        transition: all 0.8s ease;
        @media (max-width: 989px) {
            width: 312px;
            height: 156px;
            margin: 12px 0px 12px 0px;
        }
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .ex-7__img:hover {
        transform: scale(5);
        margin: 0px 160px 0px 160px;
        @media (max-width: 989px) {
            transform: scale(1);
            margin: 0px 0px 0px 0px;
        }
    }
    .ex-7__input {
        width: 608px;
        height: 40px;
        border: 1px solid $bgc-g_80;
        border-radius: 2px;
        background: $bgc-lg_60;
        padding: 0px 10px 0px 10px;
        margin: 0px 8px 0px 8px;
        color: $c-b_80;
        @extend %tpl_r-16;
        transition: all 0.5s ease;
        @media (max-width: 989px) {
            width: 400px;
            height: 60px;
            font-size: 24px;
            font-weight: 400;
            margin: 20px 0px 20px 0px;
        }
        @media (max-width: 789px) {
            width: 100%;
        }
    }
    /* .ex-7__input-true, .ex-7__input-false == are active when the answer is correct or not*/
    /*.ex-7__input-true{
            display: none;
            border: 1px solid $bgc-g_100;
            background: $bgc-lg_60;
        }
        .ex-7__input-false{
            display: none;
            border: 1px solid $bgc-g_80;
            background: $bgc-lg_40;
            color: $c-b_40;
            }*/
    .ex-7__input:hover {
        border: 1px solid $bgc-g_80;
        background: $bgc-lg_40;
    }
}
