@import "nullstyles.scss";

@font-face {
	font-family: 'Gilroy-Bold';
	src: url('fonts/Gilroy-Bold.eot');
	src: local('☺'), url('../fonts/Gilroy-Bold.woff') format('woff'), url('../fonts/Gilroy-Bold.ttf') format('truetype'), url('../fonts/Gilroy-Bold.svg') format('svg');
	font-weight: 600;
}
@font-face {
	font-family: 'Gilroy-Heavy';
	src: url('fonts/Gilroy-Heavy.eot');
	src: local('☺'), url('../fonts/Gilroy-Heavy.woff') format('woff'), url('../fonts/Gilroy-Heavy.ttf') format('truetype'), url('../fonts/Gilroy-Heavy.svg') format('svg');
	font-weight: 900;
}
@font-face {
	font-family: 'Gilroy-Light';
	src: url('fonts/Gilroy-Light.eot');
	src: local('☺'), url('../fonts/Gilroy-Light.woff') format('woff'), url('../fonts/Gilroy-Light.ttf') format('truetype'), url('../fonts/Gilroy-Light.svg') format('svg');
	font-weight: 300;
}
@font-face {
	font-family: 'Gilroy-Medium';
	src: url('fonts/Gilroy-Medium.eot');
	src: local('☺'), url('../fonts/Gilroy-Medium.woff') format('woff'), url('../fonts/Gilroy-Medium.ttf') format('truetype'), url('../fonts/Gilroy-Medium.svg') format('svg');
	font-weight: 500;
}
@font-face {
	font-family: 'Gilroy-Regular';
	src: url('fonts/Gilroy-Regular.eot');
	src: local('☺'), url('../fonts/Gilroy-Regular.woff') format('woff'), url('../fonts/Gilroy-Regular.ttf') format('truetype'), url('../fonts/Gilroy-Regular.svg') format('svg');
	font-weight: 400;
}


// main colors:
$c-bl: #070707;
$c-gr: #828282;

// font-weight:
$fw-b: bold;
$fw-m: medium;

// text styles:
%tpltext{
    font-size: 1.125rem; //18px
    line-height: 1.375rem; //22px
    @media (max-width: 800px){
        font-size: 1rem; //16px
        line-height: 1.2rem; //19px
    }
}

%tplsubtitle{
    font-size: 2.125rem; //34px
    line-height: 2.625rem; //42px
    text-align: center;
    font-weight: 600; 
    @media (max-width: 800px){
        font-size: 1.75rem; //28px
        line-height: 2rem; //32px
    }
}


//body structure:
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.container{
    max-width: 944px;
    margin: 0 auto;
    flex: 0 1 944px;
}

// header + nav list == phone size + tablet
@media (max-width: 800px){
    .header{
        max-height: 80px;
        .container{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            max-width: 100%;
            margin: 30px 10px 30px 0px;
        }
        &__burger{
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 3;
            & span{
                width: 100%;
                height: 2px;
                background-color: #828282;
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(0px, 9px);
                transition: all 0.3s ease 0s;
            }
        } 
        &__burger::before, &__burger::after{
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            background-color: #828282;
            transition: all 0.3s ease 0s;
        }
        &__burger::before{
            top: 0;
        }
        &__burger::after{
            bottom: 0;
        }              
    }
}


.header{
    width: 100%;
    height: 100px;
    flex: 0 1 auto;
    display: flex;
    padding: 0px 15px 0px 15px;
    background-color: rgba(255, 255, 255, 0.83);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    & .container{
        z-index: 3;
    }
    &__items{
        padding: 32px 0px 32px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        z-index: 3;
        @media (max-width: 800px){
            display: none;
        }
        li:first-child>a{
            color: $c-bl;
        }
    }    
    &__items::after{   //a grey line at the bottom of the header
        content: '';
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: 1px solid #828282;
    }
    &__list{
        font-weight: $fw-b;
        @extend %tpltext;
        color: $c-gr;
    }
    @media (min-width: 800px){
        &__burger{
        display: none;
        }
    }
    
}



// main part:

.main{    
    flex: 1 1 auto;
    padding: 140px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    @media (max-width: 800px){
        padding: 80px 15px 18px 15px;
    }
}

// section about author:
.info{
    flex: 0 1 auto;
    padding: 0px 0px 104px 0px;
    @media (max-width: 800px){
        padding: 0px 0px 50px 0px;
    }
    &__body{
    display: flex;
    flex-direction: column;    
    }
    &__items{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        flex: 0 1 auto;
        padding: 0px 0px 50px 0px;
        @media (max-width: 800px){
            display: block;
            padding: 0px 0px 25px 0px;
        }
    }
    &__title{
        font-size: 3rem; // 48px
        line-height: 3.6875rem; //59px
        font-weight: $fw-b;
        flex: 0 1 auto;
        @media (max-width: 800px){
            font-size: 2rem; // 32px
            line-height: 2.5rem; // 40px
            padding: 0px 0px 16px 0px;
        }
    }
    &__text{
        @extend %tpltext;
        color: $c-bl;
        font-weight: $fw-m;
        flex: 0 1 auto;
    }
    &__lang{
        width: 20px;
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        transform: rotate(-90deg);
        @media (max-width: 800px){
            display: none
        }
        .lang__item{
            font-size: 1rem; //16px
            font-weight: $fw-b;
            line-height: 1.25rem; // 20px
            color: $c-gr;
            padding: 0px 8px 0px 0px;
        }
        a:nth-child(2){
            color: $c-bl;
            padding: 0px 0px 0px 8px;
        }
        .item__lang{
            position: relative;
        }                    
        .item__lang::before{
            content: '';
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-left: 1px solid #070707;
        }                         
    }
    &__img{
        padding: 0px 0px 40% 0px;
        flex: 0 0 auto;
        position: relative;
        & img{
            width: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
            position: absolute;
        }
    }
} 

// section 2 about author:
.aboutme{
    background-color: #F6F6F6;
    flex: 0 0 auto;
    &__container{
        max-width: 486px;
        margin: 0 auto;
        flex: 0 1 486px;
    }
    &__body{
        display: flex;
        flex-direction: column;
        padding: 120px 0px 107px 0px;
        @media (max-width: 800px){
            padding: 60px 0px 40px 0px;
        }
        p:last-child{
            padding: 0;
        }
    }
    &__subtitle{
        @extend %tplsubtitle;
        padding: 0px 0px 18px 0px;
    }
    &__text{
        @extend %tpltext;
        text-align: center;
        font-weight: $fw-m;
        color: $c-bl;
        padding: 0px 0px 30px 0px;
    }
}

// section about author's skills:
.skills{
    flex: 0 1 auto;
    display: flex;
    padding: 90px 0px 110px 0px;
    @media (max-width: 800px){
        padding: 60px 0px 80px 0px;
    }
    &__body{
        display: flex;
        flex-direction: column;
    }
    &__subtitle{
        @extend %tplsubtitle;
        padding: 0px 0px 70px 0px;
        @media (max-width: 800px){
            padding: 0px 0px 50px 0px;
        }
    }
    &__text{
        @extend %tpltext;
        color: $c-bl;
        font-weight: $fw-m;
        text-align: center;
    }
    &__icons{
        padding: 84px 0px 0px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 0 1 auto;
        @media (max-width: 800px){
            padding: 34px 0px 0px 0px;
        }
    }
    &__icon{
        flex: 1 1 25%;
        display: flex;
        flex-direction: column;
        align-items: center;        
        @media (max-width: 800px){
            padding: 16px 0px 0px 0px;
            flex: 1 1 50%;
        }           
        .icon__text{
            font-size: 0.875rem; //14px
            line-height: 1.125rem; //18px
            font-weight: $fw-b;
            color: $c-gr;
            flex: 1 1 auto;
            text-align: center;
        }
        .icon__stars{
            flex: 0 1 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 40px 0px 0px 0px;
            & li{
                padding: 0px 0px 0px 8px;
            }
            & li:first-child{
                padding: 0;
            }
        }
    }
}
// icons positioning:
.icon__img{
    width: 100%;
    flex: 0 1 auto;
    position: relative;
    padding: 0px 0px 58% 0px;
    align-self: center;
    & img{
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        object-fit: cover;
        transform: translate(-50%, 0px);
    }
}

// section about author's projects:
.portfolio{
    padding: 112px 0px 96px 0px;
    background-color: #F6F6F6;
    flex: 0 1 auto;
    display: flex;
    @media (max-width: 800px){
        padding: 90px 0px 76px 0px;
    }
    &__container{
        max-width: 936px;
        margin: 0 auto;
        flex: 0 1 936px;
    }    
    &__subtitle{
        @extend %tplsubtitle;
        padding: 0px 0px 48px 0px;
        @media (max-width: 800px){
            padding: 0px 0px 28px 0px;
        }
    }
    &__items{
        display: flex;
        flex-direction: column;
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 0px 100px 0px;
        @media (max-width: 800px){
            padding: 0px 0px 80px 0px;
        }
    }
    &__item:last-child {
        padding: 0;
    }    
    &__img{
        width: 100%;
        flex: 0 1 auto;
        position: relative;
        padding: 0px 0px 58% 0px;
        & img{
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
        }
    }
    &__link{
        @extend %tpltext;
        font-weight: $fw-m;
        color: $c-bl;
        text-decoration: underline;
        padding: 45px 0px 0px 0px;
       @media (max-width: 800px){
            padding: 25px 0px 0px 0px;
        }
    }
}

// footer

.contacts{
    padding: 114px 15px 124px 15px;
    flex: 0 1 auto;
    @media (max-width: 800px){
        padding: 90px 0px 90px 0px;
    }
    &__container{
        width: 342px;
        margin: 0 auto;
    }
    &__content{
        display: flex;
        flex-direction: column;     
    }
    &__subtitle{
        @extend %tplsubtitle;
        padding: 0px 0px 22px 0px;
    }
    &__text{
        @extend %tpltext;
        color: $c-bl;
        font-weight: $fw-m;
        text-align: center;
    }
    &__btn{
        font-size: 0.875rem; //14px
        color: #fff;
        font-weight: $fw-b;
        background-color: #070707;
        padding: 13px 0px;
        border-radius: 50px;
        text-align: center;
        margin: 30px 0px 86px 0px;
        display: block;
        width: 180px;
        align-self: center;
        @media (max-width: 800px){
            margin: 30px 0px 60px 0px;
        }
    }
    &__icons{
        flex: 0 1 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__icon{
        width: 100%;
        flex: 0 1 25%;
        position: relative;
        padding: 0px 0px 53% 0px;
        @media (max-width: 800px){
            padding: 0px 0px 33% 0px;
        }        
        & img{
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            transform: translate(50%, 0);
        }
    }
    &__text{
        font-size: 0.875rem; //14px
        color: $c-gr;
        font-weight: $fw-m;
        line-height: 1.214rem; //17px
        text-align: center;
    }
}

