@import '_nullstyles';

/* Font : El Messiri*/
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap');

/* Font : Proxima Nova*/
@font-face {
	font-family: 'Proxima Nova';
	src: url('fonts/Mark Simonson - Proxima Nova Regular.eot');
	src: local('☺'), url('../fonts/Mark Simonson - Proxima Nova Regular.woff') format('woff'), url('../fonts/Mark Simonson - Proxima Nova Regular.ttf') format('truetype'), url('../fonts/Mark Simonson - Proxima Nova Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('fonts/Mark Simonson - Proxima Nova Semibold.eot');
	src: local('☺'), url('../fonts/Mark Simonson - Proxima Nova Semibold.woff') format('woff'), url('../fonts/Mark Simonson - Proxima Nova Semibold.ttf') format('truetype'), url('../fonts/Mark Simonson - Proxima Nova Semibold.svg') format('svg');
	font-weight: normal;
	font-style: 600;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('fonts/proximanova-bold.eot');
	src: local('☺'), url('../fonts/proximanova-bold.woff') format('woff'), url('../fonts/proximanova-bold.ttf') format('truetype'), url('../fonts/proximanova-bold.svg') format('svg');
	font-weight: normal;
	font-style: 700;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('fonts/proximanova-light.eot');
	src: local('☺'), url('../fonts/proximanova-light.woff') format('woff'), url('../fonts/proximanova-light.ttf') format('truetype'), url('../fonts/proximanova-light.svg') format('svg');
	font-weight: normal;
	font-style: 300;
}
/* 	COLOURS:*/
$c-f: #fff;
$c-fo: hsla(0, 0%, 40%, 1);
$c-b: #018ABE;

/* 	BACKGROUND COLOURS:*/
$bgc-fo: hsla(0, 0%, 40%, 1);
$bgc: #162831;
$bgc-btn: #018ABE;

/* FONT : Proxima Nova*/

%tpl_pn-24{
	font-family: 'Proxima Nova';
	font-size: 1.5rem;//24px
	line-height: 2.125rem;//34px
	font-weight: 700;
}

%tpl_pn-20{
	font-family: 'Proxima Nova';
	font-size: 1.25rem;//20px
	line-height: 1.75rem;//28px
	font-weight: 700;
}

%tpl_pn-18{
	font-family: 'Proxima Nova';
	font-size: 1.125rem;//18px
	line-height: 1.5625rem;//25px
	font-weight: 400;
}

%tpl_pn-16{
	font-family: 'Proxima Nova';
	font-size: 1rem;//16px
	line-height: 1.375rem;//22px
	font-weight: 300;
}

%tpl_pn-14{
	font-family: 'Proxima Nova';
	font-size: 0.875rem;//14px
	line-height: 1.1875rem;//19px
	font-weight: 400;
}

%tpl_pn-14light{
	font-family: 'Proxima Nova';
	font-size: 0.875rem;//14px
	line-height: 1.225rem;//19.6px
	font-weight: 400;
}

%tpl_pn-13{
	font-family: 'Proxima Nova';
	font-size: 0.8125rem;//13px
	line-height: 1.125rem;//18px
	font-weight: 600;
}

%tpl_pn-10{
	font-family: 'Proxima Nova';
	font-size: 0.625rem;//10px
	line-height: 0.875rem;//14px
	font-weight: 300;
}

/* FONT : El Messiri*/

%tpl_em-42{
	font-family: 'El Messiri';
	font-size: 2.625rem; //42px
	line-height: 3.6875rem; //59px
	font-weight: 700;
	text-align: center;
	@media (max-width:790px){
		font-size: 2rem; //32px
		line-height: 3.0625rem; //49px
	}
}

%tpl_em-24{
	font-family: 'El Messiri';
	font-size: 1.5rem; //24px
	line-height: 2.125rem; //34px
	font-weight: 700;
	text-align: center;
}

%tpl_em-21{
	font-family: 'El Messiri';
	font-size: 1.3125rem; //21px
	line-height: 1.8125rem; //29px
	font-weight: 700;
	text-align: center;
}

%tpl_em-18{
	font-family: 'El Messiri';
	font-size: 1.125rem; //18px
	line-height: 1.5625rem; //25px
	font-weight: 700;
	text-align: right;
}

		/*BODY*/
.wrapper { //body attributes
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-color: $bgc;
}

.content{ //main part attributes
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.container{ // common attributes for container
	max-width: 1328px;
	margin: 0 auto;
}

	/* HEADER*/
.header{
	flex: 0 1 auto;
	&__menu{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 30px 16px 30px 16px;
	} 
	&____logo {
		flex: 0 1 25%;
		display: flex;
		justify-self: flex-start;
		position: relative;
		.logo__link {
			flex: 0 0 60px;
			display: flex;
			.logo__link img{
				width: 100%;
				display: block;
				object-fit: cover;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}	
	&__list {
		flex: 0 1 50%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
        position: relative;		
	}
    &__menu{
        width: 100%;
    }
    &__menu::after{
        content: '';
        width: 100%;
        border-bottom: 1px solid $bgc-fo;
        top: 116px;
        left: 0;
        position: absolute;
    }
	&__item{
		color: $c-f;
		@extend %tpl_pn-14
	}
	&__item:hover{
		color: $c-b;
	}
	&__btn{
		flex: 0 1 25%;
		display: flex;
		justify-content: flex-end;
		.btn__item{
			display: block;
			padding: 10px 16px 10px 16px;
			border-radius: 3px;
			color: $c-f;
			background-color: $bgc-btn;
			@extend %tpl_pn-13;
		}
		.btn__item:hover{
			color: $c-b;
			background-color: $bgc-fo;
		}
	}	
}

    /* SECTION .news*/
.news{
	flex: 0 1 auto;
    &__body{
        width: 100%;
        padding: 60px 16px 0px 16px;
        @media (max-width:1200px){
            padding: 40px 16px 0px 16px;
		}
    }
	&__subtitle {
		@extend %tpl_em-42;
		color: $c-f;
		position: relative;		
	}
	&__subtitle::before{
		content: url(../Img/pictures/leaf-blue-left.png);
		position: absolute;
		left: 35%;
		top: 0;
		@media (max-width:1200px){
			left: 34%;
		}
		@media (max-width:980px){
			left: 32%;
		}
		@media (max-width:890px){
			left: 30%;
		}
		@media (max-width:790px){
			left: 28%;
		}
		@media (max-width:690px){
			left: 28%;
		}
		@media (max-width:590px){
			left: 20%;
		}
        @media (max-width:490px){
			left: 10%;
		}
	}
	&__subtitle::after{
		content: url(../Img/pictures/leaf-blue-right.png);
		position: absolute;
		right: 35%;
		top: 0;
		@media (max-width:1200px){
			right: 34%;
		}
		@media (max-width:980px){
			right: 32%;
		}
		@media (max-width:890px){
			right: 30%;
		}
		@media (max-width:790px){
			right: 28%;
		}
		@media (max-width:690px){
			right: 28%;
		}
		@media (max-width:590px){
			right: 20%;
		}
        @media (max-width:490px){
			right: 10%;
		}
	}
    &__cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 60px 0px 120px 0px;
        margin: 0px -12px 0px -12px;  
        @media (max-width:790px){
			flex-direction: column;
            padding: 20px 0px 20px 0px;
		}      
    }
    &__item{
        flex: 0 1 33.333%;
        display: flex;
        margin: 0px 12px 24px 12px;
        position: relative; 
        @media (max-width:790px){
            
        }
        .card__subtitle{
            position: absolute;
            bottom: 30px;
            left: 35px;
            @extend %tpl_em-21;
            color: $c-f;
        }
        .card__subtitle:hover{            
            color: $c-fo;
        }
    }
    &__item img{
        width: 100%;
        max-height: 258px;
        object-fit: cover;
    }
}
.footer{
    flex: 0 1 auto;
    .contacts__rights{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 20px 16px 30px 16px;
        position: relative;
		@media (max-width:890px){
			padding: 30px 16px 20px 16px;
		}
	}
    .contacts__rights::before{
        content: '';
        width: 100%;
        border-bottom: 1px solid $bgc-fo;
        top: 0;
        left: 0;
        position: absolute;
    }
	.rights__item{
		color: $c-f;
		@extend %tpl_pn-14;
	}	
}