@import "_nullstyles";

/* Font : El Messiri*/
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap');

/* Font : Proxima Nova*/
@font-face {
	font-family: 'Proxima Nova';
	src: url('fonts/Mark Simonson - Proxima Nova Regular.eot');
	src: local('☺'), url('../fonts/Mark Simonson - Proxima Nova Regular.woff') format('woff'), url('../fonts/Mark Simonson - Proxima Nova Regular.ttf') format('truetype'), url('../fonts/Mark Simonson - Proxima Nova Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('fonts/Mark Simonson - Proxima Nova Semibold.eot');
	src: local('☺'), url('../fonts/Mark Simonson - Proxima Nova Semibold.woff') format('woff'), url('../fonts/Mark Simonson - Proxima Nova Semibold.ttf') format('truetype'), url('../fonts/Mark Simonson - Proxima Nova Semibold.svg') format('svg');
	font-weight: normal;
	font-style: 600;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('fonts/proximanova-bold.eot');
	src: local('☺'), url('../fonts/proximanova-bold.woff') format('woff'), url('../fonts/proximanova-bold.ttf') format('truetype'), url('../fonts/proximanova-bold.svg') format('svg');
	font-weight: normal;
	font-style: 700;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('fonts/proximanova-light.eot');
	src: local('☺'), url('../fonts/proximanova-light.woff') format('woff'), url('../fonts/proximanova-light.ttf') format('truetype'), url('../fonts/proximanova-light.svg') format('svg');
	font-weight: normal;
	font-style: 300;
}
/* 	COLOURS:*/
$c-f: #fff;
$c-fo: hsla(0, 0%, 40%, 1);
$c-b: #018ABE;

/* 	BACKGROUND COLOURS:*/
$bgc-fo: hsla(0, 0%, 40%, 1);
$bgc: #162831;
$bgc-btn: #018ABE;

/* FONT : Proxima Nova*/

%tpl_pn-24{
	font-family: 'Proxima Nova';
	font-size: 1.5rem;//24px
	line-height: 2.125rem;//34px
	font-weight: 700;
}

%tpl_pn-20{
	font-family: 'Proxima Nova';
	font-size: 1.25rem;//20px
	line-height: 1.75rem;//28px
	font-weight: 700;
}

%tpl_pn-18{
	font-family: 'Proxima Nova';
	font-size: 1.125rem;//18px
	line-height: 1.5625rem;//25px
	font-weight: 400;
}

%tpl_pn-16{
	font-family: 'Proxima Nova';
	font-size: 1rem;//16px
	line-height: 1.375rem;//22px
	font-weight: 300;
}

%tpl_pn-14{
	font-family: 'Proxima Nova';
	font-size: 0.875rem;//14px
	line-height: 1.1875rem;//19px
	font-weight: 400;
}

%tpl_pn-14light{
	font-family: 'Proxima Nova';
	font-size: 0.875rem;//14px
	line-height: 1.225rem;//19.6px
	font-weight: 400;
}

%tpl_pn-13{
	font-family: 'Proxima Nova';
	font-size: 0.8125rem;//13px
	line-height: 1.125rem;//18px
	font-weight: 600;
}

%tpl_pn-10{
	font-family: 'Proxima Nova';
	font-size: 0.625rem;//10px
	line-height: 0.875rem;//14px
	font-weight: 300;
}

/* FONT : El Messiri*/

%tpl_em-42{
	font-family: 'El Messiri';
	font-size: 2.625rem; //42px
	line-height: 3.6875rem; //59px
	font-weight: 700;
	text-align: center;
	@media (max-width:790px){
		font-size: 2rem; //32px
		line-height: 3.0625rem; //49px
	}
}

%tpl_em-24{
	font-family: 'El Messiri';
	font-size: 1.5rem; //24px
	line-height: 2.125rem; //34px
	font-weight: 700;
	text-align: center;
	@media (max-width:790px){
		font-size: 1.3125rem; //21px
		line-height: 1.8125rem; //29px
	}
}

%tpl_em-21{
	font-family: 'El Messiri';
	font-size: 1.3125rem; //21px
	line-height: 1.8125rem; //29px
	font-weight: 700;
	text-align: center;
}

%tpl_em-18{
	font-family: 'El Messiri';
	font-size: 1.125rem; //18px
	line-height: 1.5625rem; //25px
	font-weight: 700;
	text-align: right;
}

		/*BODY*/
.wrapper { //body attributes
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-color: $bgc;
}

.content{ //main part attributes
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.container{ // common attributes for container
	max-width: 1328px;
	margin: 0 auto;
	padding: 0px 16px 0px 16px;
	@media (max-width: 768.98px) {
		max-width: none;
	}
}

	/* HEADER*/
.header{
	flex: 0 1 auto;
	&__menu{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 30px 0px 30px 0px;
	} 
	&__logo {
		flex: 0 0 60px;
		display: flex;
		overflow: hidden;
		position: relative;
		z-index: 3;
		@media (max-width: 767.98px){
			flex: 0 0 40px;
		}
	}
	&__logo img{
		width: 100%;
		display: block;
	}	
	&__menu-list{
		flex: 0 1 50%;
	}
	&__list {		
		display: flex;
		flex-direction: row;
		justify-content: space-between;	
		@media (max-width: 767.98px){
			flex: 0 1 60%;
		}	
	}
	&__item{
		color: $c-f;
		@extend %tpl_pn-14;
		@media (max-width: 767.98px){
			padding: 0px 4px 0px 4px;
		}
	}
	&__item:hover{
		color: $c-b;
	}
	&__btn{
		flex: 0 1 22%;
		display: flex;
		justify-content: flex-end;		
		@media (max-width: 767.98px){
			flex: 0 1 50%;
		}	
		.btn__item{
			display: block;
			padding: 10px 16px 10px 16px;
			border-radius: 3px;
			color: $c-f;
			background-color: $bgc-btn;
			@extend %tpl_pn-13;
			@media (max-width: 767.98px){
				padding: 8px 14px 8px 14px;
			}
		}
		.btn__item:hover{
			color: $c-b;
			background-color: $bgc-fo;
		}
	}
	/* HEADER 'burger' */
	&__burger{
		display: none;
	}
}  
	/* HEADER 'burger' */
@media (max-width:767.98px){
	body.lock{
		overflow: hidden; // заборона скролу контенту сторінки при відкритому меню
	}
	.content{
		padding: 60px 0px 0px 0px;
	}
	.header__menu{
		height: 50px;
	}
	//бургер-меню
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        margin: 0px 0px 0px 12px;
        position: relative;
        z-index: 3;
    }
    //рисочки бургер-меню складаються зі span, ::before, ::after
    .header__burger span{
        position: absolute;
        background-color: rgb(247, 209, 247);
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before, .header__burger::after{
        content: '';
        background-color: rgb(247, 209, 247);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }

    //через js вводимо новий клас .active для бургер-меню і .header__menu для того, щоб при активному стані "рисочки" змінювалися на "хрестик", а перелік меню з'являвся і зникав
    .header__burger.active::before{ //при відкритому бургер-меню "рисочки" зміняться на "хрестик"
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after{//при відкритому бургер-меню "рисочки" зміняться на "хрестик"
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span{//при відкритому бургер-меню "рисочка" зникне
        transform: scale(0);
    }
	.header__menu-list{
		position: fixed;
        top: -100%; //меню заховане, поки не буде натиснута кнопкабургер-меню
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bgc;
        z-index: 2;
        padding: 140px 16px 20px 30px;
        transition: all 0.3s ease 0s;
        overflow: auto; //потрібно для того, щоб позиції меню скролились при горизонтальному положенні телефону    
	}
	.header__menu-list.active{
		//меню з'явиться, коли буде натиснена кнопка бургер-меню
		top: 0;
	}
	.header__list{
        display: block; //з флекс-елемента рядка робимо блочний елемент
    }
    .header__list li{
        padding: 0px 0px 20px 0px;
    }
    .header__item{
        font-size: 22px;
        line-height: 28px;
    }
}
	/*SECTION  .aqua*/
.aqua{
	flex: 0 1 auto;
	width: 100%;
	&__body {
		width: 100%;
		display: flex;
		position: relative;
		padding: 40px 0px 100px 0px;
		@media (max-width:767.98px){
			padding: 20px 0px 60px 0px;
		}
	}
	&__textblock {
		max-width: 560px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 75%);
		@media (max-width:990px){
			max-width: 500px;
			transform: translate(-50%, 55%);
		}
		@media (max-width:767.98px){
			width: 400px;
			position: absolute;
			text-align: center;
			padding: 0px 0px 50px 0px;
			transform: translate(-50%, 0);
		}
		@media (max-width:490px){
			width: 100%;			
		}
	}
	&__texttitle{
		@extend %tpl_em-24;
		color: $c-f;
		text-align: center;
		display: inline-block;
		position: relative;
	}
	&__texttitle::before{
		content: url(../Img/pictures/leaf-white-left.png);
		position: absolute;
		top: 0;
		left: 66px;
		@media (max-width:890px){
			left: 30px;
		}
		@media (max-width:767.98px){
			left: 25px;
		}
		@media (max-width:490px){
			left: 30%;
			transform: translate(0, 40px);
		}
	}
	&__texttitle::after{
		content: url(../Img/pictures/leaf-white-right.png);
		position: absolute;
		top: 0;
		right: 66px;
		@media (max-width:890px){
			right: 30px;
		}
		@media (max-width:767.98px){
			right: 25px;
		}
		@media (max-width:490px){
			right: 30%;
			transform: translate(0, 40px);
		}
	}
	&__title {
		font-family: 'El Messiri';
		font-size: 4rem; //64px
		line-height: 5.625rem;//90px
		font-weight: 700;
		text-align: center;
		color: $c-f;
		text-align: center;
		@media (max-width:990px){
			font-size: 3.25rem; //52px
			line-height: 4.375rem; //70px
		}
		@media (max-width:767.98px){
			font-size: 2.625rem; //42px
			line-height: 3.25rem; //52px
		}
		@media (max-width:490px){
			font-size: 2rem; //32px
			line-height: 2.625rem; //22px
			padding: 50px 0px 0px 0px;
		}
	}
	&__img{
		flex: 0 1 auto;
		display: flex;
		@media (max-width:767.98px){
			padding: 150px 0px 0px 0px;
		}
		@media (max-width:490px){
			padding: 170px 0px 0px 0px;			
		}
	}	
		&__img img{
			width: 100%;
			object-fit: cover;
		}
	
} 
	/*SECTION  .session*/
.session {
	flex: 0 1 auto;
	&__subtitle {
		@extend %tpl_em-42;
		color: $c-f;
		position: relative;		
	}
	&__subtitle::before{
		content: url(../Img/pictures/leaf-blue-left.png);
		position: absolute;
		left: 30%;
		top: 0;
		@media (max-width:1200px){
			left: 27%;
		}
		@media (max-width:980px){
			left: 24%;
		}
		@media (max-width:890px){
			left: 21%;
		}
		@media (max-width:790px){
			left: 18%;
		}
		@media (max-width:690px){
			left: 10%;
		}
		@media (max-width:590px){
			left: 16px;
		}
		@media (max-width:490px){
			left: 30%;
			transform: translate(0, 40px);
		}
	}
	&__subtitle::after{
		content: url(../Img/pictures/leaf-blue-right.png);
		position: absolute;
		right: 30%;
		top: 0;
		@media (max-width:1200px){
			right: 27%;
		}
		@media (max-width:980px){
			right: 24%;
		}
		@media (max-width:890px){
			right: 21%;
		}
		@media (max-width:790px){
			right: 18%;
		}
		@media (max-width:690px){
			right: 10%;
		}
		@media (max-width:590px){
			right: 16px;
		}
		@media (max-width:490px){
			right: 30%;
			transform: translate(0, 40px);
		}
	}
	&__body {
		padding: 100px 0px 150px 0px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(416px,1fr));
		gap: 24px;
		@media (max-width:767.98px){
			padding: 50px 0px 60px 0px;
		}
	}
	&__carditem-big {
		grid-column-start: span 1;
		grid-row-start: span 2;
		position: relative;
		width: 99.666%;
		padding: 0px 0px 100% 0px;
		@media (max-width:890px){
			width: 100%;
			grid-column-start: span 1;
			grid-row-start: span 1;
			padding: 0px 0px 130% 0px;
		}
		@media (max-width:450px){
			width: 90vw;
			padding: 0px 0px 114% 0px;
		}
		@media (max-width:400px){
			padding: 0px 0px 111% 0px;
		}
		@media (max-width:380px){
			padding: 0px 0px 104% 0px;
		}
		@media (max-width:360px){
			padding: 0px 0px 101% 0px;
		}
		.carditem__title {
			@extend %tpl_em-24;
			color: $c-f;
			position: absolute;
			bottom: 30px;
			left: 40px;
			width: 350px;
			text-align: left;
			@media (max-width:450px){
				bottom: 10px;
				left: 20px;
				text-align: left;
			}
			@media (max-width:390px){
				bottom: 54px;
			}
			.carditem__title:hover{
				color: $c-fo;
			}			
		}		
		& img{
			width: 100%;
			object-fit: cover;
			top: 0;
			left: 0;
			position: absolute;
		}
	}				
	&__carditem {
		grid-column-start: span 1;
		grid-row-start: span 1;
		display: flex;
		position: relative;
		width: 100%;
		padding: 0px 0px 62% 0px;
		@media (max-width:450px){
			width: 90vw;
			padding: 0px 0px 54% 0px;
		}
		@media (max-width:390px){
			padding: 0px 0px 48% 0px;
		}		
		.carditem__title {
			@extend %tpl_em-24;
			color: $c-f;
			position: absolute;
			bottom: 30px;
			left: 40px;
			width: 350px;
			text-align: left;
			@media (max-width:450px){
				bottom: 10px;
				left: 20px;
			}
			@media (max-width:390px){
				bottom: 34px;
				width: 250px;
			}
			.carditem__title:hover{
				color: $c-fo;
			}
		}	
		& img{
			width: 100%;
			object-fit: cover;
			top: 0;
			left: 0;
			position: absolute;
		}
	}
	
}
	/*SECTION  .comments*/
.comments {
	flex: 0 1 auto;
	&__subtitle {
		@extend %tpl_em-42;
		color: $c-f;
		position: relative;
	}
	&__subtitle::before{
		content: url(../Img/pictures/leaf-blue-left.png);
		position: absolute;
		left: 38%;
		top: 0;
		@media (max-width:1200px){
			left: 36%;
		}
		@media (max-width:980px){
			left: 32%;
		}
		@media (max-width:890px){
			left: 29%;
		}
		@media (max-width:690px){
			left: 20%;
		}
		@media (max-width:490px){
			left: 30%;
			transform: translate(0, 40px);
		}
	}
	&__subtitle::after{
		content: url(../Img/pictures/leaf-blue-right.png);
		position: absolute;
		right: 38%;
		top: 0;
		@media (max-width:1200px){
			right: 36%;
		}
		@media (max-width:980px){
			right: 32%;
		}
		@media (max-width:890px){
			right: 29%;
		}
		@media (max-width:690px){
			right: 20%;
		}
		@media (max-width:490px){
			right: 30%;
			transform: translate(0, 40px);
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 100px 0px 150px 0px;
		@media (max-width:690px){
			padding: 50px 0px 60px 0px;
		}
	}
	&__cards {
		display: flex;
		flex-direction: row;
	}
	&__card {
		width: 500px;
		min-height: 244px;
		border-radius: 10px;
		background-color: hsla(197, 99%, 37%, 0.4);
		margin: 0px 16px 0px 16px;
		padding: 40px 45px 0px 45px;
		transition: all linear 0.4s;
		@media (max-width:690px){
			width: 80vw;
			margin: 0px 16px 0px 16px;
			padding: 20px 25px 0px 25px;
		}
		@media (max-width:490px){
		}	
		.card__title {
			@extend %tpl_pn-20;
			color: $c-fo;
			padding: 0px 0px 15px 0px;
			@media (max-width:767.98px){
				padding: 0px 0px 0px 0px;
			}
			@media (max-width:490px){
				color: $c-f;
				font-family: 'Proxima Nova';
				font-size: 0.875rem;//14px
				line-height: 1.225rem;//19.6px
				font-weight: 400;
			}
		}
		.card__text{
			@extend %tpl_pn-10;
			color: $c-fo;
			padding: 10px 0px 0px 0px;
			@media (max-width:490px){
				color: $c-f;
				font-family: 'Proxima Nova';
				font-size: 0.8125rem;//13px
				line-height: 1.125rem;//18px
				font-weight: 600;
			}
		}
	}
	&__card:hover{
		min-height: 270px;
		transform: scale(1.2);		
		background-color: $bgc-btn;
		margin: 0px;
		padding: 25px 30px 0px 25px;
		@media (max-width:460px){
			transform: none;
		}		
	}
	
	&__card:hover .card__text, &__card:hover .card__title{
		@extend %tpl_pn-14light;
		color: $c-f;
	}
	.swipe {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		.swipe__items{
			width: 124px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 60px 0px 0px 0px;
			@media (max-width:790px){
				width: 98px;
				padding: 40px 0px 0px 0px;
			}
			.swipe__item{
				display: block;
				width: 16px;
				height: 16px;
				border-radius: 3px;
				background-color: $bgc-fo;
				@media (max-width:790px){
					height: 12px;
					width: 12px;
				}
			}
			& li:first-child a{
				background-color: #fff;
			}
			.swipe__item:hover{
				background-color: #fff;
			}
		}
	}	 
}
	/*SECTION  .info*/
.info {
	flex: 0 1 auto;
	width: 100%;
	&__container{
		max-width: 1056px;
		margin: 0 auto;
	}
	&__subtitle{
		color: $c-f;
		@extend %tpl_em-42;
	}
	&__subtitle::before{
		content: url(../Img/pictures/leaf-blue-left.png);
		position: absolute;
		left: 35%;
		@media (max-width:1200px){
			left: 30%;
		}
		@media (max-width:980px){
			left: 26%;
		}
		@media (max-width:890px){
			left: 24%;
		}
		@media (max-width:690px){
			left: 20%;
		}
		@media (max-width:490px){
			left: 30%;
			transform: translate(0, 40px);
		}
	}
	&__subtitle::after{
		content: url(../Img/pictures/leaf-blue-right.png);
		position: absolute;
		right: 35%;
		@media (max-width:1200px){
			right: 30%;
		}
		@media (max-width:980px){
			right: 26%;
		}
		@media (max-width:890px){
			right: 24%;
		}
		@media (max-width:690px){
			right: 20%;
		}
		@media (max-width:490px){
			right: 30%;
			transform: translate(0, 40px);
		}
	}
	&__cards{
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 100px 16px 50px 16px;
		@media (max-width:980px){
			padding: 50px 16px 50px 16px;
		}
	}
	&__card{
		flex: 1 1 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0px 0px 100px 0px;
		@media (max-width:767.98px){
			flex-direction: column;
			justify-content: start;
			padding: 0px 0px 50px 0px;
		}
		.order-1{
			order:1;
			padding: 0px 16px 0px 0px;
			@media (max-width:767.98px){			
				padding: 0px 0px 20px 0px;
			}
		}
		.order-2{
			order: 2;
		}
		.order-3{
			order: 2;
			padding: 0px 0px 0px 16px;
			@media (max-width:767.98px){
				order: 3;
				padding: 0px 0px 20px 0px;
			}
		}
		.order-4{
			order: 1;
			@media (max-width:767.98px){
				order: 4;
			}
		}
	}
	&__textblock{
		flex: 1 1 50%;
		display: flex;
		flex-direction: column;
		.textblock__title{
			@extend %tpl_pn-24;
			color: $c-f;
			padding: 0px 0px 30px 0px;
			@media (max-width:767.98px){			
				padding: 0px 0px 8px 0px;
			}
		}		
	}
	&__text{
		@extend %tpl_pn-16;
		color: $c-f;
	}
	&__img{
		flex: 0 1 50%;
		display: flex;
		@media (max-width:767.98px){
			flex: 0 1 auto;
			width: 100%;
		}
	}
	&__img img{
		width: 100%;
		object-fit: cover;
	}
}
	//SECTION  .cost
.cost {
	flex: 0 1 auto;
	&__container {
		max-width: 1056px;
		margin: 0 auto;
	}
	&__subtilte {
		color: $c-f;
		@extend %tpl_em-42;
	}
	&__subtilte::before{
		content: url(../Img/pictures/leaf-blue-left.png);
		position: absolute;
		left: 30%;
		@media (max-width:1200px){
			left: 26%;
		}
		@media (max-width:980px){
			left: 22%;
		}
		@media (max-width:890px){
			left: 18%;
		}
		@media (max-width:690px){
			left: 14%;
		}
		@media (max-width:490px){
			left: 30%;
			transform: translate(0, 40px);
		}
	}
	&__subtilte::after{
		content: url(../Img/pictures/leaf-blue-right.png);
		position: absolute;
		right: 30%;
		@media (max-width:1200px){
			right: 26%;
		}
		@media (max-width:980px){
			right: 22%;
		}
		@media (max-width:890px){
			right: 18%;
		}
		@media (max-width:690px){
			right: 14%;
		}
		@media (max-width:490px){
			right: 30%;
			transform: translate(0, 40px);
		}
	}
	&__body {
		display: flex;
		flex-direction: row;
		padding: 100px 16px 150px 16px;
		align-items: center;
		@media (max-width:980px){
			padding: 50px 16px 100px 16px;
		}
		@media (max-width:780px){
			flex-direction: column;
			justify-content: start;
		}
	}
	&__price {
		flex: 1 1 50%;
		display: flex;
		flex-direction: column;
		padding: 0px 50px 0px 0px;
		@media (max-width:780px){
			width: 100%;
			padding: 0px 0px 20px 0px;
		}
		.price__block{
			flex: 1 1 auto;
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 0px 0px 30px 50px;
			position: relative;
		}
		.price__block::before{
			content: url(../Img/pictures/leaf-blue-left.png);
			position: absolute;
			top: 0;
			left: 0;
		}	
		.price__text{
			color: $c-f;
			@extend %tpl_pn-18;
		}	
		.price__cost{
			color: $c-f;
			@extend %tpl_em-18;
		}	
	}	
	&__img {
		flex: 0 1 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media (max-width:780px){
			flex: 0 1 auto;
			width: 100%;
		}
	}
	&__img img{
		width: 100%;
		object-fit: cover;
	}
	&__text{
		color: $c-f;
		@extend %tpl_em-21;
		padding: 30px 0px 0px 0px;
	}
	&__text:hover{
		color: $c-b;
	}
} 
	//SECTION  .footer
.footer {
	flex: 0 1 auto;
	&__body {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		overflow: hidden;
		@media (max-width:890px){
			flex-direction: column;
		}
		@media (max-width:690px){
			margin: 0px 0px -20px 0px;
		}
	}
	&__map {
		flex: 0 0 60%;
		display: flex;
		@media (max-width:890px){
			padding: 0px 0px 20px 0px;
		}
		iframe{
			width: 100%;
			height: 604px;
			border-radius: 10px;
			@media (max-width:990px){
				height: 528px;
			}
			@media (max-width:890px){
				height: 304px;
			}
		}
	}
	&__contacts {
		flex: 0 0 40%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0px 0px 0px 48px;
		@media (max-width:1200px){			
			padding: 0px 0px 0px 28px;
		}		
		@media (max-width:890px){
			flex-direction: row;
			padding: 0px 0px 0px 0px;
			margin: 0px -10px 0px -10px;
		}
		@media (max-width:690px){
			flex-direction: column;
			margin: 0px;
		}
		.contacts__item{
			width: 100%;
			max-height: 290px;
			display: flex;
			flex-direction: column;
			background-color: $bgc-btn;
			border-radius: 10px;
			padding: 35px 45px 35px 45px;
			overflow: hidden;
			@media (max-width:990px){
				//height: 252px;
				padding: 20px 25px 20px 25px;
			}			
			@media (max-width:890px){
				margin: 0px 10px 0px 10px;
			}
			@media (max-width:690px){
				margin: 0px 0px 20px 0px;
			}
			@media (max-width:690px){
				margin: 0px 0px 20px 0px;
			}
		} 
		.contacts__title{
			color: $c-f;
			@extend %tpl_em-24;
			text-align: left;			
		}
		.contacts__list{
			flex: 0 1 auto;
			display: flex;
			flex-direction: column;
			padding: 10px 0px 10px 0px;
			.list__item {
				padding: 0px 0px 10px 50px;
				@media (max-width:490px){
					margin: 0px 0px 0px 0px;
				}
				
			}
			.item-1{
				background: url(../Img/icons/place.png) 0 0 no-repeat;
			}
			.item-2{
				background: url(../Img/icons/metro.png) 0 0 no-repeat;
			}
			.item-3{
				background: url(../Img/icons/calendar.png) 0 0 no-repeat;
			}
		} 
		.contacts__btn {
			.btn__item{
				display: inline-block;
				color: hsla(197, 99%, 37%, 1);
				@extend %tpl_pn-13;
				padding: 10px 16px 10px 16px;
				background-color:
				hsla(0, 0%, 100%, 1);
				border-radius: 3px;
			}
			.btn__item:hover{				
				color: $c-f; 
				background-color: $bgc-fo;
			}
		}
	}	
	.contacts__rights{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 90px 16px 30px 16px;
		@media (max-width:890px){
			padding: 30px 16px 20px 16px;
		}
		@media (max-width:390px){
			flex-direction: column;
			align-items: flex-end;
		}
	}
	.rights__item{
		color: $c-f;
		@extend %tpl_pn-14;
	}	
}