body {
    width: 480px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.box {
    width: 100%;
    height: 1000px;
    background-image: url(../img/Main\ pic\ phone\ 2\ 1.png);
    background-repeat: no-repeat;

    .title{
        color: white;
        font-weight: 800;
        font-size: 2.2rem;
        text-align: center;
    }
    ul.cities{
        background-color: white;
        width: 440px;
        height: 790px;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 20px 17px;
        margin: 1rem auto;
    }
    ul.cities>li {
        width: 100%;
        height: 63px;
        border-radius: 10px;
        background-color: black;
        color: white;
        font-weight: 600;
        font-size: 0.9rem;
        list-style: none;
        box-sizing: border-box;
        padding: 14px 20px;
        margin: 3px auto;
        padding-top: 20px;
    }
    ul.cities>li:hover {
        background-color: #F58020;
        cursor: pointer;
    }
    .btn {
        text-align: center;
    }
    .btn>input {        
        padding: 20px 196px; 
        box-sizing: border-box;
        background-color: #F58020;
        color: white;
        font-weight: 700;
        font-size: 1.2rem;
        margin: 1rem auto;
        border-radius: 10px;
        box-shadow: 0px 4px 4px #000000;
        cursor: pointer;
    }
}