body {
    font-family: 'Montserrat';
    font-size: 22px;
}

.start {
    width: 900px;
    height: 679px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px;
    margin: 20px auto;
}
.content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;    
    align-items: flex-start;
    box-sizing: border-box;
}
.img {
    width: 45%;
    padding: 40px 0px 0px 5px;

}
.article {
    width: 50%;
    padding-top: 20px;
}
.title_1 {
    color: #000000;
    font-weight: 800;
    font-size: 1.2rem;
    font-family: 'Montserrat';
}
.text {
    color: #443E3E;
    font-weight: 500;
    font-size: 0.6rem;
    font-family: 'Montserrat';
}
h2 {
    color: #000000;
    font-weight: 800;
    font-size: 0.8rem;
    font-family: 'Montserrat';
}
form p {
    margin: 10px;
}
input {
    display: none;
}
input#one+label, input#two+label, input#three+label, input#foure+label, 
input#five+label, input#six+label, input#seven+label, input#eight+label, input#nine+label {
    border: 2px solid #999999;
    border-radius: 5px;
    width: 20px;
    height: 20px;
   cursor: pointer; 
   box-sizing: border-box; 
   display: inline-block;
}
input#one:checked + label, input#two:checked + label, input#three:checked + label,
input#foure:checked + label, input#five:checked + label, input#six:checked + label,
input#seven:checked + label, input#eight:checked + label, input#nine:checked + label {
    background-color: #C4C4C4;
    
}
label.menu {
color: #000000;
    font-weight: 500;
    font-size: 0.8rem;
    font-family: 'Montserrat';
}
.text_2 { 
    width: 45%;  
    color: #999999;
    font-weight: 700;
    font-size: 0.8rem;
    font-family: 'Montserrat';
    align-self: flex-start;
    box-sizing: border-box;
    padding-right: 5px;
}
span {
    padding-left: 10px;
}
.but {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: flex-start;
    margin-top: 40px;
}
.but > img + img {
   padding-top: 8px;
}