:root {
    font-size: 20px;
}
.header {
    background-color: #F4EFFA;
}
.container {
    width: 80%;
    margin: 0 auto;
}
div.nav__header-1, .footer{       
    display: flex;    
    justify-content: space-between;   
    flex-direction: row;
}
ul.nav__header-item-2 >li {
    font-weight: 700;
    color: #354657;
    font-size: 0.8rem;
    font-family: Raleway, sans-serif;
}
ul.nav__header-item-2 {
    width: 30%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}
ul.nav__header-item-3 {
    width: 20%;
    list-style: none;
    display: flex;
    flex-direction: row;    
}
ul.nav__header-item-3 >li{
    padding-left: 15%;    
}
li >a  {
    text-decoration: none;
    color: #354657;
}
ul.nav__header-item-4 {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    }
.nav__header-2 {
    margin-bottom: 10px;
}
ul.nav__header-item-4 >li {
    padding-right: 15px;
    list-style: none;
    color: #626262;
    font-weight: 400;    
    font-size: 0.6rem;
    font-family: Raleway, sans-serif;
}
li.underline {
    text-decoration: underline;
}
.line{
    color: #354657;
    font-weight: 700;    
    font-size: 1.5rem;
    font-family: Raleway, sans-serif;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 18px;
}
.box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px
}
.card {
    width: 100%;
}
.card > .card__title{
    font-weight: 700;
    font-size: 1.2 rem;
    font-family: Raleway, sans-serif;
    color: #354657;
    margin: 0.5rem 0;
}
.card__img >img {
    width: 100%;
}
.card__description{
    font-weight: 400;
    font-size: 0.8 rem;
    font-family: Raleway, sans-serif;
    color: #354657;
    margin: 0.5rem 0;
    box-sizing: border-box;
    display: inline-block;
}
.card__btn a{
    display: inline-block;
    padding: 1rem;
    width: 206px;
    border-radius: 50px;
    border: 2px solid #946FD3;
    box-sizing: border-box;
    text-decoration: none;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 0.8 rem;
    font-family: Raleway, sans-serif;
    color: #946FD3;
    margin-bottom: 70px;
    margin-top: 30px;
}
.card__btn:hover a{
    color: #ffffff;
    background-color: #946FD3;
    font-weight: 700;
    font-size: 0.8 rem;
    font-family: Raleway, sans-serif;
}
ul.nav__footer-item-1 {
    width: 20%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul.nav__footer-item-1 >li {
    font-weight: 700;
    color: #354657;
    font-size: 0.8rem;
    font-family: Raleway, sans-serif;
}
ul.nav__footer-item-2 {
    list-style: none;
    display: flex;
    flex-direction: row;
    }
ul.nav__footer-item-2 >li{
    padding-left: 15px;
}
div.b-g {
    margin-top: 0;
    background-image: url("../img/Group\ 1.png");
    background-repeat: no-repeat;
    background-position: right;
}
.contacts {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   box-sizing: border-box;
   background-color: #F0F2F5;
    width: 100%;    
}
.map {
    width: 100%;
}
.contacts__item-1, .contacts__item-2, .contacts__item-3 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    padding: 15px;    
}
.circle {
    width: 61px;
    height: 61px;
    border-radius: 50%;
    border: 2px solid #D6D9DE;
    box-sizing: border-box;
    align-items: center;
}
.circle >img{
    align-self: center;
    margin-top: 15px;
    margin-left: 15px;
}
.contact__title {
    color: #354657;
    font-weight: 700;
    font-size: 1rem;
    font-family: Raleway, sans-serif;
}
.contact__descrip {
    color: #354657;
    font-weight: 400;
    font-size: 0.8rem;
    font-family: Raleway, sans-serif;
}
.contact__btn a{
    display: inline-block;
    padding: 1rem;
    width: 338px;
    border-radius: 50px;
    background-color: #946FD3;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
   color: #ffffff;
    font-weight: 700;
    font-size: 0.8 rem;
    font-family: Raleway, sans-serif;
    margin: 20px 20px;
}
.contacts__item-1 div:nth-child(1), .contacts__item-2 div:nth-child(1), .contacts__item-3 div:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 3;
}
.contacts__map{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding-bottom: 100px;
}
iframe {
    width: 100%;
}
.section-2{
    margin-top: 70px;
}    
   
