* { /* '*' means that this styles touches all tags in a document*/
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after { /* here the parameter "box-sizing" is used with "border-box" that changes the width of a block and as a result we can easely count */
  box-sizing: border-box;
}

/* here these parameters delete lines of borders in some brousers: */
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/* here these parameters say to brousers that these tags are block one: */
nav, footer, header, aside {
  display: block;
}

/* here these parameters settles styles to all brousers that can't be changed by brousers themselves: */
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 30px;
  font-size: 22px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* the font is settld to form's tags, because these tags don't inherit styles of the document */
input, button, textarea {
  font-family: inherit;
}

/* these parameters delete some brousers features and settle the needed */
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* these parameters delete some brousers features and settle the needed */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold.svg") format("svg");
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Heavy.eot"), url("../fonts/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy.ttf") format("truetype"), url("../fonts/Gilroy-Heavy.svg") format("svg");
  font-weight: 900;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.eot"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg") format("svg");
  font-weight: 300;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium.svg") format("svg");
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype"), url("../fonts/Gilroy-Regular.svg") format("svg");
  font-weight: 400;
}
.contacts__text, .portfolio__link, .skills__text, .aboutme__text, .info__text, .header__list {
  font-size: 1.125rem;
  line-height: 1.375rem;
}
@media (max-width: 800px) {
  .contacts__text, .portfolio__link, .skills__text, .aboutme__text, .info__text, .header__list {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}

.contacts__subtitle, .portfolio__subtitle, .skills__subtitle, .aboutme__subtitle {
  font-size: 2.125rem;
  line-height: 2.625rem;
  text-align: center;
  font-weight: 600;
}
@media (max-width: 800px) {
  .contacts__subtitle, .portfolio__subtitle, .skills__subtitle, .aboutme__subtitle {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 944px;
  margin: 0 auto;
  flex: 0 1 944px;
}

@media (max-width: 800px) {
  .header {
    max-height: 80px;
  }
  .header .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 100%;
    margin: 30px 10px 30px 0px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    width: 100%;
    height: 2px;
    background-color: #828282;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0px, 9px);
    transition: all 0.3s ease 0s;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: #828282;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
}
.header {
  width: 100%;
  height: 100px;
  flex: 0 1 auto;
  display: flex;
  padding: 0px 15px 0px 15px;
  background-color: rgba(255, 255, 255, 0.83);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.header .container {
  z-index: 3;
}
.header__items {
  padding: 32px 0px 32px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}
@media (max-width: 800px) {
  .header__items {
    display: none;
  }
}
.header__items li:first-child > a {
  color: #070707;
}
.header__items::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #828282;
}
.header__list {
  font-weight: bold;
  color: #828282;
}
@media (min-width: 800px) {
  .header__burger {
    display: none;
  }
}

.main {
  flex: 1 1 auto;
  padding: 140px 15px 0px 15px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 800px) {
  .main {
    padding: 80px 15px 18px 15px;
  }
}

.info {
  flex: 0 1 auto;
  padding: 0px 0px 104px 0px;
}
@media (max-width: 800px) {
  .info {
    padding: 0px 0px 50px 0px;
  }
}
.info__body {
  display: flex;
  flex-direction: column;
}
.info__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex: 0 1 auto;
  padding: 0px 0px 50px 0px;
}
@media (max-width: 800px) {
  .info__items {
    display: block;
    padding: 0px 0px 25px 0px;
  }
}
.info__title {
  font-size: 3rem;
  line-height: 3.6875rem;
  font-weight: bold;
  flex: 0 1 auto;
}
@media (max-width: 800px) {
  .info__title {
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 0px 0px 16px 0px;
  }
}
.info__text {
  color: #070707;
  font-weight: medium;
  flex: 0 1 auto;
}
.info__lang {
  width: 20px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  transform: rotate(-90deg);
}
@media (max-width: 800px) {
  .info__lang {
    display: none;
  }
}
.info__lang .lang__item {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.25rem;
  color: #828282;
  padding: 0px 8px 0px 0px;
}
.info__lang a:nth-child(2) {
  color: #070707;
  padding: 0px 0px 0px 8px;
}
.info__lang .item__lang {
  position: relative;
}
.info__lang .item__lang::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-left: 1px solid #070707;
}
.info__img {
  padding: 0px 0px 40% 0px;
  flex: 0 0 auto;
  position: relative;
}
.info__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  position: absolute;
}

.aboutme {
  background-color: #F6F6F6;
  flex: 0 0 auto;
}
.aboutme__container {
  max-width: 486px;
  margin: 0 auto;
  flex: 0 1 486px;
}
.aboutme__body {
  display: flex;
  flex-direction: column;
  padding: 120px 0px 107px 0px;
}
@media (max-width: 800px) {
  .aboutme__body {
    padding: 60px 0px 40px 0px;
  }
}
.aboutme__body p:last-child {
  padding: 0;
}
.aboutme__subtitle {
  padding: 0px 0px 18px 0px;
}
.aboutme__text {
  text-align: center;
  font-weight: medium;
  color: #070707;
  padding: 0px 0px 30px 0px;
}

.skills {
  flex: 0 1 auto;
  display: flex;
  padding: 90px 0px 110px 0px;
}
@media (max-width: 800px) {
  .skills {
    padding: 60px 0px 80px 0px;
  }
}
.skills__body {
  display: flex;
  flex-direction: column;
}
.skills__subtitle {
  padding: 0px 0px 70px 0px;
}
@media (max-width: 800px) {
  .skills__subtitle {
    padding: 0px 0px 50px 0px;
  }
}
.skills__text {
  color: #070707;
  font-weight: medium;
  text-align: center;
}
.skills__icons {
  padding: 84px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 0 1 auto;
}
@media (max-width: 800px) {
  .skills__icons {
    padding: 34px 0px 0px 0px;
  }
}
.skills__icon {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 800px) {
  .skills__icon {
    padding: 16px 0px 0px 0px;
    flex: 1 1 50%;
  }
}
.skills__icon .icon__text {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: bold;
  color: #828282;
  flex: 1 1 auto;
  text-align: center;
}
.skills__icon .icon__stars {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 0px 0px 0px;
}
.skills__icon .icon__stars li {
  padding: 0px 0px 0px 8px;
}
.skills__icon .icon__stars li:first-child {
  padding: 0;
}

.icon__img {
  width: 100%;
  flex: 0 1 auto;
  position: relative;
  padding: 0px 0px 58% 0px;
  align-self: center;
}
.icon__img img {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(-50%, 0px);
}

.portfolio {
  padding: 112px 0px 96px 0px;
  background-color: #F6F6F6;
  flex: 0 1 auto;
  display: flex;
}
@media (max-width: 800px) {
  .portfolio {
    padding: 90px 0px 76px 0px;
  }
}
.portfolio__container {
  max-width: 936px;
  margin: 0 auto;
  flex: 0 1 936px;
}
.portfolio__subtitle {
  padding: 0px 0px 48px 0px;
}
@media (max-width: 800px) {
  .portfolio__subtitle {
    padding: 0px 0px 28px 0px;
  }
}
.portfolio__items {
  display: flex;
  flex-direction: column;
}
.portfolio__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 100px 0px;
}
@media (max-width: 800px) {
  .portfolio__item {
    padding: 0px 0px 80px 0px;
  }
}
.portfolio__item:last-child {
  padding: 0;
}
.portfolio__img {
  width: 100%;
  flex: 0 1 auto;
  position: relative;
  padding: 0px 0px 58% 0px;
}
.portfolio__img img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.portfolio__link {
  font-weight: medium;
  color: #070707;
  text-decoration: underline;
  padding: 45px 0px 0px 0px;
}
@media (max-width: 800px) {
  .portfolio__link {
    padding: 25px 0px 0px 0px;
  }
}

.contacts {
  padding: 114px 15px 124px 15px;
  flex: 0 1 auto;
}
@media (max-width: 800px) {
  .contacts {
    padding: 90px 0px 90px 0px;
  }
}
.contacts__container {
  width: 342px;
  margin: 0 auto;
}
.contacts__content {
  display: flex;
  flex-direction: column;
}
.contacts__subtitle {
  padding: 0px 0px 22px 0px;
}
.contacts__text {
  color: #070707;
  font-weight: medium;
  text-align: center;
}
.contacts__btn {
  font-size: 0.875rem;
  color: #fff;
  font-weight: bold;
  background-color: #070707;
  padding: 13px 0px;
  border-radius: 50px;
  text-align: center;
  margin: 30px 0px 86px 0px;
  display: block;
  width: 180px;
  align-self: center;
}
@media (max-width: 800px) {
  .contacts__btn {
    margin: 30px 0px 60px 0px;
  }
}
.contacts__icons {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contacts__icon {
  width: 100%;
  flex: 0 1 25%;
  position: relative;
  padding: 0px 0px 53% 0px;
}
@media (max-width: 800px) {
  .contacts__icon {
    padding: 0px 0px 33% 0px;
  }
}
.contacts__icon img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(50%, 0);
}
.contacts__text {
  font-size: 0.875rem;
  color: #828282;
  font-weight: medium;
  line-height: 1.214rem;
  text-align: center;
}