@import url(https://fonts.googleapis.com/css?family=Lato:regular,700);
* { /* '*' means that this styles touches all tags in a document*/
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after { /* here the parameter "box-sizing" is used with "border-box" that changes the width of a block and as a result we can easely count */
  box-sizing: border-box;
}

/* here these parameters delete lines of borders in some brousers: */
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/* here these parameters say to brousers that these tags are block one: */
nav, footer, header, aside {
  display: block;
}

/* here these parameters settles styles to all brousers that can't be changed by brousers themselves: */
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 30px;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* the font is settld to form's tags, because these tags don't inherit styles of the document */
input, button, textarea {
  font-family: inherit;
}

/* these parameters delete some brousers features and settle the needed */
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* these parameters delete some brousers features and settle the needed */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  font-family: Lato;
}

.general__header .header__general .general__item, .nav-list__items .body__nomad-list .nomad-list__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.profile__info .info__user .user__name {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

.chat__user .user__box .user__info .user__name {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
}

.profile__info .info__contacts .info__btn .btn__message {
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
}

.profile__info .info__contacts .info__lable .info__data, .general__message .message__body .message__input, .general__header .header__search .search__item, .general__header .header__users, .nav-list__body .nomad-list__body-active .nomad-list__channels .friends__menu .friends__item .friends__name,
.nav-list__body .nomad-list__body-active .nomad-list__friends .friends__menu .friends__item .friends__name, .nav-list__body .nomad-list__body-active .nomad-list__channels .channel__menu .channel__item,
.nav-list__body .nomad-list__body-active .nomad-list__channels .friends__menu .channel__item,
.nav-list__body .nomad-list__body-active .nomad-list__friends .channel__menu .channel__item,
.nav-list__body .nomad-list__body-active .nomad-list__friends .friends__menu .channel__item, .nav-list__body .nomad-list__body-active .nomad-list__treads .nomad-list__chat {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.chat__user .user__box .user__link, .chat__user .user__box .user__message .user__text, .general__main .main__chat .chat__old-message .chat__subtitle h4,
.general__main .main__chat .chat__monday-message .chat__subtitle h4,
.general__main .main__chat .chat__yesterday-message .chat__subtitle h4,
.general__main .main__chat .chat__today-message .chat__subtitle h4 {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.profile__info .info__contacts .info__lable .info__title, .profile__info .info__user .user__prof, .profile__info .info__user .info__title, .chat__user .user__photo .user__likes .likes__culc, .chat__user .user__box .user__info .user__time, .nav-list__body .nomad-list__body-active .nomad-list__channels .channel__items .channels__title,
.nav-list__body .nomad-list__body-active .nomad-list__channels .channel__items .channels__number,
.nav-list__body .nomad-list__body-active .nomad-list__channels .channel__items .friends__title,
.nav-list__body .nomad-list__body-active .nomad-list__channels .channel__items .friends__number,
.nav-list__body .nomad-list__body-active .nomad-list__channels .friends__items .channels__title,
.nav-list__body .nomad-list__body-active .nomad-list__channels .friends__items .channels__number,
.nav-list__body .nomad-list__body-active .nomad-list__channels .friends__items .friends__title,
.nav-list__body .nomad-list__body-active .nomad-list__channels .friends__items .friends__number,
.nav-list__body .nomad-list__body-active .nomad-list__friends .channel__items .channels__title,
.nav-list__body .nomad-list__body-active .nomad-list__friends .channel__items .channels__number,
.nav-list__body .nomad-list__body-active .nomad-list__friends .channel__items .friends__title,
.nav-list__body .nomad-list__body-active .nomad-list__friends .channel__items .friends__number,
.nav-list__body .nomad-list__body-active .nomad-list__friends .friends__items .channels__title,
.nav-list__body .nomad-list__body-active .nomad-list__friends .friends__items .channels__number,
.nav-list__body .nomad-list__body-active .nomad-list__friends .friends__items .friends__title,
.nav-list__body .nomad-list__body-active .nomad-list__friends .friends__items .friends__number {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

.wrapper {
  max-width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  background: url(../Img/img/background.png) 100%/cover fixed no-repeat;
}

.nav-bar {
  flex: 0 0 72px;
  min-height: 100%;
  background: hsla(0, 0%, 0%, 0.7);
}
.nav-bar__menu {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.nav-bar__menu .menu__dots {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px 15px 8px;
}
.nav-bar__menu .menu__dots .dots__item {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(211, 57, 57);
}
.nav-bar__menu .menu__dots .dots__item-yellow {
  background-color: rgb(233, 167, 24);
}
.nav-bar__menu .menu__dots .dots__item-green {
  background-color: rgb(53, 135, 53);
}
.nav-bar__menu .menu__links {
  flex: 1 1 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-bar__menu .menu__links .menu__item-active {
  position: relative;
}
.nav-bar__menu .menu__links .menu__item-active::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #8F8F8F;
  top: 30px;
  left: -17px;
  position: absolute;
}
.nav-bar__menu .menu__links .links__item {
  display: block;
  width: 42px;
  height: 42px;
  margin: 18px 0px 18px 0px;
  box-shadow: -2px 0px 16px rgba(0, 0, 0, 0.16);
}
.nav-bar__menu .menu__links .links__item-active {
  opacity: 1;
  position: relative;
}
.nav-bar__menu .menu__links .links__item-passive {
  opacity: 0.4;
}
.nav-bar__menu .menu__add {
  flex: 0 0 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 20px 0px;
}
.nav-bar__menu .menu__add .add__item {
  box-shadow: -2px 0px 16px rgba(0, 0, 0, 0.16);
}

.nav-list {
  flex: 0 0 268px;
  background-color: hsla(216, 6%, 15%, 0.75);
  overflow: hidden;
}
.nav-list__container {
  width: 240px;
  margin: 0 auto;
  min-height: 100%;
}
.nav-list__body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 35px 0px 0px 0px;
}
.nav-list__body .nomad-list__body-active {
  display: flex;
  flex-direction: column;
}
.nav-list__body .nomad-list__body-active .nomad-list__treads {
  padding: 18px 0px 12px 0px;
}
.nav-list__body .nomad-list__body-active .nomad-list__treads .nomad-list__chat {
  color: hsl(0, 0%, 71%);
  padding: 0px 0px 0px 30px;
  background: url(../Img/icons/chat.png) 0 0 no-repeat;
}
.nav-list__body .nomad-list__body-active .nomad-list__channels,
.nav-list__body .nomad-list__body-active .nomad-list__friends {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.nav-list__body .nomad-list__body-active .nomad-list__channels .channel__items,
.nav-list__body .nomad-list__body-active .nomad-list__channels .friends__items,
.nav-list__body .nomad-list__body-active .nomad-list__friends .channel__items,
.nav-list__body .nomad-list__body-active .nomad-list__friends .friends__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-list__body .nomad-list__body-active .nomad-list__channels .channel__items .channels__title,
.nav-list__body .nomad-list__body-active .nomad-list__channels .channel__items .channels__number,
.nav-list__body .nomad-list__body-active .nomad-list__channels .channel__items .friends__title,
.nav-list__body .nomad-list__body-active .nomad-list__channels .channel__items .friends__number,
.nav-list__body .nomad-list__body-active .nomad-list__channels .friends__items .channels__title,
.nav-list__body .nomad-list__body-active .nomad-list__channels .friends__items .channels__number,
.nav-list__body .nomad-list__body-active .nomad-list__channels .friends__items .friends__title,
.nav-list__body .nomad-list__body-active .nomad-list__channels .friends__items .friends__number,
.nav-list__body .nomad-list__body-active .nomad-list__friends .channel__items .channels__title,
.nav-list__body .nomad-list__body-active .nomad-list__friends .channel__items .channels__number,
.nav-list__body .nomad-list__body-active .nomad-list__friends .channel__items .friends__title,
.nav-list__body .nomad-list__body-active .nomad-list__friends .channel__items .friends__number,
.nav-list__body .nomad-list__body-active .nomad-list__friends .friends__items .channels__title,
.nav-list__body .nomad-list__body-active .nomad-list__friends .friends__items .channels__number,
.nav-list__body .nomad-list__body-active .nomad-list__friends .friends__items .friends__title,
.nav-list__body .nomad-list__body-active .nomad-list__friends .friends__items .friends__number {
  color: hsl(0, 0%, 57%);
  text-transform: uppercase;
}
.nav-list__body .nomad-list__body-active .nomad-list__channels .channel__items .channels__number,
.nav-list__body .nomad-list__body-active .nomad-list__channels .channel__items .friends__number,
.nav-list__body .nomad-list__body-active .nomad-list__channels .friends__items .channels__number,
.nav-list__body .nomad-list__body-active .nomad-list__channels .friends__items .friends__number,
.nav-list__body .nomad-list__body-active .nomad-list__friends .channel__items .channels__number,
.nav-list__body .nomad-list__body-active .nomad-list__friends .channel__items .friends__number,
.nav-list__body .nomad-list__body-active .nomad-list__friends .friends__items .channels__number,
.nav-list__body .nomad-list__body-active .nomad-list__friends .friends__items .friends__number {
  -moz-text-align-last: right;
       text-align-last: right;
}
.nav-list__body .nomad-list__body-active .nomad-list__channels .channel__menu,
.nav-list__body .nomad-list__body-active .nomad-list__channels .friends__menu,
.nav-list__body .nomad-list__body-active .nomad-list__friends .channel__menu,
.nav-list__body .nomad-list__body-active .nomad-list__friends .friends__menu {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 14px 0px 18px 0px;
}
.nav-list__body .nomad-list__body-active .nomad-list__channels .channel__menu .channel__item,
.nav-list__body .nomad-list__body-active .nomad-list__channels .friends__menu .channel__item,
.nav-list__body .nomad-list__body-active .nomad-list__friends .channel__menu .channel__item,
.nav-list__body .nomad-list__body-active .nomad-list__friends .friends__menu .channel__item {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  padding: 5px 0px 0px 14px;
  color: hsl(0, 0%, 71%);
}
.nav-list__body .nomad-list__body-active .nomad-list__channels .channel__menu .channel__item:hover,
.nav-list__body .nomad-list__body-active .nomad-list__channels .friends__menu .channel__item:hover,
.nav-list__body .nomad-list__body-active .nomad-list__friends .channel__menu .channel__item:hover,
.nav-list__body .nomad-list__body-active .nomad-list__friends .friends__menu .channel__item:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
  color: hsl(0, 0%, 100%);
}
.nav-list__body .nomad-list__body-active .nomad-list__channels .friends__items,
.nav-list__body .nomad-list__body-active .nomad-list__friends .friends__items {
  padding: 0px 0px 12px 0px;
}
.nav-list__body .nomad-list__body-active .nomad-list__channels .friends__menu,
.nav-list__body .nomad-list__body-active .nomad-list__friends .friends__menu {
  max-height: 220px;
  overflow-y: auto;
  padding: 0;
}
.nav-list__body .nomad-list__body-active .nomad-list__channels .friends__menu .friends__item,
.nav-list__body .nomad-list__body-active .nomad-list__friends .friends__menu .friends__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 20px 20px;
  position: relative;
}
.nav-list__body .nomad-list__body-active .nomad-list__channels .friends__menu .friends__item .friends__img,
.nav-list__body .nomad-list__body-active .nomad-list__friends .friends__menu .friends__item .friends__img {
  flex: 0 0 32px;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  overflow: hidden;
}
.nav-list__body .nomad-list__body-active .nomad-list__channels .friends__menu .friends__item .friends__img .friends__img img,
.nav-list__body .nomad-list__body-active .nomad-list__friends .friends__menu .friends__item .friends__img .friends__img img {
  width: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}
.nav-list__body .nomad-list__body-active .nomad-list__channels .friends__menu .friends__item .friends__name,
.nav-list__body .nomad-list__body-active .nomad-list__friends .friends__menu .friends__item .friends__name {
  flex: 1 1 auto;
  padding: 0px 0px 0px 20px;
  color: hsl(0, 0%, 71%);
}
.nav-list__body .nomad-list__body-active .nomad-list__channels .friends__menu .friends__item::before,
.nav-list__body .nomad-list__body-active .nomad-list__channels .friends__menu .friends__item-active::before,
.nav-list__body .nomad-list__body-active .nomad-list__friends .friends__menu .friends__item::before,
.nav-list__body .nomad-list__body-active .nomad-list__friends .friends__menu .friends__item-active::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 0;
  background-color: hsl(0, 0%, 40%);
}
.nav-list__body .nomad-list__body-active .nomad-list__channels .friends__menu .friends__item-active::before,
.nav-list__body .nomad-list__body-active .nomad-list__friends .friends__menu .friends__item-active::before {
  background-color: hsl(90, 81%, 44%);
}
.nav-list__items {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-list__items .body__nomad-list {
  flex: 0 0 auto;
}
.nav-list__items .body__nomad-list .nomad-list__title {
  color: hsl(0, 0%, 100%);
  padding: 0px 20px 0px 0px;
  position: relative;
}
.nav-list__items .body__nomad-list .nomad-list__title::after {
  content: url(../Img/icons/arrow.png);
  top: -2px;
  right: 0;
  position: absolute;
}
.nav-list__items .body__settings {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-list__items .body__settings img {
  flex: 0 0 16px;
  display: block;
  width: 100%;
}

.general__container {
  max-width: 822px;
  margin: 0 auto;
}

.general {
  flex: 1 1 auto;
  overflow: hidden;
  background-color: #fff;
  min-height: 100%;
}
.general__body {
  max-width: 860px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.general__box {
  width: 860px;
  height: 50px;
  margin: 0 auto;
  position: fixed;
  background-color: hsla(0, 0%, 100%, 0.8);
  z-index: 1;
}

.header__line::after, .message__line::before {
  content: "";
  left: 0;
  width: 100%;
  border: 2px solid hsla(0, 0%, 0%, 0.24);
  position: absolute;
}

.header__line::after {
  bottom: 0;
}

.message__line::before {
  top: 0;
}

.general__header {
  flex: 0 0 auto;
  padding: 18px 0px 0px 0px;
}
.general__header .header__block {
  position: relative;
}
.general__header .header__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 20px 0px;
}
.general__header .header__general {
  flex: 1 1 auto;
}
.general__header .header__general .general__item {
  color: hsl(0, 0%, 0%);
  padding: 0px 18px 0px 0px;
  background: url(../Img/icons/star.png) 90px 4px no-repeat;
}
.general__header .header__users {
  color: hsl(0, 0%, 64%);
  position: relative;
  padding: 0px 0px 0px 20px;
  background: url(../Img/icons/user.png) 0px 2px no-repeat;
}
.general__header .header__search {
  flex: 0 0 auto;
  width: 240px;
  margin: 0px 20px 0px 20px;
}
.general__header .header__search .search__item {
  border: 0.5px solid hsla(0, 0%, 0%, 0.24);
  border-radius: 4px;
  width: 240px;
  height: 32px;
  color: hsl(0, 0%, 57%);
  padding: 0px 16px 0px 16px;
  background: url(../Img/icons/search.png) 208px 8px no-repeat;
  transition: background-color ease 0.3s;
}
.general__header .header__search .search__item:focus {
  background-color: hsla(0, 0%, 100%, 0.2);
}
.general__header .header__bell {
  flex: 0 0 18px;
  display: flex;
  position: relative;
}
.general__header .header__bell .header__bell img {
  display: block;
  flex: 0 0 100%;
  width: 100%;
}
.general__header .header__bell::after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: hsl(0, 98%, 64%);
  top: 0;
  right: 0;
  position: absolute;
}
.general__header .header__menu {
  flex: 0 0 auto;
  height: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0px 0px 0px 22px;
}
.general__header .header__menu .menu__dot {
  width: 4.5px;
  height: 4.5px;
  background-color: hsla(0, 0%, 0%, 0.24);
  border-radius: 50%;
}

.general__main {
  flex: 1 1 auto;
  margin: 50px 0px 0px 0px;
}
.general__main .main__chat {
  width: 100%;
  padding: 20px 0px 0px 0px;
  max-height: 610px;
  overflow: auto;
}
.general__main .main__chat .chat__old-message,
.general__main .main__chat .chat__monday-message,
.general__main .main__chat .chat__yesterday-message,
.general__main .main__chat .chat__today-message {
  display: flex;
  flex-direction: column;
}
.general__main .main__chat .chat__old-message .chat__subtitle,
.general__main .main__chat .chat__monday-message .chat__subtitle,
.general__main .main__chat .chat__yesterday-message .chat__subtitle,
.general__main .main__chat .chat__today-message .chat__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0px 0px 10px 0px;
}
.general__main .main__chat .chat__old-message .chat__subtitle::before,
.general__main .main__chat .chat__old-message .chat__subtitle::after,
.general__main .main__chat .chat__monday-message .chat__subtitle::before,
.general__main .main__chat .chat__monday-message .chat__subtitle::after,
.general__main .main__chat .chat__yesterday-message .chat__subtitle::before,
.general__main .main__chat .chat__yesterday-message .chat__subtitle::after,
.general__main .main__chat .chat__today-message .chat__subtitle::before,
.general__main .main__chat .chat__today-message .chat__subtitle::after {
  content: "";
  position: absolute;
  width: 340px;
  height: 1px;
  background-color: hsla(0, 0%, 0%, 0.16);
  top: 8px;
}
.general__main .main__chat .chat__old-message .chat__subtitle::before,
.general__main .main__chat .chat__monday-message .chat__subtitle::before,
.general__main .main__chat .chat__yesterday-message .chat__subtitle::before,
.general__main .main__chat .chat__today-message .chat__subtitle::before {
  left: 0;
}
.general__main .main__chat .chat__old-message .chat__subtitle::after,
.general__main .main__chat .chat__monday-message .chat__subtitle::after,
.general__main .main__chat .chat__yesterday-message .chat__subtitle::after,
.general__main .main__chat .chat__today-message .chat__subtitle::after {
  right: 0;
}
.general__main .main__chat .chat__old-message .chat__subtitle h4,
.general__main .main__chat .chat__monday-message .chat__subtitle h4,
.general__main .main__chat .chat__yesterday-message .chat__subtitle h4,
.general__main .main__chat .chat__today-message .chat__subtitle h4 {
  color: hsl(0, 0%, 57%);
}

.chat__user {
  display: flex;
  flex-direction: row;
  padding: 0px 0px 10px 0px;
}
.chat__user .user__img {
  flex: 0 0 32px;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  display: flex;
  overflow: hidden;
}
.chat__user .user__img .user__img img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.chat__user .user__box {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 22px;
}
.chat__user .user__box .user__info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}
.chat__user .user__box .user__info .user__name {
  color: hsla(0, 0%, 0%, 0.7);
}
.chat__user .user__box .user__info .user__time {
  padding: 0px 0px 0px 22px;
  color: hsl(0, 0%, 57%);
}
.chat__user .user__box .user__message {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  padding: 2px 0px 2px 0px;
}
.chat__user .user__box .user__message .user__text {
  color: hsl(0, 0%, 0%);
}
.chat__user .user__box .user__message .text__emojis {
  position: relative;
}
.chat__user .user__box .user__message .text__emojis::after {
  content: url(../Img/emojis/bus.png);
  top: -5px;
  right: -40px;
  position: absolute;
}
.chat__user .user__box .user__message .user__text span {
  color: hsl(219, 85%, 57%);
}
.chat__user .user__box .user__message .user__smile {
  position: relative;
}
.chat__user .user__box .user__message .user__smile::after {
  content: url(../Img/emojis/glasses.png);
  position: absolute;
  top: -3px;
  right: -40px;
}
.chat__user .user__box .user__link {
  color: hsl(219, 85%, 57%);
  padding: 0px 5px 0px 0px;
}
.chat__user .user__photo {
  flex: 0 0 auto;
  width: 266px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
  position: relative;
}
.chat__user .user__photo .user__photo img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.chat__user .user__photo .user__likes {
  width: 45px;
  height: 25px;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: -12px;
  right: 0;
  transform: translate(50%, 0);
}
.chat__user .user__photo .user__likes .likes__emojis {
  flex: 0 0 16px;
  display: flex;
}
.chat__user .user__photo .user__likes .likes__emojis .likes__emojis img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.chat__user .user__photo .user__likes .likes__culc {
  color: hsl(0, 0%, 0%);
}

.general__message {
  flex: 0 0 auto;
  height: 72px;
}
.general__message .message__block {
  position: relative;
}
.general__message .message__body {
  margin: 0px 0px 0px -10px;
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.general__message .message__body .message__img {
  flex: 0 0 16px;
  margin: 0px 10px 0px 10px;
}
.general__message .message__body .message__img .message__img img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.general__message .message__body .message__input {
  width: 762px;
  height: 42px;
  color: hsl(0, 0%, 57%);
  padding: 6px 6px 0px 6px;
  transition: background-color ease 0.3s;
}
.general__message .message__body textarea.message__input:focus {
  background-color: hsla(0, 0%, 100%, 0.2);
}

.profile {
  flex: 0 0 200px;
  min-height: 100%;
  background-color: hsl(0, 0%, 71%);
  display: flex;
}
.profile__body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.profile__photo {
  flex: 0 0 200px;
  display: flex;
}
.profile__photo img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile__container {
  width: 170px;
  margin: 0 auto;
}
.profile__info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.profile__info .info__user {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 20px 0px 20px 0px;
}
.profile__info .info__user .user__name {
  color: hsl(0, 0%, 0%);
  padding: 0px 0px 4px 0px;
  position: relative;
}
.profile__info .info__user .user__name::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 70px;
  background-color: hsl(90, 81%, 44%);
}
.profile__info .info__user .user__prof, .profile__info .info__user .info__title {
  color: hsl(216, 3%, 38%);
}
.profile__info .info__contacts {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.profile__info .info__contacts .info__media {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profile__info .info__contacts .info__media .info__link {
  display: inline-block;
  width: 22px;
  height: 22px;
}
.profile__info .info__contacts .info__media .info__link img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile__info .info__contacts .info__btn {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px 2px 0px;
}
.profile__info .info__contacts .info__btn .btn__message, .profile__info .info__contacts .info__btn .btn__send {
  background-color: hsl(219, 85%, 57%);
  border-radius: 4px;
  display: block;
  transition: background-color ease 0.3s;
}
.profile__info .info__contacts .info__btn .btn__message:hover, .profile__info .info__contacts .info__btn .btn__send:hover {
  background-color: rgb(111, 160, 252);
}
.profile__info .info__contacts .info__btn .btn__message {
  color: #fff;
  padding: 6px 42px 6px 42px;
}
.profile__info .info__contacts .info__btn .btn__send {
  height: 26px;
  width: 26px;
  position: relative;
}
.profile__info .info__contacts .info__btn .btn__send::after {
  content: url(../Img/icons/Button.png);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -5px);
}
.profile__info .info__contacts .info__lable {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  padding: 12px 0px 12px 0px;
}
.profile__info .info__contacts .info__lable .info__title {
  color: hsl(216, 3%, 38%);
}
.profile__info .info__contacts .info__lable .info__data {
  color: hsl(0, 0%, 0%);
}
.profile__exit {
  flex: 0 0 auto;
  width: 100%;
}
.profile__exit .exit__arrow {
  display: flex;
  flex-direction: row-reverse;
  margin: 0px 0px 20px 0px;
}
.profile__exit .exit__arrow img {
  flex: 0 0 10px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}