body {
background-color: #090909;
font-family: 'Montserrat';
font-size: 20px;
}
.box_bg {
    margin: 0;
    width: 100%;
    background-image: url(../img/B_G.png);
    background-repeat: no-repeat;
    background-position: center;
}
.text-felix-header {
    font-family: 'Felix Titling';
    font-size: 1.7rem;
    color: #ffffff;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.text-felix-l {
    font-size: 12em;
    color: #8C8986;
    text-align: center;
    line-height: 0.1em;
}
.text-monts {
    font-family: 'Montserrat';
    font-size: 1rem;
    color: #ffffff;
    text-transform: uppercase;
}
.text-monts-l {
    font-size: 2rem;
    color: #8C8986;
    letter-spacing: 0.33em;
    text-align: center;
    letter-spacing: 0.4em;
}
.container {
    margin: 0 auto;
    width: 80%;
}
.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
.menu-line {
    width: 72px;
    padding-top: 50px;
    border-bottom: 2px solid #FFA800;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
ul.menu{
margin: 0;
padding: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
list-style: none;
position: absolute;
visibility: hidden;
}
li >a {
text-transform: uppercase;
color: #ffffff;
}
li >a:hover {
    color: #FFA800;
}
a {
    text-decoration: none;
cursor: pointer;
}
.menu-line:hover .menu {
    visibility: visible;
}
.logo {
    width: 550px;
    height: 500px;
    margin: 0 auto;
    transform: all;
}